<style>
    .available {
        background-color: lightgreen;
    }
</style>

<div class="row">
    <div class="col-lg-10">
        <h1>
            Assortiment :
        </h1>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-lg-3">
            <div type="text" ui-select2="conceptOptions" ng-model="request.concept" style="width: 100%;" placeholder="ex : Biscuit apéritif"></div>
        </div>
    </div>
</div>

<br/>
<br/>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed table-bordered">
            <thead class="color-action">
                <tr>
                    <th class="text-center">Image</th>
                    <th>Nom</th>
                    <th class="text-center">Packaging</th>
                    <th class="text-center">Marque</th>
                    <th class="text-center" colspan="3">Prix</th>
                    <th class="text-center">Disponibilité</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="productinshop in productinshops" ng-class="{ 'available': productinshop.isProducedBy.id == request.brand.id }">
                    <td>
                        <img height="32px" width="32px" ng-src="{{ productinshop.picture.main }}"/>
                    </td>
                    <td>{{ productinshop.name }}</td>
                    <td class="text-center">{{ productinshop.instantiates.factorSIFU }} mL</td>
                    <td class="text-center">{{ productinshop.isProducedBy.name }}</td>
                    <td class="text-center">{{ productinshop.price.min | number:2 }} €</td>
                    <td class="text-center">{{ productinshop.price.average | number:2 }} €</td>
                    <td class="text-center">{{ productinshop.price.max | number:2 }} €</td>
                    <td class="text-center">{{ productinshop.available.percentage * 100 | number:0 }} %</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>