.product-in-shop {
    .stats-segment {
        div {
            display: inline;
        }
    }

    [alk-model-product-certified-select] {
        padding-right: 0;
        margin-right: 0.5em;

        select {
            padding: 0;
            width: 100%;
        }
    }

    .help-icon {
        cursor: pointer;
        font-size: 1em;
        line-height: 2em;
    }

    table {
        margin-bottom: 0;
    }
}
