<div class="modal-header">
    <h3>
        <span ng-hide="editMode">
            Créer une nouvelle gamme de produits
        </span>
        <span ng-show="editMode">
            Edition de la gamme {{ productSegment.name }}
        </span>
    </h3>
</div>

<!-- Help -->
<div>
    <div accordion="" close-others="false">
        <div accordion-group="" is-open="display.help">
            <div accordion-heading="">
                <i class="fa fa-question-circle" ng-click="display.help = !display.help"></i> Guide Utilisateur
            </div>
                <strong>Qu'est-ce qu'une gamme de produits ?</strong><br/>
                Une gamme de produits est un ensemble de produits qui peut être caractérisé par des propriétés communes, ou non.
                Les gammes sont la clé de la souplesse d'utilisation de la plateforme Alkemics.<br/>
                Créez vos gammes puis affectez-y des équipes avec des
                membres ayant chacun des rôles et capacités précises : cela vous permettra de mieux structurer vos processus de qualification et de certification !<br/>
                <strong>Quels sont les étapes de création ?</strong><br/>
                Choisissez d'abord un nom pour votre nouvelle gamme de produits.<br/>
                À ce jour, il vous est également possible de préciser :<br/>
                    - les GLNs concernés par cette gamme<br/>
                    - une ou plusieurs marques pour un filtrage supplémentaire<br/>
                <strong>Et ensuite ?</strong><br/>
                Une fois la gamme de produits créée, elle est liée à votre organisation. Vous y avez accès, mais n'oubliez pas d'octroyer les droits nécessaires à vos collègues si vous
                voulez que ce soit le cas pour eux également!<br/>
                <i class="fa fa-heart"></i>
        </div>
    </div>
</div>


<div class="modal-body">
    <div>
        Nom de votre nouveau segment de produits:<br/>
        <input class="form-control" ng-model="productSegmentName" placeholder="Ex: Yaourts frais"></input>
    </div>

    <br/>
    <div ng-if="segmentLoaded"> Précisez une ou plusieurs marques <l>(facultatif)</l>:
        <div alk-autocomplete-my
             alk-autocomplete-type="brand"
             alk-autocomplete-restrict="'organization-brand'"
             alk-autocomplete-multiple="true"
             placeholder="Rechercher parmi les marques"
             ng-model="brands">
        </div>
    </div>
    <div ng-hide="segmentLoaded">
        <i class="fa fa-spin fa-spinner"></i>
    </div>
    <!-- TODO : Add Products -->


    <br/>
    <div ng-click="display.advanced = !display.advanced" class="clickable">
        <i class="fa fa-plus" ng-if="!display.advanced"/>
        <i class="fa fa-minus" ng-if="display.advanced"/>
        <span ng-hide="display.advanced">
            <strong> Voir les GLNs</strong>
        </span>
        <span ng-show="display.advanced">
            <strong> Cacher les GLNs</strong>
        </span>
    </div>
    <br/>
    <div ng-show="display.advanced">
        GLNs:
        <div class="input-group" ng-repeat="gln in glns track by $index">
            <input class="form-control text-center" disabled ng-model="gln"/>
            <span class="input-group-btn">
                <div class="btn btn-default" ng-click="removeGLN($index)">
                    <i class="fa fa-trash"></i>
                </div>
            </span>
        </div>
        <div class="input-group" ng-show="possibleGLNS.length > 0 && pendingGLN">
            <select class="form-control"
                ng-model="pendingGLN"
                ng-options="pgln for pgln in possibleGLNS"/>
              <span class="input-group-btn">
                <div class="btn btn-default" ng-click="addGLN()">
                    <i class="fa fa-check"></i>
                </div>
            </span>
        </div>
        <br/>
        <div class="text-right" ng-if="possibleGLNS.length > 0">
            <div class="btn btn-default" ng-click="addGLN()">
               Ajouter un GLN
            </div>
        </div>
    </div>


</div>

<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> Annuler</button>
        <button class="btn btn-success" ng-click="submit()"><i class="fa fa-check"></i> Valider</button>
    </div>
</div>
