exports.config = {
  seleniumAddress: 'http://127.0.0.1:4444/wd/hub',

  suites: {
    home: 'integration/home/*.scenario.js',
    registration: 'integration/registration/*.scenario.js',
    login: 'integration/login/*.scenario.js'
  },

  baseUrl: 'http://localhost.alkemics:9005/#/',

  capabilities: {
    'browserName': 'chrome'
  },

  // If you need to disable websecurity uncommented the following lines
  // And remove the previous capabilities option
  //capabilities: {
  //  browserName: 'chrome',
  //  chromeOptions: {
  //    args: ['--disable-web-security']
  //  }
  //},

  params: {
    website: {
      url: 'http://localhost.alkemics.com:9005/#/'
    },
    user: {
      username: 'XXXXXXXXXXX',
      password: 'XXXXXXXXXXX'
    }
  }
};
