<div ng-include="'/src/maker/home/header.html'"></div>

<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-default" href="/#/dmp/activation/campaign">
                <i class="fa fa-arrow-left"></i> Retour
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h1>
                {{ campaign.name }}
                <br/>
                <small>Statistiques</small>
            </h1>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="pull-right">
                <form class="form-inline" role="form">
                    <br/>
                    <div class="form-group">
                        <label>Du</label>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   datepicker-popup="yyyy-MM-dd"
                                   datepicker-options="dateOptions"
                                   close-text="Fermer"
                                   clear-text="Annuler"
                                   current-text="Auj."
                                   toggle-weeks-text="Semaines"
                                   is-open="opened.dateStart"
                                   ng-required="true"
                                   ng-model="request.dateStart"
                                   ng-change="refresh()"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'dateStart')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> au </label>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   datepicker-popup="yyyy-MM-dd"
                                   datepicker-options="dateOptions"
                                   close-text="Fermer"
                                   clear-text="Annuler"
                                   current-text="Auj."
                                   toggle-weeks-text="Semaines"
                                   is-open="opened.dateEnd"
                                   ng-model="request.dateEnd"
                                   ng-required="true"
                                   ng-change="refresh()"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'dateEnd')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="refreshInProgress || noData">
        <div class="col-lg-9 col-sm-12">
            <portlet color="green" title="Volumes d'affichages &amp; taux de clic">
                <div nvd3-line-plus-bar-chart
                    data="linechartVolumes"
                    objectequality="true"
                    xAxisTickFormat="graph.dateFilter()"
                    y1AxisTickFormat="graph.floatFilter()"
                    y2AxisTickFormat="graph.floatFilter()"
                    barinteractive="true"
                    height="400"
                    forceY="0"
                    showXAxis="true"
                    showYAxis="true"
                    tooltipcontent="true"
                    lineinteractive="true"
                    objectequality="true"
                    margin="{left:60, right:60}"
                    showLegend="true">
                </div>
            </portlet>
            <!-- <pre>{{ linechartVolumes | json }}</pre> -->
        </div>

        <div class="col-lg-3 col-sm-12">
            <metric color="green-inverse" title="Totaux"></metric>
            <metric color="green" title="Affichage">
                {{ totalViews | alkPowerOfThousands }}
            </metric>
            <metric color="green" title="Clics">
                {{ totalClicks | alkPowerOfThousands }}
            </metric>
            <metric color="green" title="Taux de Clic">
                {{ totalClicks / totalViews * 100 | number:2 }} %
            </metric>
        </div>
    </div>


    <div class="row" ng-hide="refreshInProgress || noData">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr class="color-stream-inverse">
                            <th>Date</th>
                            <th ng-repeat="display in linechartVolumes[0].values">{{display[0] | date:'dd-MM'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="color-stream">Impressions</th>
                            <td ng-repeat="display in linechartVolumes[0].values">{{display[1]}}</td>
                        </tr>
                        <tr>
                            <th class="color-stream">Clics</th>
                            <td ng-repeat="click in clicks.values">{{click[1]}}</td>
                        </tr>
                        <tr>
                            <th class="color-stream">Taux Clic %</th>
                            <td ng-repeat="tx in txClick.values">{{tx[1]}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-if="refreshInProgress">
        <div class="col-sm-12 text-center">
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
    </div>
    <div class="row" ng-if="noData">
        <div class="col-sm-12 text-center">
            Aucune donnée n'a été trouvé pour cette campagne.
        </div>
    </div>
</div>
