<div class="modal-header">
    <h3>
        Duplication
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <h4 class="col-xs-12">Produit</h4>
        <div class="col-xs-12">
            <img entity-image entity="product" height="60" width="60">
            <span>{{ product.nameLegal }}</span>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="well">Vous allez créer une copie du produit ci-dessus.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label>Choisisez l'EAN du nouveau produit :</label>
                    <input ng-model="reference" class="form-control" style="width: 200px;" required/>
                    <button class="btn btn-success" ng-click="searchProductReference(reference)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()"><i class="fa fa-times"></i> Annuler</button>
    <button class="btn btn-success" ng-click="ok(product, reference)"><i class="fa fa-plus"></i> Dupliquer</button>
</div>
