html, body, [ng-view] {
    height: 100%;
}

.nav-tabs {
    li {
        cursor: pointer;
    }
}

#stream {
    .page-grey {
        @extend .container-fluid;
        background-color: $background-color-grey;
        min-height: 100%;
        top: $navbar-height;
        bottom: 0;
        right: 0;
        left: 0;

        h1 {
            background-color: $background-color-grey;
        }
    }
}

// Legacy
#stream h1 {
    @extend .color-stream;
}

.browserhappy-top {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 10px;

    background-color: #f0ad4e;
    color: white;
}

body {
    margin: 0px;
    padding-top: $navbar-height;
    padding-bottom: 0px;

    .sidebar {
        .badge {
            background-color: white;
        }
    }
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

.true-link {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.pointer-link {
    cursor: pointer;
}

.inline-logo {
    height: 1em;
    display: inline-block;
    vertical-align: baseline;
}

textarea.resize-vertical {
    resize: vertical;
}
