.navbar-brand span {
    position: relative;
    bottom: -4px;
}
.navbar {
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > .active > a {
    text-decoration: underline;
}


.jumbotron {

    margin-bottom: 0px;
    font-size: inherit;

    .motto {
        margin-top: 40px;
        margin-bottom: 40px;
        color: black;
        h2 {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 50px;
        }
        p {
            margin-top: 10px;
            font-size: 20px;
        }
    }

    .subscribe {
        font-size: 14px;
        line-height: 18px;
        a {
            color: white;
            text-decoration: underline;
        }
        button {
            background-color: white;
        }
    }

    .pricing {

        .price {
            font-size: 220px;
            line-height: 180px;
            margin-top: 0px;
            margin-right: 10px;
        }
        .per {
            font-size: 30px;
            line-height: 34px;
            margin-top: 15px;
        }
    }
}

.workflow {
    img {
        width: 100%;
    }
}

.feature {
    margin-bottom: 25px;
    h3 {
        margin-top: 5px;
    }
}