<div class="full-screen color-green-inverse" id="login-holder">
    <div class="center" ng-show="!pendingRedirection">
        <form class="form-horizontal" ng-submit="submit()" ng-hide="isReset">
            <div ng-show="displayActivationMessage">
                <div class="form-group">
                    <label class="col-lg-2"></label>
                    <div class="col-lg-10">
                        Votre adresse email a bien été validée.<br/>
                        Vous pouvez dès à présent vous connecter sur la plateforme.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="login-inp form-control" ng-model="login" placeholder="Email"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword1" class="col-lg-2 control-label">Mot de Passe</label>
                <div class="col-lg-10">
                    <input type="password" class="login-inp form-control" ng-model="password" placeholder="Mot de Passe"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10 text-right">
                    <div class="pull-left">
                        <a class="true-link" href="/#/account/send_password_reset">
                            Mot de passe oubli&eacute; ?
                        </a>
                    </div>
                    <button class="btn color-action-inversed">Me connecter</button>
                </div>
                <div>
                    <span>{{ message }}</span>
                </div>
            </div>
        </form>
        <form class="form-horizontal" ng-submit="reset()" ng-show="isReset">
            <div class="form-group">
                <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="login-inp form-control" ng-model="login" placeholder="Email"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn pull-right color-action-inversed">Reset my password</button>
                </div>
                <div>
                    <span>{{ message }}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="text-center bottom copyright">
        Proudly powered by Alkemics SAS &copy; 2011-2015
    </div>
</div>
