<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid">
    <div class="col-md-2 color-settings sidebar">
        <div ng-include="'/src/settings/side-bar.html'"></div>
    </div>
    <div class="col-md-10 col-md-offset-2">
        <div class="row">
            <section class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>
                            {{ organization.name }}                            
                        </h1>
                    </div>
                    </br>
                </div>
                
            </section>
            <section class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12">
                        <h2>
                            Mes Utilisateurs
                            <!-- <small>La liste des utilisateurs de mon organisation</small> -->
                        </h2>
                    </div>
                    </br>
                </div>

                <div class="row">
                    <div class="col-lg-4">                    
                        <label>Filtrer par Nom d'utilisateur</label>
                        <input ng-model="userNameFilter" data-placeholder="Un nom d'utilisateur" style="width: 100%;"></input>
                    </div>                                                            
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-condensed table-bordered">
                            <thead class="color-action">
                                <tr>
                                    <th>Nom utilisateur</th>
                                    <th>Nombre de Marques</th>
                                    <th>R&ocirc;le</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="member in members | filter:userNameFilter">
                                    <td>
                                        <img gravatar-src="member.username" gravatar-size="20" height="20" width="20"/>
                                        <a href="/#/settings/profile">
                                            <span style="margin: 5px;">
                                                {{ member.firstname }}
                                                {{ member.lastname }}                                        
                                            </span>                        
                                        </a>                    
                                    </td>
                                    <td>                                        
                                        {{ member.managesBrand.length }}                                        
                                    </td>
                                    <td style="line-height: 20px;">
                                        {{ member.permission | filterPermission }}
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/#/settings/organization/{{ organizationId }}/members/new">
                                            <span style="cursor: pointer; float:left;">
                                                <img gravatar-src="'toto'" gravatar-size="20" height="20" width="20"/>
                                            </span>
                                            <span style="cursor: pointer; float:left; margin-left:5px">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                            <span style="cursor: pointer; float:left; margin-left:5px">
                                                Ajouter un utilisateur
                                            </span>
                                        </a>
                                    </td>
                                    <td>                                        
                                        
                                    </td>
                                    <td style="line-height: 20px;">
                                        
                                    </td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>            
        </div>        
    </div>
</div>
