<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid">
    <div class="col-md-2 color-settings sidebar">
        <div ng-include="'/src/settings/side-bar.html'"></div>
    </div>
    <div class="col-md-10 col-md-offset-2">
        <div class="row">
            <section class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>
                            {{ organization.name }}                            
                        </h1>
                    </div>
                    </br>
                </div>
                
            </section>
            <section class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12">
                        <h2>
                            Création d'un nouvel utilisateur                            
                        </h2>
                    </div>
                    </br>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" role="form" name="memberForm">
                            <div class="row" ng-init="formInit(memberForm)">
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label for="lastname" class="col-sm-2 control-label">Nom</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="name" ng-model="member.lastname" placeholder="Le nom de famille de l'utilsateur" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstname" class="col-sm-2 control-label">Prénom</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="name" ng-model="member.firstname" placeholder="Le prénom de l'utilisateur" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">Email professionnel</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" name="moto" ng-model="member.username" placeholder="Email Professionnel"/>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="description" class="col-sm-2 control-label">Poste</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="description" ng-model="member.description" placeholder="Le poste occupé par cet utilisateur dans votre organisation"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="history" class="col-sm-2 control-label">N° de Téléphone</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="history" ng-model="member.phoneNumber" placeholder="Le numéro de téléphone de l'utilisateur"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Rôles</label>
                                        <div class="col-sm-10">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="isAdmin" ng-model="member.isOrganizationAdmin"/>
                                                <i class="fa fa-wrench"></i> Administrateur
                                            </label>                                            
                                        </div>
                                    </div>                                    
                                </div>                                
                            </div>
                            <br/>
                            <br/>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="btn btn-warning pull-right" ng-click="save(member)">
                                        <i class="fa fa-save"></i>
                                        Créer et inviter l'utilisateur
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>            
        </div>        
    </div>
</div>
