<div class="row">
    <div class="col-lg-10">
        <h1>
            {{ product.name }}
            <small>
                {{ product.isProducedBy.name }}
            </small>
        </h1>
    </div>
    <div class="col-lg-2">
        <img class="pull-right" ng-src="{{ product.isProducedBy.picture.logo }}" height="100px"/>
    </div>
</div>

<!--
<div class="row">
    <div class="col-lg-10">
        Dans les web services Chef Jérôme, ce produit est disponible à <a ng-href="{{ productInShop._href }}">cette URL</a>.
    </div>
</div>
-->

<h2>Général</h2>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5 text-center">
        Données officielles
    </div>
    <div class="col-sm-1 text-center">
        <button class="btn btn-default"><i class="icon-double-angle-right"></i></button>
    </div>
    <div class="col-sm-5 text-center">
        Données magasin
    </div>
</div>

</br>
</br>

<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="name" class="col-sm-1 control-label">Nom du produit</label>
                <div class="col-sm-5">
                    <input type="text" disabled class="form-control" ng-model="product.name" placeholder="ex : Cola sans caféine">
                    <span class="help-block"></span>
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-default"><i class="icon-angle-right"></i></button>
                </div>
                <div class="col-sm-5 has-error">
                    <input type="text" class="form-control" ng-model="productInShop.name" placeholder="ex : Cola sans caféine">
                    <span class="help-block">Le nom du produit, sans marque ni packaging.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="packaging" class="col-sm-1 control-label">Packaging</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="product.packaging" placeholder="ex : 6 canettes de 330 mL" disabled>
                    <span class="help-block">&nbsp;</span>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="product.isFresh" disabled> frais
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="product.isFrozen" disabled> surgelé
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="product.isCanned" disabled> en conserve
                    </label>
                    <!--
                    factorFUPA
                    factorSIFU
                    quantityNormalized
                    unitFridge
                    -->
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-default"><i class="icon-angle-right"></i></button>
                </div>
                <div class="col-sm-5 has-success">
                    <input type="text" class="form-control" ng-model="productInShop.packaging" placeholder="ex : 6 canettes de 330 mL">
                    <span class="help-block">La description du packaging du produit.</span>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="productInShop.isFresh"> frais
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="productInShop.isFrozen"> surgelé
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="productInShop.isCanned"> en conserve
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="packaging" class="col-sm-1 control-label">Pack shot</label>
                <div class="col-sm-5">
                    <img class="col-sm-12 img-thumbnail" ng-src="{{ product.picture.main }}"/>
                </div>
                <div class="col-sm-1 text-center">
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    <button class="btn btn-default"><i class="icon-angle-right"></i></button>
                </div>
                <div class="col-sm-5">
                    <img class="col-sm-12 img-thumbnail" ng-src="{{ productInShop.urlPicture }}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-1 control-label">Description</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="3" ng-model="product.description" disabled></textarea>
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-default"><i class="icon-angle-right"></i></button>
                </div>
                <div class="col-sm-5 has-error">
                    <textarea class="form-control" rows="3" ng-model="productInShop.description"></textarea>
                    <span class="help-block">La description du produit.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="advices" class="col-sm-1 control-label">Conseils</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="3" ng-model="product.advices" disabled></textarea>
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-default"><i class="icon-angle-right"></i></button>
                </div>
                <div class="col-sm-5 has-warning">
                    <textarea class="form-control" rows="3" ng-model="productInShop.advices"></textarea>
                    <span class="help-block">Conseils d'utilisation du produit.</span>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="pull-right btn color-product"><i class="icon-save"></i> Enregistrer</button>
        </div>
    </div>
</form>
