        <div class="row">
            <div class="col-lg-12">
                <h3>
                    Eléments commerciaux :
                </h3>
            </div>
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Raison sociale</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="brand.legalName" placeholder="Raison sociale de votre marque">
                    </div>
                </div>
                <div class="form-group">
                    <label for="moto" class="col-sm-2 control-label">RCS</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="moto" ng-model="brand.legalNumber" placeholder="Votre numéro RCS">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="moto" ng-model="brand.legalCity" placeholder="Ville d'inscription au RCS">
                    </div>
                </div>
                <div class="form-group">
                    <label for="url" class="col-sm-2 control-label">Adresse</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="brand.street" placeholder="N° et rue"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="brand.postCode" placeholder="Code postal">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="brand.city" placeholder="Ville">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="brand.country" placeholder="Pays">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-click="submit()" class="pull-right btn color-product"><i class="fa fa-save"></i> Enregister</button>
                    </div>
                </div>
            </div>
        </div>