<div class="modal-header" ng-if="productInShops.length === 1">
    <div class="pull-right">
        <img height="60" width="60" ng-src="{{ productInShops.0.picture.main }}"/>
    </div>
    <h3>
        Demander une modification du produit suivant
        <small>{{ productInShops.0.name }}</small>
    </h3>
</div>
<div class="modal-header" ng-if="productInShops.length > 1">
    <h3>
        Demander une modification des produits ci-dessous
    </h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="from">De :</label>
            <input type="email" disabled class="form-control" id="from" ng-model="message.from.username">
        </div>
        <div class="form-group">
            <label for="to">À :</label>
            <div recipient-bar recipients="recipients"></div>
        </div>
        <div class="form-group">
            <label for="subject">Objet :</label>
            <input type="text" disabled class="form-control" id="subject" ng-model="message.subject">
        </div>
        <div class="form-group">
            <label for="subject">Votre message :</label>
            <textarea class="form-control resize-vertical" id="details" ng-model="message.details"></textarea>
        </div>
        <div class="form-group">
            <div class="well text-center">
                {{ message.from.firstname }} {{ message.from.lastname }} vous invite à modifier la fiche produit suivante :
                <br/>
                <br/>
                <div ng-repeat="productInShop in productInShops">
                    <img height="120" width="120" class="img-thumbnail" ng-src="{{ productInShop.picture.main }}"/>
                    <br/>
                    <br/>
                    {{ productInShop.name }} ({{ productInShop.shortIdOut }})
                    <br/>
                    <br/>
                    <span class="btn btn-success">J'y vais !</span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="text-right">
        <span class="btn btn-warning" ng-click="cancel()"><i class="fa fa-times"></i> Annuler</span>
        <span class="btn btn-success" ng-click="ok()"><i class="fa fa-envelope"></i> Envoyer</span>
    </div>
</div>
