.idea
node_modules
dist
.tmp
.sass-cache
app/bower_components
app/bower_components/*
!app/bower_components/angular-mocks/content-mocks.js
grunt-aws.json
snapshots
xmloutput
dashboard-flux-test-results.xml

*.DS_Store
app.tar.gz
app/styles
test/protractor.conf.js
