<div ng-include="'/src/retailer/home/header.html'"></div>

<div class="container product-in-shop-segment">
    <h1>Mes fournisseurs</h1>

    <br/>
    <div class="well">
        <div class="row">
            <div class="col-sm-2">Référence fournisseur</div>
            <div class="col-sm-3">Nom du fournisseur</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <form class="form-inline" role="form">
                <div class="col-sm-2">
                    <input type="text" class="form-control" style="width: 100%;"
                           placeholder="Référence"
                           ng-model="request.productInShopSegment.shortId"
                           ng-change="refresh()"
                           analytics-on="click" analytics-event="RET Suppliers Field Ref"/>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" style="width: 100%;"
                           placeholder="Nom du fournisseur"
                           ng-model="request.productInShopSegment.name"
                           ng-change="refresh()"
                           analytics-on="click" analytics-event="RET Suppliers Field Name"/>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success" style="width: 100%;"
                            ng-click="refresh()"
                            analytics-on="click" analytics-event="RET Suppliers Button Search">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center pagination-block">
            <div alk-sdk-pagination
                boundary-links="true"
                direction-links="false"
                total-items="request.totalProductSegments"
                ng-model="currentPage"
                items-per-page="request.limit"
                max-size="10"
                ng-change="onPageChangeFromPaginator()"
                rotate="true"
                first-text="&laquo;"
                last-text="&raquo;"
                analytics-on="click" analytics-event="RET Suppliers Change Page">
            </div>
        </div>
        <div class="col-sm-3 text-right pagination-block">
            <span class="pagination-text ">
                {{ request.totalProductSegments }} {{ request.totalProductSegments > 1 ? 'segments' : 'segment' }} / {{ request.totalPages }} {{ request.totalPages > 1 ? 'pages' : 'page' }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead class="color-stream-inverse">
                    <tr>
                        <th class="text-center">Référence</th>
                        <th>Nom du fournisseur</th>
                        <th>Actions</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">En cours</th>
                        <th class="text-center">Certifiés</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="productInShopSegment in productInShopSegments">
                        <td class="text-center">{{ productInShopSegment.shortId }}</td>
                        <td>{{ productInShopSegment.name }}</td>
                        <td class="text-center">
                            <a class="btn btn-success" ng-href="/#/retailer/productinshop?segment_id={{ productInShopSegment.id }}"
                               analytics-on="click" analytics-event="RET Suppliers Button View Product">
                                <i class="fa fa-barcode"></i> Produits
                            </a>
                            <span class="btn btn-warning" ng-click="edit(productInShopSegment)"
                                  analytics-on="click" analytics-event="RET Suppliers Button Edit Supplier">
                                <i class="fa fa-pencil"></i> Editer
                            </span>
                        </td>
                        <td class="text-center">{{ productInShopSegment.statistics.total }}</td>
                        <td class="text-center">{{ productInShopSegment.statistics.inProgress }}</td>
                        <td class="text-center">{{ productInShopSegment.statistics.certified }}</td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 text-center pagination-block">
            <div alk-sdk-pagination
                boundary-links="true"
                direction-links="false"
                total-items="request.totalProductSegments"
                ng-model="currentPage"
                items-per-page="request.limit"
                max-size="10"
                ng-change="onPageChangeFromPaginator()"
                rotate="true"
                first-text="&laquo;"
                last-text="&raquo;"
                analytics-on="click" analytics-event="RET Suppliers Change Page">
            </div>
        </div>
        <div class="col-sm-3 text-right pagination-block">
            <span class="pagination-text ">
                {{ request.totalProductSegments }} {{ request.totalProductSegments > 1 ? 'segments' : 'segment' }} / {{ request.totalPages }} {{ request.totalPages > 1 ? 'pages' : 'page' }}
            </span>
        </div>
    </div>
    <br/>

</div>
