<div ng-include="'/src/retailer/home/header.html'"></div>

<div class="container">
    <h1>Mes fournisseurs</h1>

    <br/>
    <div class="well">
        <div class="row">
            <div class="col-sm-2">Référence fournisseur</div>
            <div class="col-sm-3">Nom du fournisseur</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <form class="form-inline" role="form">
                <div class="col-sm-2">
                    <input type="text" class="form-control" style="width: 100%;"
                           placeholder="Référence"
                           ng-model="request.productInShopSegment.shortId"
                           ng-change="refresh()"/>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" style="width: 100%;"
                           placeholder="Nom du fournisseur"
                           ng-model="request.productInShopSegment.name"
                           ng-change="refresh()"/>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success" style="width: 100%;"
                            ng-click="refresh()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <br/>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8 text-right">
            <span class="btn btn-success" ng-click="prev()" ng-if="request.offset > 0">
                <i class="fa fa-arrow-left"></i>
            </span>
            {{ request.offset }} - {{ request.offset + productInShopSegments.length }}
            <span class="btn btn-success" ng-click="next()" ng-if="request.limit === productInShopSegments.length">
                <i class="fa fa-arrow-right"></i>
            </span>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead class="color-stream-inverse">
                    <tr>
                        <th class="text-center">Référence</th>
                        <th>Nom du fournisseur</th>
                        <th>Actions</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">En cours</th>
                        <th class="text-center">Certifiés</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="productInShopSegment in productInShopSegments">
                        <td class="text-center">{{ productInShopSegment.shortId }}</td>
                        <td>{{ productInShopSegment.name }}</td>
                        <td class="text-center">
                            <a class="btn btn-success" ng-href="/#/retailer/productinshop?segment_id={{ productInShopSegment.id }}">
                                <i class="fa fa-barcode"></i> Produits
                            </a>
                            <span class="btn btn-warning" ng-click="edit(productInShopSegment)">
                                <i class="fa fa-pencil"></i> Editer
                            </span>
                        </td>
                        <td class="text-center">{{ productInShopSegment.statistics.total }}</td>
                        <td class="text-center">{{ productInShopSegment.statistics.inProgress }}</td>
                        <td class="text-center">{{ productInShopSegment.statistics.certified }}</td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-sm-offset-10 text-right">
            <span class="btn btn-success" ng-click="prev()" ng-if="request.offset > 0">
                <i class="fa fa-arrow-left"></i>
            </span>
            {{ request.offset }} - {{ request.offset + productInShopSegments.length }}
            <span class="btn btn-success" ng-click="next()" ng-if="request.limit === productInShopSegments.length">
                <i class="fa fa-arrow-right"></i>
            </span>
        </div>
    </div>
    <br/>

</div>
