
<div ng-click="innerClick()">
    <div class="btn btn-default" ng-if="form.$loading" ng-class="class">
        <i class="fa fa-spinner fa-spin"></i>
        Chargement...
    </div>
    <div class="btn btn-default" ng-if="form.$saving" ng-class="class">
        <i class="fa fa-cog fa-spin"></i>
        Enregistrement...
    </div>
    <div class="btn btn-stream" ng-if="!form.$loading && !form.$saving && form.$pristine" ng-class="class">
        <i class="fa fa-check"></i>
        Enregistré
    </div>
    <div class="btn btn-warning" ng-if="!form.$loading && !form.$saving && form.$dirty" ng-class="class">
        <i class="fa fa-save"></i>
        Enregistrer
    </div>
</div>
