<div class="modal-header">
    <h3>
        Ajouter des utilisateurs à {{ productSegment.name }}
    </h3>
</div>

<div class="modal-body">
    <div alk-autocomplete-my
         alk-autocomplete-type="user"
         alk-autocomplete-multiple="true"
         placeholder="Rechercher parmi les utilisateurs de votre organisation"
         ng-model="newUsers">
    </div>
</div>

<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> Annuler</button>
        <button class="btn btn-primary" ng-click="submit()"><i class="fa fa-check"></i> Valider</button>
    </div>
</div>
