<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid admin admin-page admin-user-permissions">

    <div class="row">
        <div class="col-xs-12">
            <h1>Les permissions utilisateurs</h1>
        </div>
    </div>

    <div class="row permissions-users">
    <div class="row-same-height row-full-height">

        <!-- Segment List -->
        <div class="col-xs-3 col-full-height col-top segments-list box-tile">
            <div class="row">
                <div class="col-xs-12 search">
                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control" ng-model="search.$" placeholder="Chercher une gamme">
                            <span class="pull-right">
                                <i class="fa fa-2x fa-search"></i>
                                <i  class="fa fa-2x fa-plus"
                                    ng-click="createProductSegment()"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    ng-attr-title="Créer une nouvelle gamme de produits"
                                    tooltip=""></i>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row segment"
                 ng-class="{ 'active':selectedSegment.id==segment.id }"
                 ng-repeat="segment in filteredSegments = (segments | filter:search | orderBy:'name')"
                 ng-click="selectSegment(segment.id)">
                <div class="col-xs-12">
                    {{ segment.name }}
                </div>
            </div>
            <div class="row segment">
                <div ng-hide="filteredSegments.length" class="col-xs-12">
                    Aucune gamme trouvée
                </div>
            </div>
        </div>

        <!-- Segment Zoom -->
        <div class="col-xs-9 col-full-height">
            <div class="row segment-details">
            <div class="row-same-height row-full-height">

                <div class="col-xs-12 header box-tile col-full-height">
                    <div class="row segment-details">
                    <div class="row-same-height row-full-height">
                        <div ng-if="segmentDetailsLoading || isLoading" class="col-xs-12 header text-center">
                            <i class="fa fa-3x fa-spin fa-spinner"></i>
                        </div>

                        <div ng-if="selectedSegment && !isLoading && !segmentDetailsLoading" class="col-xs-12 col-top header">
                            <div class="pull-right">
                                <i  class="fa fa-2x fa-user-plus"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    ng-attr-title="Ajouter un utilisateur à {{ selectedSegment.name }}"
                                    tooltip=""></i>
                                <!-- <i class="fa fa-2x fa-copy"></i> -->
                                <i class="fa fa-2x fa-edit"
                                   ng-click="editProductSegment(selectedSegment.id)"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    ng-attr-title="Editer la gamme {{ selectedSegment.name }}"
                                    tooltip=""></i>
                                <!-- <i class="fa fa-2x fa-trash"></i> -->
                            </div>
                            <h2>{{ selectedSegment.name }}</h2>
                            <p>
                                {{ selectedSegment.users.length || 0 }} utilisateurs - {{ selectedSegment.stats.total || 0 }} produits
                            </p>
                        </div>

                        <div ng-show="selectedSegment.users.length && !isLoading && !segmentDetailsLoading" class="body col-xs-12">
                            <div class="row" ng-repeat="user in selectedSegment.users | orderBy:'firstname'">
                                <div class="col-xs-12">
                                    <div user-permissions-row
                                         organization="organization"
                                         user="user"
                                         productsegment="selectedSegment">
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>

</div>
