<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid admin admin-page">

    <div class="row">
        <div class="col-xs-12">
            <h1>Les permissions utilisateurs</h1>
        </div>
    </div>

    <div class="row row-full-height">
    <div class="col-xs-12 col-full-height">
        <!-- Segment List -->
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12 box-tile">
                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control" ng-model="search.$" placeholder="Chercher un segment">
                            <i class="fa fa-search"></i>
                            <i class="fa fa-plus"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 box-tile" ng-repeat="segment in segments | filter:search">
                    {{ segment.name }}
                </div>
            </div>  
        </div>

        <!-- Segment Zoom -->
        <div class="col-xs-9 col-full-height">
            <div ng-show="selectedSegment" class="row segment-details">
                <div class="col-xs-12 box-tile header">
                    <div class="pull-right">
                        <i class="fa fa-2x fa-user-plus"></i>
                        <i class="fa fa-2x fa-copy"></i>
                        <i class="fa fa-2x fa-edit"></i>
                        <i class="fa fa-2x fa-trash"></i>
                    </div> 
                    <h1>Utilisateurs de {{ selectedSegment.name }}</h1>
                    <p>{{ selectedSegment.users.length || 0 }} utilisateurs - {{ selectedSegment.stats.counts || 0 }} produits</p>
                </div>

                <div class="col-xs-12 box-tile">
                    <div class="row" ng-repeat="user in selectedSegment.users">
                        <div class="col-xs-12">
                        {{ user | json }}
                        <div user-permission="" user="user" segment="selectedSegment"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</div>
