<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid admin admin-page admin-user-permissions">

    <div class="row">
        <div class="col-xs-12">
            <h1>
                Les permissions utilisateurs
                <a class="btn btn-default btn-gray change-view pull-right" ng-href="/#/organization/{{ organizationId }}/admin/permissions/productsegment?segment_id={{ selectedSegment.id }}">
                    Voir par gamme <i class="fa fa-refresh"></i>
                </a>
            </h1>

        </div>
    </div>

    <div class="row permissions-users">
    <div class="row-same-height row-full-height">

        <!-- User List -->
        <div class="col-xs-3 col-full-height col-top segments-list box-tile">
            <div class="row">
                <div class="col-xs-12 search">
                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control" ng-model="search.$" placeholder="Chercher un utilisateur">
                            <span class="pull-right">
                                <i class="mdi mdi-magnify"></i>
                                <i  class="mdi mdi-plus"
                                    ng-click="createUser()"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    ng-attr-title="Créer un nouvel utilisateur"
                                    tooltip=""></i>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row segment user"
                 ng-class="{ 'active':selectedUser.id==user.id }"
                 ng-repeat="user in filteredUsers = (users | filter:search | orderBy:'id')"
                 ng-click="selectUser(user.id)">
                <div class="col-xs-12">
                    <div class="name">
                        {{ user.firstname }} {{ user.lastname || 'Utilisateur' }}
                    </div>
                    <div class="details">
                        {{ user.managesProductSegment.length }} gammes
                    </div>
                </div>
            </div>
            <div class="row segment">
                <div ng-hide="filteredUsers.length" class="col-xs-12">
                    Aucun utilisateur trouvé
                </div>
            </div>
        </div>

        <!-- User Zoom -->
        <div class="col-xs-9 col-full-height">
            <div class="row segment-details">
                <div class="row-same-height row-full-height">

                    <div class="col-xs-12 header box-tile col-full-height">
                        <div class="row segment-details">
                            <div class="row-same-height row-full-height">
                                <div ng-if="isLoading" class="col-xs-12 header text-center">
                                    <i class="fa fa-3x fa-spin fa-spinner"></i>
                                </div>

                        <div ng-if="selectedUser && !isLoading" class="col-xs-12 col-top header">
                            <div class="pull-right">

                                <!-- <i class="mdi mdi-pencil"
                                   ng-click="editUser(selectedUser.id)"
                                   ng-attr-title="Editer l'utilisateur {{ selectedUser.firstname }} {{ selectedUser.lastname || 'Utilisateur' }}"
                                   tooltip=""></i> -->
                                <!-- <i class="fa fa-2x fa-trash"></i> -->
                            </div>
                            <h2>{{ selectedUser.firstname }} {{ selectedUser.lastname || 'Utilisateur' }}</h2>
                            <p>
                                {{ selectedUser.managesProductSegment.length || 0 }} gammes
                                <span ng-if="selectedUser.isAdmin" class="label label-success">Administrateur</span>
                                <button alk-confirm-action
                                        confirm-message="promoteUserAsAdminMessage"
                                        confirm-action="promoteUserAsAdmin"
                                        ng-if="!selectedUser.isAdmin"
                                        type="button" class="btn btn-link">
                                    Promouvoir en administrateur
                                </button>
                                <button alk-confirm-action
                                        confirm-message="revokeUserAsAdminMessage"
                                        confirm-action="revokeUserAdmin"
                                        ng-if="selectedUser.isAdmin"
                                        type="button"
                                        class="btn btn-link">
                                    Revoquer les droits administrateur
                                </button>
                            </p>
                        </div>

                        <div ng-show="selectedUser.allowedProductSegments('productsegment.show') && !isLoading" class="body col-xs-12">
                            <div class="row" ng-repeat="segmentId in selectedUser.allowedProductSegments('productsegment.show')">
                                <div class="col-xs-12" ng-if="segments[segmentId] != undefined">
                                    <div segment-permissions-row
                                         organization="organization"
                                         user="selectedUser"
                                         productsegment="segments[segmentId]">
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
