<div class="modal-header">
    <h3>
        Fiche produit
    </h3>
</div>
<div class="modal-body">
    <!-- Tabs selector -->
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li role="preview" ng-click="activeTab = 'general'" ng-class="{active: activeTab === 'general'}">
                    <a>Général</a>
                </li>
                <li role="preview" ng-click="activeTab = 'media'" ng-class="{active: activeTab === 'media'}">
                    <a>Médias</a>
                </li>
            </ul>
        </div>
    </div>

    <br>

    <!-- General Tab -->
    <div ng-include="'/src/maker/product/show/preview/preview.html'" ng-if="product && activeTab === 'general'"></div>

    <!-- Media Tab -->
    <div ng-include="'/src/maker/product/show/preview/preview-media.html'" ng-if="product && activeTab === 'media'"></div>
    <div ng-if="!product && !loading">
        Vous n'avez pas les permissions nécessaires pour afficher ce produit.
    </div>
    <div ng-if="loading">
        <i class="fa fa-spinner fa-3x fa-spin"></i>
    </div>
</div>
<div class="modal-footer">
    <div class="text-right">
        <span class="btn btn-primary" ng-click="ok()"><i class="fa fa-check"></i> OK</span>
    </div>
</div>
