<div ng-include="'/src/maker/home/header.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <br/>
            <a class="btn btn-default" href="/#/dmp/activation/campaign">
                <i class="fa fa-arrow-left"></i> Retour
            </a>
            <h1>
                Buy it now
                <br/>
                <small>Permettez aux visiteurs de votre site de commander vos produits dans un magasin en ligne !</small>
            </h1>

            <h2>Paramétrage</h2>
            <form role="form">
                <div class="form-group">
                    <label for="name">Comment appeler cette campagne ?</label>
                    <input type="text" class="form-control" ng-model="campaign.name" placeholder="ex : Opération spéciale Noël" id="name" required/>
                </div>

                <div>
                    <div class="form-group">
                        <label for="_runsOnProduct">Quel produits doivent-être affiché ?</label>
                        <div alk-autocomplete-my
                             alk-autocomplete-type="Product"
                             alk-autocomplete-multiple="true"
                             alk-autocomplete-restrict="restrict"
                             placeholder="Entrez un EAN"
                             ng-model="campaign._runsOnProduct"
                             id="_runsOnProduct"
                             required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                  <label>Quelles enseignes doivent apparaître ?</label>
                  <br>
                  <label ng-repeat="shop in authorizedShops | orderBy:'name'" class="campaign shop">
                    <input type="checkbox"
                           name="selectedShops[]"
                           ng-checked="selectedShops.indexOf(shop.id) > -1"
                           value="{{ shop.id }}"
                           ng-click="toggleSelection(shop.id)">
                    <img entity-image entity="shop" class=""/> {{ shop.name }}
                  </label>
                </div>

                <div class="form-group">
                    <label for="_runsIn">A quel emplacement ce module doit-il apparaître ?</label>
                    <div alk-autocomplete-my
                         alk-autocomplete-type="Placement"
                         alk-autocomplete-multiple="false"
                         placeholder="Choisir un emplacement"
                         ng-model="campaign._runsIn"
                         id="_runsIn">
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-1">
                            <label for="campaign-effective-start-date-time">Date de début de la campagne</label>
                            <div datepicker show-weeks="false" ng-model="campaign.startsAt" min-date="minDate" id="campaign-effective-start-date-time" required></div>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0">
                            <label for="campaign-effective-end-date-time">Date de fin de la campagne</label>
                            <div datepicker show-weeks="false" ng-model="campaign.endsAt" id="campaign-effective-end-date-time" required></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Call to action</label>
                    <input type="text" class="form-control" ng-model="campaign.parameters.callToAction" placeholder="Vos produits préférés à portée de clic !" id="call-to-action"/>
                </div>

                <div class="form-group">
                    <label for="comments">Commentaires</label>
                    <textarea class="form-control resize-vertical"
                              ng-model="campaign.parameters.comments"
                              placeholder="Commentaires"
                              id="comments"
                              required></textarea>
                </div>
                <br/>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-success" ng-click="persist()">
                        <i class="fa fa-save"></i> Enregistrer
                    </button>
                </div>
            </form>

            <div ng-if="preview">
                <h2>Intégration</h2>
                <p>
                    Il vous suffit d'utiliser l'URL en insérant votre app_id et votre client_id :
                </p>
                <pre>http://assets.toc.io/interfaces/landing-page-product-simple/v4/index.html#/?campaign_id={{ campaign.id }}&app_id=UA-0000-0&client_id=YOUR_CLIENTID
                </pre>
                <img src="/images/home/0800.png" class="pull-right" height="27"/>
                <p>
                    Pour toute question, vous pouvez également contacter notre support : <a href="mailto:support@alkemics.com">support@alkemics.com</a>
                </p>
                <br/><br/>
            </div>
        </div>
    </div>

</div>
