<div class="modal-header">
    <h3>
        Inviter un nouvel utilisateur
    </h3>
</div>

<div>
    <accordion close-others="false">
        <accordion-group is-open="isHelpOpened">
            <accordion-heading>
                <i class="fa fa-question-circle" ng-click="isHelpOpened = !isHelpOpened"></i> Comment ça marche ?
            </accordion-heading>
                <strong>Qu'est-ce que je dois faire ?</strong><br/>
                Remplissez tous les champs ci-dessous. Ils sont tous nécessaires à la création de votre invitation personalisée.<br/>
                <strong>Je ne veux pas que l'utilisateur invité ait accès à tous les marques de mon organisation</strong><br/>
                Il vous suffit de cliquer sur <strong>"Ses marques"</strong>.
                La liste des marques associées à votre organisation apparait. Par défaut, le nouvel utilisateur n'a accès à aucune d'entre elles.<br/>
                Il vous suffit de supprimer (décocher) ou d'ajouter (cocher) l'accès aux marques de votre choix.
                <strong>Qu'est ce que le statut 'Administrateur'?</strong><br/>
                En cochant la case concernée, l'utilisateur deviendra automatiquement 'administrateur' de votre organisation lors de l'activation de son compte.
                Cela signifie qu'il aura les mêmes droits que vous, et pourra notamment inviter d'autres utilisateurs à son tour.
                <br/><strong>Et ensuite?</strong><br/>
                L'utilisateur reçevra une invitation par e-mail à l'adresse precisée. Il lui suffira alors de cliquer sur le lien d'activation du compte
                présent dans le corps du mail: il lui sera proposé de définir un mot de passe personnel. Il pourra ensuite <strong>immédiatement utiliser la plateforme Alkemics!</strong>
        </accordion-group>
    </accordion>
</div>

<div class="modal-body">
    <form invitation="form">
        <div class="form-group">
            <label for="organisation">Organisation</label>
            <input type="text" class="form-control" ng-model="invitation.organization.nameLegal" name="organization" id="organization" style="width: 100%" required disabled/>
        </div>
        <div class="form-group">
            <label for="lastname">Son nom</label>
            <input type="text" ng-model="invitation.lastname" name="lastname" id="lastname" class="form-control" placeholder="ex: DUPONT" required/>
        </div>
        <div class="form-group">
            <label for="firstname">Son prénom</label>
            <input type="text" ng-model="invitation.firstname" name="firstname" id="firstname" class="form-control" placeholder="ex: Paul" required/>
        </div>
        <div class="form-group">
            <label for="job">Son poste</label>
            <input type="text" ng-model="invitation.jobTitle" name="job" id="job" class="form-control" placeholder="ex: Responsable Qualité" required/>
        </div>
        <div class="form-group">
            <label for="phone">Son numéro de téléphone</label>
            <input type="text" ng-model="invitation.phoneNumber" name="phone" id="phone" class="form-control" placeholder="ex: 0644424444" required/>
        </div>
        <div class="form-group">
            <label for="username">Son adresse email</label>
            <input type="email" ng-model="invitation.username" name="username" id="username" class="form-control" placeholder="ex : paul.dupont@acme.com" required/>
        </div>
        <div class="form-group">
            <label for="confirmation">Confirmation d'adresse email</label>
            <input type="email" ng-model="confirmation" name="username" id="confirmation" class="form-control" placeholder="ex : paul.dupont@acme.com" required/>
        </div>
        <div class="form-group" ng-if="brands">
            <div ng-click="isBrandsOpened = !isBrandsOpened">
                <label for="isBrandedBy">Ses marques</label> 
                <i ng-if="!isBrandsOpened" class="fa fa-plus"></i>
                <i ng-if="isBrandsOpened" class="fa fa-minus"></i>
            </div>
            <table ng-if="isBrandsOpened">
                <tr ng-repeat="brand in brands" class="ng-scope">
                    <td>{{ brand.name }}</td><td/>
                    <td><input type="checkbox" ng-model="state" ng-change="syncBrand(state, brand)"/></td>
                </tr>
            </table>
        </div>
        <div class="form-group">
                <label for="admin">Souhaitez vous lui conférer les droits 'Administrateur'?</label>
                <input style="margin-left:8px" id="admin" type="checkbox" ng-model="invitation.isAdmin"></input>
        </div>
        <div class="form-group">
                <label for="admin">Souhaitez vous recevoir un email de confirmation?</label>
                <input style="margin-left:8px" id="mailConfirmation" type="checkbox" ng-model="invitation.confirmation"></input>
        </div>


    </form>
</div>
<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> Annuler</button>
        <button class="btn btn-success" ng-click="submit()"><i class="fa fa-check"></i> OK</button>
    </div>
</div>