
<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <h4>{{ notifications.length }} non lues</h4>
        </div>
        <h2>
            Notifications :
        </h2>
        <div class="bs-callout bs-callout-{{ notification.levelName }}" ng-repeat="notification in notifications">
            <div class="pull-right">
                <p class="bs-action">
                    <a href="/#/flux/maker/product/12383/show"><i class="fa fa-eye"></i></a> &nbsp;
                    <i class="fa fa-check"></i>
                </p>
            </div>
            <h4><i class="fa fa-{{ notification.iconName }}"></i> {{ notification.subjectName }}</h4>
            {{ notification.message }}.
        </div>
    </div>
</div>