<h2>Ma marque</h2>

<section>
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    Eléments marketing :
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nom</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="brand.name" placeholder="Dénomination marketing de votre marque">
                    </div>
                </div>
                <div class="form-group">
                    <label for="moto" class="col-sm-2 control-label">Slogan</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="moto" ng-model="brand.moto" placeholder="Votre slogan">
                    </div>
                </div>
                <div class="form-group">
                    <label for="url" class="col-sm-2 control-label">Site internet</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" ng-model="brand.owns[0].url" placeholder="Site client de la marque">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" ng-model="brand.description" placeholder="Description de votre marque" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="history" class="col-sm-2 control-label">Histoire</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="history" ng-model="brand.history" placeholder="Histoire de votre marque" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="isHardDiscount" class="col-sm-2 control-label">Caractéristiques</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isHardDiscount" value="isHardDiscount"> <i class="fa fa-dollar"/><i class="fa fa-dollar"/> Marque hard discount
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isDiscount" value="isDiscount"> <i class="fa fa-dollar"/> Marque discount
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isRetailerOwned" value="isRetailerOwned"> Marque de distributeur
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isNational" value="isNational"> Marque nationale
                        </label>
                        <br/>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isOrganic" value="isOrganic"> Marque bio
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isEquitable" value="isEquitable"> <i class="fa fa-globe"/> Marque éco-responsable
                        </label>
                        <br/>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isGourmet" value="isGourmet">  <i class="fa fa-cutlery"/> Marque gourmet
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isBaby" value="isBaby"> Marque bébé
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isPet" value="isPet"> Marque petfood
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isWorldCooking" value="isWorldCooking"> Marque plats du monde
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <label for="logo" class="control-label">Logo</label>
                <br/>
                <br/>
                <div>
                    <img ng-src="{{ brand.picture.logo }}" style="width: 100%; padding-bottom: 20px;"/>
                </div>
                <div class="well">
                    <i class="fa fa-picture-o" name="logo"></i> Déposer ici votre logo
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>
                    Eléments commerciaux :
                </h3>
            </div>
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Raison sociale</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="brand.legalName" placeholder="Raison sociale de votre marque">
                    </div>
                </div>
                <div class="form-group">
                    <label for="moto" class="col-sm-2 control-label">RCS</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="moto" ng-model="brand.legalNumber" placeholder="Votre numéro RCS">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="moto" ng-model="brand.legalCity" placeholder="Ville d'inscription au RCS">
                    </div>
                </div>
                <div class="form-group">
                    <label for="url" class="col-sm-2 control-label">Adresse</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="brand.street" placeholder="N° et rue"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="brand.postCode" placeholder="Code postal">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="brand.city" placeholder="Ville">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="brand.city" placeholder="Pays">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-click="submit()" class="pull-right btn color-product"><i class="fa fa-save"></i> Enregister</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<section ng-if="brand.subBrands.length">
    <div class="row">
        <div class="col-lg-12">
            <h3>
                Sous-marques :
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <a ng-href="/#/flux/maker/{{ subBrand.id}}/show" ng-repeat="subBrand in brand.subBrands">
                        <img ng-src="{{ subBrand.picture.logo }}" width="64px" style="margin-right: 10px;"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<br/>
<br/>
<br/>
<br/>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="qtyEnergy" class="col-sm-2 control-label">Valeur énergétique</label>
        <div class="col-sm-3">
            <div class="input-group has-success">
                <input type="text" class="form-control" ng-model="product.qtyEnergy" placeholder="ex : 12.7">
                <span class="input-group-addon">kCal / 100g</span>
            </div>
            <span class="help-block">La valeur énergétique du produit ramenée à 100 g de produit, exprimée en kilo-calories.</span>
        </div>
        <div class="col-sm-6">
            <div class="popover fade right in" style="top: -48px; left: -12px; display: block; max-width: none;">
                <div class="arrow"></div>
                <h3 class="popover-title">Valeur énergétique</h3>
                <div class="popover-content">
                    La <strong>valeur énergétique</strong> d'un aliment est la quantité d'énergie pouvant en être retirée via la digestion. La <strong>valeur énergétique</strong> est exprimée en kilojoules (kJ) ou en kilocalories (kc). Pour obtenir celle-ci, on multiplie la quantité totale d'énergie contenue dans un aliment par 85 % (les pertes durant la digestion humaine représentent 15 % de la valeur totale).
                </div>
            </div>
        </div>
    </div>
</div>
-->