<div ng-include="'/src/maker/home/header.html'"></div>

<style>
.brand-logo {
    max-height: 40px;
    max-width: 40px;
}
</style>

<div class="container">
    <h2>Mes marques</h2>
    <div class="row">
        <div class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="openClaimBrandModal()">Gérer une nouvelle marque</button>
            <button class="btn btn-primary" ng-click="openClaimReferenceModal()">Créer un produit</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead class="color-stream-inverse">
                    <tr>
                        <td>Logo</td>
                        <td>Nom</td>
                        <td></td>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="brand in brands">
                        <td>
                            <img class="brand-logo" ng-src="https://smedia.alkemics.com/brand/{{ brand.id }}/picture/logo/original.png"/>
                        </td>
                        <td>
                            <a href="/#/maker/brand/{{ brand.id }}">{{ brand.name }}</a>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="/#/maker/brand/{{ brand.id }}">
                                <i class="fa fa-edit"></i> Éditer
                            </a>
                            <a class="btn btn-success" href="/#/maker/brand/{{ brand.id }}/product">
                                <i class="fa fa-barcode"></i> Produits
                            </a>
                            <button class="btn btn-success pull-right" ng-click="openClaimReferenceModal(brand)">Ajouter un produit à la marque</button>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>