<div class="modal-header">
    <div class="pull-right">
        <img height="60" width="60" ng-src="{{ productInShop.picture.main }}"/>
    </div>
    <h3>
        Attributer le produit
        <small>{{ productInShop.name }}</small>
    </h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="to">De :</label>
            <input type="email" disabled class="form-control" id="to" ng-model="message.from.username">
        </div>
        <div class="form-group">
            <label for="from">À :</label>
            <input type="email" class="form-control" id="from" placeholder="Entrez l'email de votre correspondant" ng-model="message.to.username">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Objet :</label>
            <input type="text" disabled class="form-control" id="from" ng-model="message.subject">
        </div>
        <div class="form-group">
            <div class="well text-center">
                {{ message.from.firstname }} {{ message.from.lastname }} vous invite à remplir votre fiche produit :
                <br/>
                <br/>
                <img height="120" width="120" class="img-thumbnail" ng-src="{{ productInShop.picture.main }}"/>
                <br/>
                <br/>
                {{ productInShop.name }} ({{ productInShop.shortIdOut }})
                <br/>
                <br/>
                <span class="btn btn-success">J'y vais !</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="text-right">
        <span class="btn btn-warning" ng-click="cancel()"><i class="fa fa-times"></i> Annuler</span>
        <span class="btn btn-success" ng-click="ok()"><i class="fa fa-envelope"></i> Envoyer</span>
    </div>
</div>