<footer class="navbar-inverse">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h2 class="color-company-transparent">À propos</h2>
            <ul>
                <li><a href="/#/company/customers">Clients</a></li>
                <li><a href="/#/company/team">Équipe</a></li>
                <li><a href="/#/company/hiring">Recrutement</a></li>
                <li><a href="/#/cgu">Termes &amp; conditions</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h2 class="color-advertising-transparent">Advertising</h2>
            <ul>
                <li><a href="/#/service/advertising/productlink">Product link</a></li>
                <li><a href="/#/service/advertising/coupon">Virtual coupon</a></li>
                <li><a href="/#/service/advertising/shoppinglist">Shopping list</a></li>
                <li><a href="/#/service/advertising/inbanner">In banner</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h2 class="color-stream-transparent">Data</h2>
            <ul>
                <li><a href="/#/service/data/search">Product stream</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h2 class="color-api-transparent">Web Services</h2>
            <ul>
                <li><a href="/#/service/webservices/search">Search</a></li>
                <li><a href="/#/service/webservices/substitution">Substitution</a></li>
                <!--<li><a href="/#/service/webservices/barcodescan">Barcode scan</a></li>-->
                <li><a href="/#/service/webservices/recommendation">Recommendation</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h2>Contact</h2>
            <div class="social">
                <a target="_blank" href="https://twitter.com/alkemicscom"><i class="fa fa-twitter"></i></a> &nbsp; &nbsp;
                <a target="_blank" href="https://www.linkedin.com/company/j-r-me"><i class="fa fa-linkedin"></i></a> &nbsp; &nbsp;
                <a target="_blank" href="https://www.facebook.com/Alkemics"><i class="fa fa-facebook"></i></a> &nbsp; &nbsp;
                <a href="mailto:contact@alkemics.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</footer>