
<div class="row">
    <div class="col-lg-10">
        <h1>{{ shop.name }} - Flux produit</h1>
    </div>
    <div class="col-lg-2">
        <img class="pull-right" ng-src="{{ shop.picture.logo }}" width="200px"/>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <h4>6 non lues</h4>
        </div>
        <h2>
            Notifications :
        </h2>

        <div class="bs-callout bs-callout-warning">
            <div class="pull-right">
                <p class="bs-action">
                    <a href="/#/flux/retailer/product/12383/show"><i class="icon-eye-open"></i></a> &nbsp;
                    <i class="icon-check-sign"></i>
                </p>
            </div>
            <h4><i class="icon-warning-sign"></i> Nouveau produit</h4>
            <strong>Père Dodu</strong> vient d'ajouter une informations sur un produit référencé : <strong>PERE DODU Nuggets de poulet</strong>.
        </div>

        <div class="bs-callout bs-callout-warning">
            <div class="pull-right">
                <p class="bs-action">
                    <a href="/#/flux/retailer/product/13577/show"><i class="icon-eye-open"></i></a> &nbsp;
                    <i class="icon-check-sign"></i>
                </p>
            </div>
            <h4><i class="icon-warning-sign"></i> Nouvelle image</h4>
            Le produit <strong>Escalope cordon bleu</strong> a désormais un nouveau <strong>packshot</strong>. Le valider ?
        </div>

        <div class="bs-callout bs-callout-danger">
            <div class="pull-right">
                <p class="bs-action">
                    <a href="/#/flux/retailer/product/11066/show"><i class="icon-eye-open"></i></a> &nbsp;
                    <i class="icon-check-sign"></i>
                </p>
            </div>
            <h4><i class="icon-warning-sign"></i> Rapport d'erreur</h4>
            <strong>Père Dodu</strong> vient de corriger une informations sur un produit référencé : <strong>PERE DODU Escalope cordon bleu</strong>.
        </div>

        <div class="bs-callout bs-callout-info">
            <div class="pull-right">
                <p class="bs-action">
                    <i class="icon-check-sign"></i>
                </p>
            </div>
            <h4><i class="icon-info-sign"></i> Nouveau champ disponible</h4>
            Il est désormais possible d'ajouter les mentions <strong>Produit de l'année</strong>.
        </div>

        <div class="bs-callout bs-callout-success">
            <div class="pull-right">
                <p class="bs-action">
                    <a href="/#/flux/retailer/product/13577/show"><i class="icon-eye-open"></i></a> &nbsp;
                    <i class="icon-check-sign"></i>
                </p>
            </div>
            <h4><i class="icon-check"></i> Nouveau produit importé</h4>
            Le produit <strong>Escalope cordon bleu</strong> a été ajouté à la gamme. Les magasins partenaires ont été informés.
        </div>

        <div class="bs-callout bs-callout-success">
            <div class="pull-right">
                <p class="bs-action">
                    <i class="icon-check-sign"></i>
                </p>
            </div>
            <h4><i class="icon-check"></i> Import catalogue réussi</h4>
            <strong>41 987</strong> produits ont été importés avec succès.
        </div>

    </div>
</div>