<div class="menu">
    <form role="form">
        <h4><i class="fa fa-filter"></i> Filtrer par...</h4>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" ng-model="request.product.name"/>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>EAN</label>
                <input type="text" class="form-control" ng-model="request.productreference.value"/>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Statut</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="status" value="1" checked>
                        Attribué
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="status" value="2" checked>
                        Accepté
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="status" value="3" checked>
                        Certifié
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="sheet container-fluid">
    <div class="row" infinite-scroll="more()">
        <div ng-repeat="product in products" class="col-sm-2 product">
            <div class="picture">
                <div class="ratio" ng-style="{'background-image': 'url(' + product.isInstantiatedBy[0].picture.main + ')'}"/>
                <!--<div class="ratio" ng-style="{'background-image': 'url(' + product.picture.main + ')'}"/>-->
            </div>
            <div class="name">
                <a href="/#/flux/maker/product/{{ product.id }}">
                    {{ product.name }}
                </a>
            </div>
            <div class="packaging">
                {{ product.packaging }}
            </div>
            <div class="progress">
                <div class="progress-bar" ng-class="{'progress-bar-warning': !product.status, 'progress-bar-success': product.status}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ product.completeness }}%;">
                    <span ng-show="!product.status" >{{ product.completeness }} %</span>
                    <i ng-show="product.status" class="fa fa-check"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-2 product new">
            <div class="picture">
                <div class="ratio">+</div>
            </div>
            <div class="name">
                <a href="/#/flux/maker/product/create">
                    Nouveau produit
                </a>
            </div>
            <div class="packaging">
            </div>
            <div class="progress">
            </div>
        </div>
    </div>
</div>

