<div template-product>
    <div ng-controller="DashboardMakerProductShowLabelController">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="label-summary" data-ng-if="product.isLabeledBy.length === 0">Ce produit a 0 label</div>
                <div class="label-summary" data-ng-if="product.isLabeledBy.length > 0">Les labels du produits :</div>
                <p><img data-ng-repeat="label in product.isLabeledBy" data-ng-src="https://smedia.alkemics.com/api/1/concept/{{ label.concept.id }}/picture/logo/original.png" class="label-picto"/></p>
            </div>

            <div
                data-ng-repeat="labelGroup in labelGroups"
                data-product="product"
                data-label-group="label-group"
                data-title="labelGroup.title"
                data-labels="labelGroup.labels">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <h3>Régimes religieux</h3>
            </div>
            <div class="col-sm-6">
                <h3>Régimes particuliers</h3>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="isKasher" ng-model="product.isKasher"/>
                        Kasher
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="isHalal" ng-model="product.isHalal"/>
                        Halal
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="isVegetarian" ng-model="product.isVegetarian"/>
                        Végétarien
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="isVegetalian" ng-model="product.isVegetalian"/>
                        Végétalien
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
