<div template-product>
<div ng-controller="DashboardMakerProductShowLabelCtrl">
<div class="form-group">
    <div class="col-sm-3">
        <h3>Agriculture biologique</h3>
        <div product-label product="product" legend="labels[19096]"></div>
        <div product-label product="product" legend="labels[19095]"></div>
        <div product-label product="product" legend="labels[19098]"></div>
        <div product-label product="product" legend="labels[19099]"></div>
        <div product-label product="product" legend="labels[19103]"></div>
        <div product-label product="product" legend="labels[19171]"></div>

        <h3>Qualité / récompenses</h3>
        <div product-label product="product" legend="labels[19126]"></div>
        <div product-label product="product" legend="labels[19166]"></div>
        <div product-label product="product" legend="labels[19169]"></div>
        <div product-label product="product" legend="labels[19170]"></div>

        <h3>Utilisation</h3>
        <div product-label product="product" legend="labels[19133]"></div>
        <div product-label product="product" legend="labels[19150]"></div>
    </div>


    <div class="col-sm-3">
        <h3>Développement durable</h3>
        <div product-label product="product" legend="labels[19094]"></div>
        <div product-label product="product" legend="labels[19097]"></div>
        <div product-label product="product" legend="labels[19101]"></div>
        <div product-label product="product" legend="labels[19102]"></div>
        <div product-label product="product" legend="labels[19107]"></div>
        <div product-label product="product" legend="labels[19108]"></div>
        <div product-label product="product" legend="labels[19121]"></div>
        <div product-label product="product" legend="labels[19110]"></div>
        <div product-label product="product" legend="labels[19122]"></div>
        <div product-label product="product" legend="labels[19111]"></div>
        <div product-label product="product" legend="labels[19112]"></div>
        <div product-label product="product" legend="labels[19134]"></div>
        <div product-label product="product" legend="labels[19149]"></div>
        <div product-label product="product" legend="labels[19152]"></div>
        <div product-label product="product" legend="labels[19153]"></div>
        <div product-label product="product" legend="labels[19155]"></div>
        <div product-label product="product" legend="labels[19156]"></div>
        <div product-label product="product" legend="labels[19157]"></div>
        <div product-label product="product" legend="labels[19158]"></div>
        <div product-label product="product" legend="labels[19159]"></div>
        <div product-label product="product" legend="labels[19160]"></div>
        <div product-label product="product" legend="labels[19161]"></div>
        <div product-label product="product" legend="labels[19162]"></div>
        <div product-label product="product" legend="labels[19163]"></div>
        <div product-label product="product" legend="labels[19164]"></div>
        <div product-label product="product" legend="labels[19165]"></div>
        <div product-label product="product" legend="labels[19167]"></div>
        <div product-label product="product" legend="labels[19168]"></div>
    </div>

    <div class="col-sm-3">
        <h3>Provenance</h3>
        <div product-label product="product" legend="labels[19100]"></div>
        <div product-label product="product" legend="labels[18266]"></div>
        <div product-label product="product" legend="labels[18264]"></div>
        <div product-label product="product" legend="labels[19104]"></div>
        <div product-label product="product" legend="labels[19106]"></div>
        <div product-label product="product" legend="labels[19105]"></div>
        <div product-label product="product" legend="labels[19151]"></div>
        <div product-label product="product" legend="labels[18265]"></div>
        <div product-label product="product" legend="labels[19109]"></div>
        <div product-label product="product" legend="labels[18942]"></div>
        <div product-label product="product" legend="labels[19154]"></div>
        <div product-label product="product" legend="labels[19122]"></div>
        <div product-label product="product" legend="labels[19128]"></div>
        <div product-label product="product" legend="labels[19129]"></div>
    </div>

    <div class="col-sm-3">
        <h3>Emballage / recyclage</h3>
        <div product-label product="product" legend="labels[19123]"></div>
        <div product-label product="product" legend="labels[19124]"></div>
        <div product-label product="product" legend="labels[19125]"></div>
        <div product-label product="product" legend="labels[19127]"></div>
        <div product-label product="product" legend="labels[19130]"></div>
        <div product-label product="product" legend="labels[19131]"></div>
        <div product-label product="product" legend="labels[19132]"></div>
        <div product-label product="product" legend="labels[19135]"></div>
        <div product-label product="product" legend="labels[19137]"></div>
        <div product-label product="product" legend="labels[19138]"></div>
        <div product-label product="product" legend="labels[19139]"></div>
        <div product-label product="product" legend="labels[19140]"></div>
        <div product-label product="product" legend="labels[19141]"></div>
        <div product-label product="product" legend="labels[19142]"></div>
        <div product-label product="product" legend="labels[19143]"></div>
        <div product-label product="product" legend="labels[19144]"></div>
        <div product-label product="product" legend="labels[19145]"></div>
        <div product-label product="product" legend="labels[19146]"></div>
        <div product-label product="product" legend="labels[19147]"></div>
        <div product-label product="product" legend="labels[19148]"></div>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-6">
        <h3>Régimes religieux</h3>
    </div>
    <div class="col-sm-6">
        <h3>Régimes particuliers</h3>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="product.isKasher"/>
                Kasher
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="product.isHalal"/>
                Halal
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="product.isVegetarian"/>
                Végétarien
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="product.isVegetalian"/>
                Végétalien
            </label>
        </div>
    </div>
</div>

</div>
</div>