<div ng-include="'/src/retailer/home/header.html'"></div>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <h1>{{ shop.name }} - Flux produit</h1>
        <div class="col-lg-2">
            <img class="pull-right" ng-src="{{ shop.picture.logo }}" width="200px"/>
        </div>
    </div>

</div>

<div class="col-lg-offset-2 col-lg-8">
    <div class="container-fluid" id="timeline">
    <br/>
    <br/>
      <div class="row">
        <div class="col-lg-12">
          <div class="timeline">

          <div class="tl-header now color-blue-inverse">Now</div>


            <div class="tl-entry" ng-repeat="notification in notifications">
              <div class="tl-time">
                {{ notification.event.timestamp * 1000 | date:'yyyy-MM-dd' }}<br>
                {{ notification.event.timestamp * 1000 | date:'HH:mm' }}
              </div>
              <div class="tl-icon {{ notification.resx.color }}"><i class="fa {{ notification.resx.icon }}"></i></div>

              <div class="panel tl-body" ng-if="notification.event.type == 'ProductInShopProductCertified'">
                <a href="mailto:{{ notification.event.data.user.username }}">
                    {{ notification.event.data.user.firstname }} {{ notification.event.data.user.lastname }}
                </a>
                {{ notification.certif }}
                {{ notification.event.data.product.nameLegal }} 
                <div class="tl-wide text-center" style="padding: 10px;margin-top:15px;margin-bottom: 15px;background: #f1f1f1">
                  <img src="{{ notification.event.data.productinshop.url_picture }}" alt="" style="max-height: 150px;max-width: 100%;">
                </div>
              </div>

              <div class="panel tl-body" ng-if="notification.event.type == 'ProductUpdated'">
                <a href="mailto:{{ notification.event.data.user.username }}">
                    {{ notification.event.data.user.firstname }} {{ notification.event.data.user.lastname }}
                </a>
                a mis à jour le produit 
                {{ notification.event.data.product.nameLegal }} 
              </div>             
            
              <div class="panel tl-body" ng-if="notification.event.type == 'PlatformNewFeature'">
                {{ notification.event.data.message }} 
              </div> 

            </div>

<!--
            <div class="tl-entry">
              <div class="tl-time">
                1h ago
              </div>
              <div class="tl-icon bg-success"><img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/avatars/4.jpg" alt=""></div>
              <div class="panel tl-body">
                <h4 class="color-green">Nouveau produit : Maggi Bouillon cub</h4>
              </div>
            </div>

            <div class="tl-entry">
              <div class="tl-time">
                1h ago
              </div>
              <div class="tl-icon color-green-inverse"><i class="fa fa-gavel"></i></div>
              <div class="panel tl-body">
                <img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/avatars/4.jpg" alt="" class="rounded" style=" width: 20px;height: 20px;margin-top: -2px;">&nbsp;&nbsp;
                <a href="#">Frédéric Loriaux (Nestlé)</a> a certifié le produit <a href="#">Nestlé Dessert Noir 2 x 125 g</a>
              </div>
            </div>

            <div class="tl-entry left">
              <div class="tl-time">
                2h ago
              </div>
              <div class="tl-icon color-yellow-inverse"><i class="fa fa-picture-o"></i></div>
              <div class="panel tl-body">
                <img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/avatars/4.jpg" alt="" class="rounded" style=" width: 20px;height: 20px;margin-top: -2px;">&nbsp;&nbsp;
                <a href="#">Frédéric Loriaux (Nestlé)</a> a ajouté une photo au produit <a href="#">Nestlé Dessert Noir 2 x 125 g</a>
                <div class="tl-wide text-center" style="padding: 10px;margin-top:15px;margin-bottom: 15px;background: #f1f1f1">
                  <img src="https://smedia.alkemics.com/product/2573/picture/packshot/original.png?42242494.3652004" alt="" style="max-height: 150px;max-width: 100%;">
                </div>
              </div>
            </div>

            <div class="tl-entry">
              <div class="tl-time">
                3h ago
              </div>
              <div class="tl-icon bg-success"><img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/avatars/5.jpg" alt=""></div>
              <div class="panel tl-body">
                <a href="#">Séverine Thévenelle (Nestlé)</a> a modifié <a>mode d'emploi</a> de <a href="#">Bouillon déshydraté</a>
                <div class="text-muted text-sm">Cuisson à l'eau : soupes, pâtes, riz, légumes : 1 cube ou 2 + 1 l d'eau bouillante. Cuisson à la cocotte : viandes, légumes, féculents : 1 cube + 1/4 l d'eau bouillante. Cuisson à la poêle : viandes, poissons, légumes et/ou féculents : 1 bouillon émietté directement dans la poêle. Inutile de saler.</div>
              </div>
            </div>

            <div class="tl-entry left">
              <div class="tl-time">
                4h ago
              </div>
              <div class="tl-icon color-orange-inverse"><i class="fa fa-check-square-o"></i></div>
              <div class="panel tl-body">
                <img src="https://media.licdn.com/media/p/8/005/044/302/20f64c9.jpg" alt="" class="rounded" style=" width: 20px;height: 20px;margin-top: -2px;">&nbsp;&nbsp;<a href="#">Olivier Jaupart (AuchanDrive)</a> vous rappelle de remplir <a href="#">Bouillon déshydraté poule au pot en tablettes</a> avant le 18 Septembre.
              </div>
            </div>

            <!-- Timeline header -->
<!--             <div class="tl-header color-blue-inverse">Yesterday</div>

            <div class="tl-entry">
              <div class="tl-time">
                9:02 pm
              </div>
              <div class="tl-icon color-blue-inverse"><i class="fa fa-comment"></i></div>
              <div class="panel tl-body">
                <img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/avatars/2.jpg" alt="" class="rounded" style=" width: 20px;height: 20px;margin-top: -2px;">&nbsp;&nbsp;
                <a href="#">Thierry Coquet (Nestlé)</a> a commenté le produit <a href="#">Maggi Soupe Déshydratée</a>
                <div style="margin-top: 10px;" class="text-sm">
                  <div class="well">
                    Nous devrions ajouter davantage d'informations sur le recyclage.
                  </div>
                  <img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/avatars/1.jpg" alt="" class="rounded" style=" width: 20px;height: 20px;margin-top: -2px;">&nbsp;&nbsp;<a href="#">Michelle Bortz (Nestlé)</a> commented 2 days ago
                  <div class="well well-sm" style="margin: 10px 0 0 0;">
                  Excellente idée !
                  </div>
                </div>
              </div>
            </div>

            <div class="tl-entry left">
              <div class="tl-time">
                5:47 pm
              </div>
              <div class="tl-icon color-purple-inverse"><i class="fa fa-info-circle"></i></div>
              <div class="panel tl-body">
                Les attributs "Produit de l'année" sont désormais disponibles dans la plafetorme Alkemics.
              </div>
            </div>

            <div class="tl-entry">
              <div class="tl-time">
                2:35 pm
              </div>
              <div class="tl-icon color-red-inverse"><i class="fa fa-warning"></i></div>
              <div class="panel tl-body">
                <h4 class="color-red">Rapport d'erreur</h4>
                <img src="http://static9.viadeo-static.com/servlet/photo?memberId=0021zep5trnwmvr0&height=185&width=140&ts=1259240627000" alt="" class="rounded" style="max-width: 20px;max-height: 20px;margin-top: -2px;">&nbsp;&nbsp;
                <a href="#">Nicolas Labé (Nestlé)</a> a relevé une erreur dans <a href="#">Base culinaire déshydratée pour cuisson et sauces</a>, au champ <a>Description</a>.
              </div>
            </div>

            <div class="tl-entry left">
              <div class="tl-time">
                11:21 am
              </div>
              <div class="panel tl-body">
                <h4 class="text-danger">Lorem ipsum dolor sit amet</h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>  -->

          </div>
        </div>
      </div>
    </div>
</div>