<div class="modal-header">
    <h3>
       Choisir une marque
    </h3>
</div>

<div class="modal-body">
	Affecter la marque votre choix à l'ensemble de votre séléction
	<br/><br/>

	<div alk-autocomplete
		 alk-autocomplete-type="Brand"
		 alk-autocomplete-multiple="false"
	 	 placeholder="Chercher une marque"
	 	 ng-model="response">
	</div>
</div>

<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> Annuler</button>
        <button class="btn btn-primary" ng-click="submit()"><i class="fa fa-check"></i> OK</button>
    </div>
</div>
