#stream {

    .admin.admin-user-permissions {
        height: 100%;

        h1 {
            color: $text-color !important;
        }

        tr.even {
            background: $background-color-grey;
        }

        .search {
            padding-right: 15px;
        }

        .segment {
            padding: $padding-base-vertical*1.7 0;
            margin-left: -14px !important;

            &.active {
                background-color: $alk-green-light-active;
            }

            &.create-segment {
                background-color: $background-color-grey;
                border: 1px solid $gray-lighter;
                color: $alk-green;
                padding-top: $padding-large-vertical;
                padding-bottom: $padding-large-vertical;

                margin-right: -14px;
                text-align: left;

                .mdi {
                    color: $alk-green;
                }
            }
        }

        .permissions-users {
            height: 700px;

            .segments-list {
                min-height: 700px;

                .user {
                    text-align: left;
                }
            }
        }

        .segment-details {
            height: 100%;

            i.fa-spin {
                line-height: 700px;
                vertical-align: middle;
            }

            .header {
                p {
                    color: $gray-light;
                }
            }

            .body {
                border-top: 1px solid $gray-light;
            }
        }

        .row {
          margin-left: 0;
          margin-right: 0;
        }
    }

    .user-permissions {
        padding: $padding-base-horizontal 0;
        height: 65px;

        &:hover {
            @include transition(background-color 0.3s 0 ease);
            background-color: $gray-lighter;
        }

        .trash {
            line-height: 65px - $padding-base-horizontal * 2;
            vertical-align: middle;
            text-align: center;

            // &:hover {
            //     @include transition(color 0.2s 0 ease);
            //     cursor: pointer;
            //     color: $alk-red;
            // }
        }

        .user {
            i {
                &:hover {
                    transition: none;
                    color: $gray;
                    cursor: default;
                }
            }

            .identity {
                .name {
                    font-size: 16px;
                }

                .job {
                    font-size: 12px;
                    color: $gray-light;
                }
            }

        }

        .indication {
            color: $gray-light;
            font-size: 12px;
            line-height: 65px - $padding-base-horizontal * 2;
            vertical-align: middle;
        }

        .permissions {
            line-height: 65px - $padding-base-horizontal * 2;
            vertical-align: middle;


            i {
                @include transition(color 0.2s 0 ease);
                color: $gray-light;
                cursor: pointer;

                &:hover {
                    color: $alk-green-hover;
                }

                &:active {
                    color: $alk-green-active;
                }

                &.active {
                    color: $alk-green;
                }

                + i {
                    padding-left: 6px;
                }
            }

            .admin-permissions {
                tr {
                    line-height: 1;
                    td {
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    + .user-permissions {
        margin-top: 20px;
    }
}
