#stream {
    .admin {
        .search {
            border-bottom: 1px solid $gray-light;
            padding: $padding-base-vertical 0;

            .form-group {
                width: 100%;
            }

            i {
                text-align: center;
                + i {
                    padding-left: 4px;
                    padding-right: $padding-base-horizontal;
                }
            }

            .form-control {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                font-size: 16px;
            }
        }

        i {
            color: $icon-gray;

            &:hover {
                @include transition(color 0.2s 0 ease);
                color: $icon-gray-hover;
                cursor: pointer;
            }

            &:active {
                color: $icon-gray-active;
            }

            + i {
                padding-left: 4px;
            }
        }

        .segment {
            @include transition(background-color 0.3s ease);
            color: $text-color;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: $alk-green-light-hover;
            }

            &.active {
                background-color: $alk-green-light;

                // Overrides a bootrap default
                td {
                    background-color: $alk-green-light;
                }
            }

            &:active {
                background-color: $alk-green-light-active;
            }

            .edit {
                padding: 0 $padding-base-horizontal;
            }

            .name {
                font-weight: bold;
                text-align: left;
            }

            .details {
                color: $gray-light;
                text-align: left;
            }
        }
    }

    .admin-page {
        background-color: $background-color-grey;
        padding-top: 2*$padding-base-horizontal;

        h1 {
            background-color: $background-color-grey !important;
        }
    }

    .admin-home {
        .organization-summary {
            @extend .color-stream-inverse;

            a, i {
                color: white;
            }
        }

        .welcome-header {
            h2 {
                padding-bottom: 2*$padding-base-vertical;
            }

            .organization-actions {

                .action {
                    border: none;
                    background-color: $alk-purple-light;
                    border-radius: $border-radius-base;
                    color: $text-color;
                    cursor: pointer;
                    padding: 2*$padding-base-vertical $padding-base-horizontal;

                    &:hover {
                        background-color: $alk-purple-light-hover;
                    }

                    &:active {
                        background-color: $alk-purple-light-active;
                        box-shadow: none;
                    }

                    > .btn {
                        // Already handled above
                        padding: 0;
                    }

                    .badge {
                        background-color: $alk-red;
                    }

                    a {
                        color: $text-color;
                    }

                    + .action {
                        margin-left: $margin-base-horizontal;
                    }
                }
            }
        }


        .row-header {
            margin-right: 0;
        }

        .segments-information {
            position: relative;

            .add-productsegment {
                position: absolute;
                bottom: -$btn-fab-height/2;
                left: $btn-fab-width/2;

                .btn-label {
                    @include transition(left .6s cubic-bezier(.4,0,.2,1));
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: $padding-base-horizontal;

                    line-height: $btn-fab-width;
                    opacity: 0;
                    vertical-align: middle;
                }

                i {
                    padding-left: 0;
                }

                i.add {
                    @include transition(all .6s cubic-bezier(.4,0,.2,1));
                }

                i.edit {
                    @include transition(all .6s cubic-bezier(.4,0,.2,1));
                    @include rotate(-90deg);
                    // @include rotate(0deg);
                    opacity: 0;
                    // display: none;
                }

                &:hover {
                    background-color: $alk-green !important;

                    i.add {
                        @include rotate(90deg);
                        opacity: 0;
                    }

                    i.edit {
                        @include rotate(0deg);
                        opacity: 1;
                        top: -1.5px; // #hacky css
                    }

                    .btn-label {
                        opacity: 1;
                        left: 100%;
                        font-weight: bold;
                    }
                }
            }

            .header {
                height: 140px;
                overflow: visible;
                padding-left: 2*$padding-base-horizontal;
                padding-right: 2*$padding-base-horizontal;
            }

            .segments {
                height: 600px;
                overflow-y: scroll;

                table {
                    padding-top: 2*$padding-large-vertical;

                    * {
                        border: none !important;
                    }
                }

                .segments-header {
                    th {
                        text-align: center;
                    }
                }
            }

            .segment-summary {
                .stats {
                    background-color: white;
                    border-bottom: 0;
                    height: 80px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    position: relative;
                    text-align: center;

                    &.certifieds {
                        color: $alk-green;
                        border-top: 2px solid $alk-green;
                    }

                    &.not-certifieds {
                        color: $alk-purple;
                        border-top: 2px solid $alk-purple;
                    }

                    .figure {
                        font-size: 24px;
                    }
                }

                .permissions {
                    @extend .btn-stream-inverse;
                    font-weight: bold;
                }
            }
        }
    }
}
