$padding-segments-top: 4*$padding-large-vertical;

$segments-height: 400px;
$segments-list-height: 50px;
$segments-table-header-height: 50px;
$segment-stats-height: 80px;

#stream {
    .admin {
        .search {
            padding: $padding-base-vertical 0;

            .form-inline {
                display: inline-block;
                margin-right: $padding-base-horizontal;
                width: 100%;

                &.active {
                    input {
                        border-bottom: 1px solid $gray-light;
                        display: inline-block;
                    }
                }

                .form-group {
                    display: inline;
                    width: 100%;
                }

                input {
                    transition: none;
                    display: none;
                    text-align: left;
                }

                .mdi {
                    float: right;
                    text-align: right;
                }
            }

            .pull-right {
                display: inline-block;
            }

            i {
                text-align: center;

                + i {
                    padding-left: 4px;
                    padding-right: $padding-base-horizontal;
                }
            }

            .form-control {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                font-size: 16px;
            }
        }

        i {
            color: $icon-gray;

            &:hover {
                @include transition(color 0.2s 0 ease);
                color: $icon-gray-hover;
                cursor: pointer;
            }

            &:active {
                color: $icon-gray-active;
            }

            + i {
                padding-left: 4px;
            }
        }

        .mdi {
            font-size: 1.5em;
        }

        .permissions {
            .mdi {
                font-size: 1.8em;
            }
        }

        .header.col-top {
            .mdi {
                font-size: 2em;
            }
        }

        .segment {
            @include transition(background-color 0.3s ease);
            color: $text-color;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: $alk-green-light-hover;
            }

            &.active {
                td {
                    background-color: $alk-green-light-active;
                }
            }

            &:active {
                background-color: $alk-green-light-active;
            }

            .edit {
                padding: 0 $padding-base-horizontal;
            }

            .name {
                font-weight: bold;
                text-align: left;
            }

            .details {
                color: $gray-light;
                text-align: left;
            }
        }
    }

    .admin-page {
        background-color: $background-color-grey;
        padding-top: 2*$padding-base-horizontal;

        h1 {
            background-color: $background-color-grey !important;
        }
    }

    .admin-home {
        .organization-summary {
            @extend .color-stream-inverse;

            h2 {
                display: inline-block;
            }

            a, i {
                color: white;
            }
        }

        .welcome-header {
            h2 {
                padding-bottom: 2*$padding-base-vertical;
            }

            .organization-actions {

                .action {
                    border: none;
                    background-color: $alk-purple-light;
                    border-radius: $border-radius-base;
                    color: $text-color;
                    cursor: pointer;
                    height: 45px;
                    padding: 2*$padding-base-vertical $padding-base-horizontal;

                    &:hover {
                        background-color: $alk-purple-light-hover;
                    }

                    &:active {
                        background-color: $alk-purple-light-active;
                        box-shadow: none;
                    }

                    > .btn {
                        // Already handled above
                        padding: 0;
                    }

                    .badge {
                        background-color: $alk-red;
                    }

                    a {
                        color: $text-color;
                        text-decoration: none;
                    }

                    + .action {
                        margin-left: $margin-base-horizontal;
                    }
                }
            }
        }


        .row-header {
            margin-right: 0;
        }

        .segments-information {
            position: relative;

            .add-productsegment {
                position: absolute;
                bottom: -$btn-fab-height/2;
                left: 6%;

                .btn-label {
                    @include transition(left .6s cubic-bezier(.4,0,.2,1));
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: $padding-base-horizontal;

                    line-height: $btn-fab-width;
                    opacity: 0;
                    vertical-align: middle;
                }

                i {
                    padding-left: 0;
                }

                i.add {
                    @include transition(all .6s cubic-bezier(.4,0,.2,1));
                }

                i.edit {
                    @include transition(all .6s cubic-bezier(.4,0,.2,1));
                    @include rotate(-90deg);
                    // @include rotate(0deg);
                    opacity: 0;
                    // display: none;
                }

                &:hover {
                    background-color: $alk-green !important;

                    i.add {
                        @include rotate(90deg);
                        opacity: 0;
                    }

                    i.edit {
                        @include rotate(0deg);
                        opacity: 1;
                        top: -1.5px; // #hacky css
                    }

                    .btn-label {
                        opacity: 1;
                        left: 100%;
                        font-weight: bold;
                    }
                }
            }

            .header {
                height: 140px;
                overflow: visible;
                padding-left: 2*$padding-base-horizontal;
                padding-right: 2*$padding-base-horizontal;

                .mdi {
                    font-size: 2em;
                }
            }

            .segments {
                border-top: 1px solid $background-color-grey;
                // height: 600px;
                // overflow-y: scroll;

                table {
                    // table-layout: fixed;
                    padding-top: $padding-segments-top;
                    width: 100%;

                    thead, tbody, tr, td, th {
                        display: block;
                    }

                    tr:after {
                        content: ' ';
                        display: block;
                        visibility: hidden;
                        clear: both;
                    }

                    thead th {
                        height: $segments-table-header-height;

                        /*text-align: left;*/
                    }

                    tbody {
                        height: $segments-height;
                        margin-bottom: 0;
                        overflow-y: auto;
                    }

                    thead {
                        /* fallback */
                    }


                    tbody td, thead th {
                        width: 16.6%;
                        float: left;
                    }

                    * {
                        border: none !important;
                    }

                    td {
                        height: $segments-list-height;
                        line-height: $segments-list-height - 2*$table-cell-padding;
                        vertical-align: middle;

                        &.name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                }

                .segments-header {
                    th {
                        text-align: center;
                    }

                    th.name {
                        text-align: left;
                    }
                }
            }

            .segment-summary {
                .stats {
                    background-color: white;
                    border-bottom: 0;
                    height: $segment-stats-height;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    position: relative;
                    text-align: center;

                    &.certifieds {
                        color: $alk-green;
                        border-top: 2px solid $alk-green;
                    }

                    &.not-certifieds {
                        color: $alk-pink;
                        border-top: 2px solid $alk-pink;
                    }

                    .figure {
                        font-size: 24px;
                    }
                }

                .permissions-wrapper {
                    background-color: #fbfbfb;
                    height: $padding-segments-top + $segments-list-height + $segments-height + $padding-box-tile - $segment-stats-height;

                    .permissions {
                        @extend .btn-stream-inverse;
                        font-weight: bold;
                    }
                }

            }
        }
    }
}
