<div class="modal-header">
    <h3>Détails</h3>
</div>
<div class="modal-body">
    <!-- <div ng-repeat="certificationItem in cerificationItems">
        <p>
            <strong>{{ certificationItem.name }} :</strong>
            <span>{{ certificationItem.description }}</span>
        </p>
    </div> -->
    <div>
        <p>
            <strong>DEFAULT :</strong>
            <span>Le produit n'a pas encore été attribué</span>
        </p>
    </div>
    <div>
        <p>
            <strong>REVIEWING :</strong>
            <span>Alkemics vérifie le produit avant son attribution</span>
        </p>
    </div>
    <div>
        <p>
            <strong>ATTRIBUTED :</strong>
            <span>Le produit a été attribué à son fabriquant</span>
        </p>
    </div>
    <div>
        <p>
            <strong>ACCEPTED :</strong>
            <span>Le fabriquant a accepté de remplir ce produit</span>
        </p>
    </div>
    <div>
        <p>
            <strong>CERTIFIED :</strong>
            <span>Le fabriquant a certifié le produit</span>
        </p>
    </div>
    <div>
        <p>
            <strong>PUBLISHED :</strong>
            <span>Le fabriquant a publié ce produit</span>
        </p>
    </div>
    <div>
        <p>
            <strong>DISCONTINUED :</strong>
            <span>Le produit n'est plus fabriqué</span>
        </p>
    </div>
</div>
</div>
<div class="modal-footer">
    <div class="text-right">
        <span class="btn btn-success" ng-click="ok()"><i class="fa fa-check"></i> Ok</span>
    </div>
</div>
