<div class="modal-header">
    <h3>
        Ajouter une autorisation
    </h3>
</div>
<div class="modal-body">
    <form role="form">
        <input type="text" name="origin" ng-model="record.origin" hidden/>
        <div class="form-group">
            <label for="firstname">Role</label>
            <input type="text" ng-model="role.plugin.name" name="" class="form-control" placeholder=""disabled/>
        </div>
        <div class="form-group" ng-show="select2organizationOptions.data.length > 1">
            <label for="username">Organisation</label>
            <input type="text" name="role.organization" ng-model="role.organization" type="text" select ui-select2="select2organizationOptions" style="width: 100%"/>
        </div>
        <div class="form-group">
            <label for="username">Utilisateur</label>
            <input type="text" name="role.user" ng-model="role.user" type="text" select ui-select2="select2userOptions" style="width: 100%"/>
        </div>
        <div class="form-group">
            <label for="username">Marque</label>
            <input type="text" name="role.brand" ng-model="role.brand" type="text" select ui-select2="select2brandOptions" style="width: 100%"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> Annuler</button>
        <button class="btn btn-success" ng-click="submit()"><i class="fa fa-check"></i> OK</button>
    </div>
</div>