<div data-ng-include="'/src/home/header.html'"></div>

<div class="material-page renew-password-page container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 box-tile">
            <form class="form-horizontal" ng-submit="resetPassword()" name="passwordResetForm">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 control-label">Mon nouveau mot de passe</label>
                    <div class="col-lg-10">
                        <input type="password" class="login-inp form-control" ng-model="newPassword" placeholder="Mot de passe" required />
                        <div style="color:grey;">Taille minimum : 8 caractères</div>
                    </div>
                    <label for="inputEmail1" class="col-lg-2 control-label">Confirmation</label>
                    <div class="col-lg-10">
                        <input type="password" class="login-inp form-control" ng-minlength="8"  ng-model="newPasswordConfirm" placeholder="Mot de passe" required/>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn pull-right btn-stream">Continuer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
