<div class="full-screen color-green" id="login-holder">


    <div class="center">
        <form class="form-horizontal" ng-submit="resetPassword()" name="passwordResetForm">
            <div class="form-group"  >
                <label for="inputEmail1" class="col-lg-2 control-label">Mon nouveau mot de passe</label>
                <div class="col-lg-10">
                    <input type="password" class="login-inp form-control" ng-model="newPassword" placeholder="Mot de passe" required />
                    <div style="color:grey;">Taille minimum : 8 caractères</div>
                </div>
                <label for="inputEmail1" class="col-lg-2 control-label">Confirmation</label>
                <div class="col-lg-10">
                    <input type="password" class="login-inp form-control" ng-minlength="8"  ng-model="newPasswordConfirm" placeholder="Mot de passe" required/>
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn pull-right color-action-inversed">Continuer</button>
                </div>
            </div>
        </form>

    </div>
    <div class="text-center bottom copyright">
        Proudly powered by Alkemics SAS &copy; 2011-2015
    </div>
</div>
