<div class="brand">
    <div class="col-xs-3 logo-container text-center brand-column">
        <img entity-image entity="brand" class="brand-logo"/>
    </div>
    <div class="col-xs-3 brand-column">
        <!-- <a href="/#/maker/brand/{{ brand.id }}"> -->
        <h3>{{ brand.name }}</h3>
        <!-- </a> -->
        <div ng-if="brand.stats" ng-class="{'text-danger': notCertified > 0, 'text-success': notCertified === 0 }">
            <div class="clickable" ng-click="goToProducts(brand.id, false)">
                <strong>Non certifiés : {{ notCertified }}</strong>
            </div>
            <div class="clickable" ng-click="goToProducts(brand.id, true)">
                <strong>Certifiés : {{ certified }}</strong>
            </div>
        </div>
    </div>
    <div class="brand-actions brand-column">
        <div>
            <a class="" href="/#/maker/brand/{{ brand.id }}">
                <i class="fa fa-edit"></i> Éditer la marque
            </a>
        </div>
        <div>
            <a class="" href="/#/maker/brand/{{ brand.id }}/product">
                <i class="fa fa-barcode"></i> Voir les produits
            </a>
        </div>
        <div>
            <span alk-button-product-claim data-brand="brand"></span>
        </div>
    </div>
</div>
<!-- Mandatory to have a filled span to fill the space -->
<span>&nbsp;</span>
