<div class="modal-header">
    <div class="pull-right">
        <img height="60" width="60" ng-src="{{ product.picture.main.replace('original', '256x256') }}"/>
    </div>
    <h3>
        Acceptation
        <small>{{ product.nameLegal }}</small>
    </h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>EAN</label>
            <input class="form-control" disabled ng-model="product.isIdentifiedBy.0.reference"/>
        </div>
        <div class="form-group">
            <label>Marque</label>
            <div
                alk-autocomplete
                alk-autocomplete-type="Brand"
                alk-autocomplete-multiple="false"
                placeholder="Chercher une marque"
                ng-model="product.isBrandedBy">
            </div>
        </div>
        <div class="form-group">
            <label>GLN</label>
            <select class="form-control" ng-model="product.gln" ng-options="gln for gln in glns"/>
        </div>
    </div>
    </form>
    <div class="well">
        En signant électroniquement ce document, j'atteste que je suis le responsable de la certification de ce produit.
    </div>
</div>
<div class="modal-footer">
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="col-sm-6 text-left">
                <button class="btn btn-warning" ng-click="cancel()"><i class="fa fa-ban"></i> Je ne suis pas responsable de ce produit</button>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-primary" ng-click="ok()"><i class="fa fa-certificate"></i> J'accepte le remplissage de ce produit</button>
            </div>
        </div>
    </form>
</div>
