<div class="modal-header">
    <h3>
        Certification
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <h4>Produits</h4>
        <div class="col-xs-12" ng-repeat="product in products">
            <div class="pull-right">
                <img height="60" width="60" ng-src="{{ product.picture.main.replace('original', '256x256') }}"/>
            </div>
            <span>{{ product.nameLegal }}</span>
        </div>
    </div>
    <div class="well">
        En signant électroniquement ce document, j'atteste de la validité des informations qu'il comporte. J'engage ma responsabilité quant à leur conformité à la réalité.
    </div>
</div>
<div class="modal-footer">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label>Email :</label>
            <input ng-model="user.email" class="form-control" type="email" style="width: 200px;" required/>
            <button class="btn btn-success" ng-click="ok()"><i class="fa fa-certificate"></i> Certifier</button>
            <button class="btn btn-warning" ng-click="cancel()"><i class="fa fa-ban"></i> Annuler</button>
        </div>
    </form>
</div>
