<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-2 color-stream-inverse sidebar" ng-controller="DashboardMakerProductShowPreviewController">
        <div ng-include="'/src/maker/product/show/detail-form.html'"></div>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-9">
                <h1>
                    {{ product.namePublicLong || product.nameLegal }}
                    <small>{{ product.isBrandedBy.name }}</small>
                </h1>
            </div>
            <div class="col-sm-3">
                <div class="text-right product-status">
                    <span class="label label-success" ng-show="product.isAccepted() === true" tooltip-placement="bottom" tooltip="Vous avez reconnu être en charge de ce produit." tooltip-trigger="mouseenter">
                        <i class="fa fa-check"></i> Accepté
                    </span>
                    <span class="label label-warning" ng-show="product.isAccepted() === false" tooltip-placement="bottom" tooltip="Vous n'avez pas reconnu être en charge de ce produit." tooltip-trigger="mouseenter">
                        <i class="fa fa-warning"></i> Non accepté
                    </span>
                    &nbsp;
                    <span class="label label-success" ng-show="product.isCertified() === true" tooltip-placement="bottom" tooltip="Vous avez certifié la conformité des informations sur ce produit." tooltip-trigger="mouseenter">
                        <i class="fa fa-certificate"></i> Certifié
                    </span>
                    <span class="label label-warning" ng-show="product.isCertified() === false" tooltip-placement="bottom" tooltip="Vous n'avez pas encore certifié la conformité des informations sur ce produit." tooltip-trigger="mouseenter">
                        <i class="fa fa-warning"></i> Non certifié
                    </span>
                    &nbsp;
                    <span class="label label-default" ng-show="product.isDiscontinued() === false" tooltip-placement="bottom" tooltip="Archiver ce produit pour le faire disparaître de la vue principale." tooltip-trigger="mouseenter" ng-click="discontinue(true)">
                        <i class="fa fa-archive"></i> Archiver
                    </span>
                    <span class="label label-default" ng-show="product.isDiscontinued() === true" tooltip-placement="bottom" tooltip="Ré-activer ce produit pour le faire apparaître de la vue principale." tooltip-trigger="mouseenter" ng-click="discontinue(false)">
                        <i class="fa fa-archive"></i> Ré-activer
                    </span>
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist" ng-if="active()">
                    <div tab-product link="general" legend="General" product="productReference_reference" locked="false" color="transparent" ng-if="displayTab('general')"></div>
                    <div tab-product-specific product="product" locked="false" color="lightgreen"></div>
                    <div tab-product link="packaging" legend="Packaging" product="productReference_reference" locked="false" color="transparent" ng-if="displayTab('packaging')"></div>
                    <div tab-product link="manufacturer" legend="Fabricant" product="productReference_reference" locked="false" color="transparent" ng-if="displayTab('manufacturer')"></div>
                    <!--<div tab-product link="identification" legend="Identification" product="product.isIdentifiedBy[0].reference" locked="false" color="transparent"></div>-->
                    <div tab-product link="media" legend="Médias" product="productReference_reference" locked="false" color="transparent" ng-if="displayTab('media')"></div>
                    <div tab-product link="composition" legend="Composition" product="productReference_reference" locked="false" color="transparent" ng-if="displayTab('composition')"></div>
                    <div tab-product link="nutrition" legend="Nutrition" product="productReference_reference" locked="false" color="transparent" ng-if="displayTab('nutrition')"></div>
                    <div tab-product link="label" legend="Labels" product="productReference_reference" locked="false" color="transparent" ng-if="displayTab('label')"></div>
                    <div tab-product link="conservation" legend="Conservation" product="productReference_reference" locked="false" color="transparent" ng-if="displayTab('conservation')"></div>
                    <!-- <div tab-product link="productinshop" legend="Distributeurs" product="productReference_reference" locked="false" color="transparent"></div> -->
                    <!--<div tab-product link="version" legend="Versions" locked="false" color="transparent"></div>-->
                </ul>
            </div>
        </div>

        <form class="form-horizontal" role="form" name="productForm" novalidate>
            <div ng-init="formInit(productForm)">
                <div ng-transclude="">
                    <!-- The view content will appear here -->
                </div>
            </div>
        </form>
    </div>
</div>
</div>
