<div ng-include="'/src/home/header.html'"></div>

<div class="container-fluid text-center brand">
    <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3">
            <div class="logo text-center">
                <img src="/images/logo.png" class="img-responsive"/>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="motto">
            La plateforme pour piloter votre marketing produit
        </p>
    </div>
</div>

<div class="container-fluid" id="preview">
    <div class="row">
        <div class="col-md-7">
            <div class="screen-container">
                <div class="screen-border">
                    <div class="screen-space screen-stream"></div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="carousel-main">
                <div>
                    <h1 class="color-stream">
                        <div class="title">
                        Product Stream
                        </div>
                        <small>
                            Reprenez la main sur vos fiches produit
                        </small>
                    </h1>
                    <br/> <br/>
                    <div>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check"></i>Données INCO 1169</li>
                            <li><i class="fa-li fa fa-check"></i>Sites marchands, étiquettes électroniques, prospectus</li>
                            <li><i class="fa-li fa fa-check"></i>Photos, vidéos, contenu enrichi</li>
                            <li><i class="fa-li fa fa-check"></i>Chainage produit pour éviter les ruptures</li>
                            <li><i class="fa-li fa fa-check"></i>Optimisation du moteur de recherche</li>
                        </ul>
                        <br/><br/>
                        <div class="text-center">
                            <a class="btn color-stream-inverse btn-xl" ng-click="subscribe('main')">
                                <i class="fa fa-arrow-right"></i>
                                Je m'inscris
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div >
        <div class="container feature">
            <div class="row">
                <div class="col-sm-4">
                    <div class="screen-small screen-small-stream-dashboard text-left">
                        <div class="screen-manifying text-right screen-manifying-stream-nutrition">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h2 class="color-stream-transparent">Faire mieux que la 1169</h2>
                    <p>
                        En format plein texte, les données INCO sont inexploitables par les moteurs de recherche. Notre solution les redresse en des <strong>attributs normalisés</strong> permettant aux disitributeurs de pouvoir créer des facettes dans leurs moteurs de recherche, des catégories spéciales dans leurs assortiments, etc.
                    </p>
                    <p>
                        Là où la 1169 n'exige que la redescente d'un nombre d'attributs restreint, nous vous permettons de mettre à disposition des distributeurs une vaste bibliothèque d'attributs, de labels et de pictogrammes. Au-delà de l'information régèlementaire, vous pouvez désormais <strong>communiquer sur les valeurs de votre produit</strong> : recyclage, récompenses, marques de qualité...
                    </p>
                    <p>
                        Vous n'avez pas centralisé vos informations produit en interne ? Pas d'inquiétude, notre plate-forme est <strong>pré-remplie des informations collectées chez nos distributeurs partenaires</strong>. Vous n'avez plus qu'à les compléter ou les amender.
                    </p>
                    <br/>
                    <div class="row mini-feature">
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-tasks"></i>
                                Données pré-remplies
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-gavel"></i>
                                Conforme 1169/2011
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-lightbulb-o"></i>
                                Aide au remplissage
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="container feature">
            <div class="row">
                <div class="col-sm-8 text-justify">
                    <h2 class="color-stream-transparent text-right">Votre joker pour le merchandising</h2>
                    <p>
                        À l'heure où la vente en ligne commence à représenter une partie importante de votre chiffre d'affaires, il est crucial d'occuper une place de choix au sein des "rayons" numériques. Pour que tous vos clients puissent trouver leur produit préféré, définissez les <strong>synonymes</strong> courants de votre produit pour aider les distributeurs à améliorer la <strong>pertinence de leur moteur de recherche</strong>. Notre offre premium vous permet d'accéder aux termes de recherche les plus fréquents débouchant sur l'achat de vos produits.
                    </p>
                    <p>
                        La multiplication des formats promotionnels et la forte variabilité des stocks en magasin ne doit pas impacter vos ventes : définissez vous-mêmes les <strong>chaînages produits</strong> pour assurer la continuité de la disponibilité de vos produits. Ainsi, vos utilisateurs pourront se voir proposer des <strong>alternatives au sein de leurs listes de courses pré-enregistrées ou de leurs produits favoris</strong>.
                    </p>
                    <p>
                        Vos produits vivent en écosystème : proposez des <strong>produits complémentaires</strong>, des produits similaires afin de faire découvrir à vos utilisateurs fidèles vos autres produits.
                    </p>
                    <br/>
                    <div class="row mini-feature">
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-tags"></i>
                                Attributs normalisés
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-sort-amount-asc fa-flip-vertical"></i>
                                Synonymisation
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-link"></i>
                                Chainages produits
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="screen-small screen-small-stream-dashboard text-right">
                        <div class="screen-manifying screen-manifying-stream-promotion text-left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="container feature">
            <div class="row">
                <div class="col-sm-4">
                    <div class="screen-small screen-small-stream-dashboard text-left">
                        <div class="screen-manifying screen-manifying-stream-brand text-right">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h2 class="color-stream-transparent">Du contenu à la mesure de vos produits</h2>
                    <p>
                        Afin d'engager un autre dialogue avec vos clients, mettez à disposition de vos distributeurs du contenu complémentaire : <strong>vidéos, photos HD, vues 3D, recettes, conseils d'utilisation</strong>.
                    </p>
                    <p>
                        Communiquez sur les <strong>valeurs de votre marque</strong> en mettant à disposition son logo, du contenu sur son histoire, ses spécificités.
                    </p>
                    <br/>
                    <div class="row mini-feature">
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-camera"></i>
                                Photos HD
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-film"></i>
                                Vidéo
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-picture-o"></i>
                                Logos marques
                            </h4>
                        </div>
                    </div>
                    <br/>
                    <div class="row mini-feature">
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-file-photo-o"></i>
                                Pictogrammes
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-cutlery"></i>
                                Recettes
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-refresh"></i>
                                Cross selling
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="container feature">
            <div class="row">
                <div class="col-sm-8 text-justify">
                    <h2 class="color-stream-transparent text-right">Une plateforme ouverte et flexible</h2>
                    <p>
                        Notre plateforme est <strong>nativement connectée</strong> à plusieurs distributeurs : Cora Belgique, AuchanDrive, AuchanDirect, Auchan.fr, Auchan Mieux Vivre, Chronodrive, Match Belgique. En un clic, vos modifications sont propagées dans leurs catalogues.
                    </p>
                    <p>
                        Pour les autres, <strong>exportez</strong> vos fiches produits aux formats qu'ils exigent en un simple clic : le remplissage fastidieux de fichiers Excel, c'est fini !
                    </p>
                    <p>
                        Notre plateforme fournit nativement un <strong>WebService REST</strong> permettant de requêter l'ensemble de vos données. Ainsi, elles peuvent être directement accédées depuis vos sites et applications, ou explorées programmatiquement. Et si vous voulez ouvrir vos données en <strong>open-data</strong> ? C'est à la portée d'un simple clic !
                    </p>
                    <br/>
                    <div class="row mini-feature">
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-cogs"></i>
                                WebServices REST
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                <i class="fa fa-download"></i>
                                Import GDSN / Excel
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center">
                                Export Excel
                                <i class="fa fa-file-excel-o"></i>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="screen-small screen-small-stream-dashboard text-right">
                        <div class="screen-manifying screen-manifying-stream-label text-left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<br/>
<br/>
<br/>
<br/>
<div class="container service-title">
    <h2 class="color-stream">Comment ça marche ?</h2>
</div>
<br/>
<br/>
<div class="container">
    <div class="text-center">
        <img src="/images/schema/steps.png" class="img-responsive center-block"/>
    </div>
</div>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row pricing-stack pricing-table margin-top-lg">
        <div class="col-md-3 pricing-table-features hidden-xs hidden-sm">
            <div class="well title-hidden">
                <ul class="pricing-table-features-list">
                    <li class="title">Features</li>
                    <li class="price">Prix</li>
                    <li>Comptes utilisateur</li>
                    <li>Informations INCO</li>
                    <li>Données normalisées</li>
                    <li>Données marketing</li>
                    <li>Support</li>
                    <li>Multimédia</li>
                    <li>Add to basket</li>
                    <!--<li>Export</li>-->
                    <li class="fat">Import</li>
                    <!--<li class="last fat">Merchandising</li>-->
                </ul>
            </div>
        </div>
        <div class="col-md-3 pricing-table-plan">
            <div class="well">
                <ul class="pricing-table-features-list">
                    <li class="title">
                        Découverte
                    </li>
                    <li class="price">
                        <span class="digits">Gratuit</span>
                        <br/>
                        <small>pour les produits alimentaires jusqu'au 13/12/2014</small>
                    </li>
                    <li><span class="visible-xs visible-sm">Comptes utilisateur: </span>1</li>
                    <li><span class="visible-xs visible-sm">Informations INCO: </span><i class="fa fa-check"></i></li>
                    <li><span class="visible-xs visible-sm">Données normalisées: </span><i class="fa fa-check"></i></li>
                    <li><span class="visible-xs visible-sm">Données marketing: </span></li>
                    <li><span class="visible-xs visible-sm">Support: </span>email</li>
                    <li><span class="visible-xs visible-sm">Multimédia: </span></li>
                    <li><span class="visible-xs visible-sm">Add to basket: </span></li>
                    <!--<li><span class="visible-xs visible-sm">Export: </span></li>-->
                    <li class="fat"><span class="visible-xs visible-sm">Import: </span></li>
                    <!--<li class="fat"><span class="visible-xs visible-sm">Merchandising: </span></li>-->
                    <li class="sign-up-btn last" ng-click="subscribe('1169')"><a class="btn btn-xl btn-default">&gt; S'inscrire</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 pricing-table-plan">
            <div class="well active">
                <ul class="pricing-table-features-list">
                    <li class="title">
                        Pro
                    </li>
                    <li class="price">
                        <span class="digits">5<span>.00</span></span>
                        <span class="currency">€</span>
                        <br/>
                        <small>
                            <span class="term">/ an / produit / enseigne</span>
                        </small>
                    </li>
                    <li><span class="visible-xs visible-sm">Comptes utilisateur: </span>5</li>
                    <li><span class="visible-xs visible-sm">Informations INCO: </span><i class="fa fa-check"></i></li>
                    <li><span class="visible-xs visible-sm">Données normalisées: </span><i class="fa fa-check"></i></li>
                    <li><span class="visible-xs visible-sm">Données marketing: </span><i class="fa fa-check"></i></li>
                    <li><span class="visible-xs visible-sm">Support: </span>email, numéro vert</li>
                    <li><span class="visible-xs visible-sm">Multimédia: </span>photos<!--, vues 3D--></li>
                    <li><span class="visible-xs visible-sm">Add to basket: </span>on-site</li>
                    <!--<li><span class="visible-xs visible-sm">Export: </span>export Excel préformatés</li>-->
                    <li class="fat"><span class="visible-xs visible-sm">Import: </span></li>
                    <!--<li class="fat"><span class="visible-xs visible-sm">Merchandising: </span>synonymisation, substitution <br/> chainage</li>-->
                    <li class="sign-up-btn last" ng-click="subscribe('pro')"><a class="btn btn-xl btn-success">&gt; S'inscrire</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 pricing-table-plan">
            <div class="well">
                <ul class="pricing-table-features-list">
                    <li class="title">
                        Entreprise
                    </li>
                    <li class="price">
                        <span class="digits">Sur demande</span>
                    </li>
                    <li><span class="visible-xs visible-sm">Comptes utilisateur: </span>Illimité</li>
                    <li><span class="visible-xs visible-sm">Informations INCO: </span><i class="fa fa-check"></i></li>
                    <li><span class="visible-xs visible-sm">Données normalisées: </span><i class="fa fa-check"></i></li>
                    <li><span class="visible-xs visible-sm">Données marketing: </span><i class="fa fa-check"></i></li>
                    <li><span class="visible-xs visible-sm">Support: </span>email, numéro vert</li>
                    <li><span class="visible-xs visible-sm">Multimédia: </span>photos, vues 3D<!--, vidéos--></li>
                    <li><span class="visible-xs visible-sm">Add to basket: </span>on-site, bannières, vidéo</li>
                    <!--<li><span class="visible-xs visible-sm">Export: </span>export Excel préformatés</li>-->
                    <li class="fat"><span class="visible-xs visible-sm">Import: </span>import formats particuliers,<br/> connexion outils existants</li>
                    <!--<li class="fat"><span class="visible-xs visible-sm">Merchandising: </span>synonymisation, SEO, chainage,<br/>substitution, cross-sell, up-sell</li>-->
                    <li class="sign-up-btn last" ng-click="subscribe('enterprise')"><a class="btn btn-xl btn-success">&gt; Nous contacter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div ng-include="'/src/home/footer.html'"></div>