<div ng-include="'/src/home/header.html'"></div>


<br/>
<br/>
<div class="container" ng-show="ok">
    <br/> <br/> <br/> <br/> <br/> <br/>
    <div class="alert alert-success text-center">
        Votre inscription a bien été prise en compte. Vous recevrez sous peu un email de confirmation.
        <br/>
        <br/>
        <p>
            En attendant, vous pouvez nous suivre sur les réseaux sociaux :
            <br/>
            <br/>
            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=alkemics&lang=fr&show_count=false" style="width:150px; height:20px;"></iframe>
        </p>
    </div>
    <br/> <br/> <br/> <br/> <br/> <br/>
</div>


<div class="container" ng-show="!ok">
    <h1>Je m'inscris</h1>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <form class="form-horizontal" ng-hide="isReset" name="userForm">
                <div ng-init="formInit(userForm)">
                    <h3>Quelques détails sur moi...</h3><br/>
                    <div class="form-group" ng-class="checkUserForm('lastname')">
                        <label class="col-lg-4 control-label">Je m'appelle...</label>
                        <div class="col-lg-4">
                            <input type="text" name="firstname" class="login-inp form-control" ng-model="user.firstname" placeholder="Prénom" alk-focus ng-minlength="1" required/>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" name="lastname" class="login-inp form-control" ng-model="user.lastname" placeholder="Nom" alk-focus ng-minlength="1" required/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="checkUserForm('username')">
                        <label class="col-lg-4 control-label">Mon email</label>
                        <div class="col-lg-8">
                            <input type="email" name="username" class="login-inp form-control" ng-model="user.username" placeholder="Email" alk-focus ng-minlength="5" required/>
                            <div ng-show="userForm.username.$invalid && userForm.username.$focus">
                                Veuillez entrer un email valide.
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="checkUserForm('job')">
                        <label class="col-lg-4 control-label">Mon poste</label>
                        <div class="col-lg-8">
                            <input type="text" name="job" class="login-inp form-control" ng-model="user.job" placeholder="ex : Responsable qualité" alk-focus ng-minlength="1" required/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="checkUserForm('phonenumber')">
                        <label class="col-lg-4 control-label">Mon numéro de téléphone</label>
                        <div class="col-lg-8">
                            <input type="text" name="phonenumber" class="login-inp form-control" ng-model="user.phonenumber" placeholder="ex : 0 800 943 859" alk-focus ng-minlength="5" required ng-pattern="/^[0-9 \+\.\-]+$/"/>
                            <div ng-show="userForm.phonenumber.$invalid && userForm.phonenumber.$focus">
                                Veuillez entrer un numéro de téléphone valide.
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="checkUserForm('password')">
                        <label class="col-lg-4 control-label">Mon mot de passe</label>
                        <div class="col-lg-8">
                            <input type="password" name="password" class="login-inp form-control" ng-model="user.password" placeholder="Mot de passe" alk-focus ng-minlength="8" required/>
                            <div ng-show="userForm.password.$error.minlength" class="help-block">
                                Votre mot de passe doit contenir au moins 8 caractères.
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <br/>
            <form class="form-horizontal" ng-show="userForm.$valid" name="companyForm">
                <div ng-init="formInit(companyForm)">
                    <h3>Quelques détails sur mon entreprise...</h3><br/>
                    <div class="form-group" ng-class="checkCompanyForm('companyNameLegal')">
                        <label class="col-lg-4 control-label">Mon entreprise</label>
                        <div class="col-lg-8">
                            <input type="text" name="companyNameLegal" class="login-inp form-control" ng-model="company.nameLegal" placeholder="ex : Rik et Rok" ng-minlength="1" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Son numéro de RCS (facultatif)</label>
                        <div class="col-lg-3">
                            <input type="text" name="companyIdentifierLegal" class="login-inp form-control" ng-model="company.identifierLegal" placeholder="535 078 190"/>
                        </div>
                        <label class="col-lg-1 control-label">de</label>
                        <div class="col-lg-4">
                            <input type="text" name="companyIdentifierCity" class="login-inp form-control" ng-model="company.identifierCity" placeholder="Pontoise"/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="checkCompanyForm('companyCountry')">
                        <div>
                            <label class="col-lg-4 control-label">Son adresse</label>
                            <div class="col-lg-8">
                                <textarea name="companyAdress" class="login-inp form-control" ng-model="company.adress" placeholder="ex : 82 rue du Faubourg Saint-Martin" ng-minlength="1" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="checkCompanyForm('companyPostcode')">
                        <div>
                            <div class="col-lg-2 col-lg-offset-4">
                                <input type="text" name="companyPostcode" class="login-inp form-control" ng-model="company.postcode" placeholder="ex : 75010" ng-minlength="1" required/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" name="companyCity" class="login-inp form-control" ng-model="company.city" placeholder="ex : Paris" ng-minlength="1" required/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" name="companyCountry" class="login-inp form-control" ng-model="company.country" placeholder="ex : France" ng-minlength="1" required/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <br/>
            <form class="form-horizontal" ng-show="companyForm.$valid" name="dataForm">
                <div ng-init="formInit(dataForm)">
                    <h3>Quelques détails sur mes produits...</h3><br/>
                    <div class="form-group">
                        <div>
                            <label class="col-lg-4 control-label">Mes marques</label>
                            <div class="col-lg-8">
                                <textarea name="dataBrand" class="login-inp form-control" ng-model="data.brand" placeholder="ex : Rik &amp; Rok, Mmm !" alk-focus rows="3"></textarea>
                                <div ng-show="dataForm.dataBrand.$focus">
                                    Une liste facultative de vos marques, séparées par des virgules.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label class="col-lg-4 control-label">Mes EANs</label>
                            <div class="col-lg-8">
                                <textarea name="dataProduct" class="login-inp form-control" ng-model="data.product" placeholder="ex : 3596710025565, 3596710293988, 3596710217243, 3596710194834, 3596710282456, 3596710252947, 3596710282449" alk-focus rows="3"></textarea>
                                <div ng-show="dataForm.dataProduct.$focus">
                                    Une liste facultative d'EANs, séparées par des virgules.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="well">
                <h3>Comment ça marche ?</h3>
                <br/>
                1. Je m'inscris
                <br/>
                2. Je reçois sous 48 heures un message me donnant accès à mes produits.
                <br/>
                3. Je mets à jour mes produits
                <br/>
                4. Je les publie vers les sites des distributeurs
                <br/>
                <br/>
                <br/>
                Rien ne vous sera facturé tant que vous ne publiez pas vos fiches produit.
                <br/>
                Vous pouvez vous inscrire pour découvrir la plateforme, et ne pas décider de l'utiliser.
                <br/>
                Vous pouvez à tout moment supprimer votre compte.
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!ok">
    <div class="row">
        <div class="col-lg-6">
            <form class="form-horizontal" name="acceptForm">
                <div>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="user.accept" required> J'accepte les <a href="http://media.alkemics.com/corporate/stream/contract/cgu.pdf" target="_blank">CGU</a>
                                </label>
                            </div>
                            <br/>
                            <button type="button" ng-click="submit()" class="btn color-green-inverse">&gt; Je m'inscris</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <div ng-show="message" class="alert alert-warning">
                {{ message }}
            </div>
        </div>
    </div>
</div>


<div ng-include="'/src/home/footer.html'"></div>