<style>
.brand-logo {
    max-height: 20px;
}
</style>
<div class="modal-header">
    <h3>
        Noms des produits chez les distributeurs
    </h3>
</div>
<div class="modal-body">
    <div class="text-center" ng-if="productInShops.length == 0">
        <i class="fa fa-warning"></i> Aucun produit trouvé chez les distributeurs
    </div>
    <table class="table" ng-if="productInShops.length > 0">
        <thead>
            <tr>
                <td>Distributeur</td>
                <td>Nom du produit</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="productInShop in productInShops | filter:active">
                <td class="text-center"><img entity-image entity="productInShop.isSoldBy" class="brand-logo"/></td>
                <td>{{ productInShop.name }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <form class="form-inline" role="form">
        <div class="form-group">
            <button class="btn btn-default" ng-click="ok()"><i class="fa fa-arrow-right"></i> Retour</button>
        </div>
    </form>
</div>