<h1>
    <i class="fa fa-building-o"></i>
    {{ organization.name }}
</h1>
<hr/>

<div class="row">
    <div class="col-lg-2">
        <img ng-src="https://secure.gravatar.com/avatar/{{ organization.name | gravatar }}?s=512&d=mm" class="img-thumbnail img-responsive"/>
    </div>
    <div class="col-lg-10">
        <section class="row">
            <div class="col-lg-4">
                <h2>Informations générales</h2>
                <p>
                    Les informations de contact et de facturation.
                </p>
            </div>
            <div class="col-lg-8">
                <form role="form">
                    <div class="form-group">
                        <label for="name">Raison sociale</label>
                        <input type="text" class="form-control" name="name" ng-model="organization.legalName" placeholder="Raison sociale de votre entreprise">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-6" for="legalNumber">RCS</label>
                            <label class="col-sm-6" for="legalCity">&nbsp;</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="legalNumber" ng-model="organization.legalNumber" placeholder="Votre numéro RCS">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="legalCity" ng-model="organization.legalCity" placeholder="Ville d'inscription au RCS">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url">Adresse</label>
                        <textarea class="form-control" ng-model="organization.street" placeholder="N° et rue"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="organization.postCode" placeholder="Code postal">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="organization.city" placeholder="Ville">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="organization.country" placeholder="Pays">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right">
                            <button type="submit" ng-click="submit()" class="btn btn-success"><i class="fa fa-save"></i> Enregister</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <br/> <br/> <br/> <br/>

        <section class="row">
            <div class="col-lg-4">
                <h2>Membres</h2>
                <p>
                    Les membres de cette organisation.
                </p>
            </div>
            <div class="col-lg-8">
                <table class="table table-condensed table-bordered">
                    <thead class="color-stream-inverse">
                        <tr>
                            <th>Nom utilisateur</th>
                            <th>Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>
                                <img ng-src="https://secure.gravatar.com/avatar/{{ user.username | gravatar }}?s=20&d=mm" height="20" width="20"/>
                                <a ng-href="/#/user/{{ user.id }}/profile">
                                    <span ng-if="user.firstname">
                                        {{ user.firstname }} {{ user.lastname }}
                                    </span>
                                    <span ng-if="!user.firstname">
                                        {{ user.username }}
                                    </span>
                                </a>
                            </td>
                            <td>
                                {{ user.permission }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="/#/settings/organization/{{ organizationId }}/users/new">
                                    <i class="fa fa-plus"></i>
                                    Ajouter un utilisateur
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>