<h1>
    <i class="fa fa-building-o"></i>
    {{ organization.nameLegal }}
</h1>
<hr/>

<div class="row">
    <div class="col-lg-2">
        <img ng-src="https://secure.gravatar.com/avatar/{{ organization.name | gravatar }}?s=512&d=mm" class="img-thumbnail img-responsive"/>
    </div>
    <div class="col-lg-10">
        <section class="row">
            <div class="col-lg-4">
                <h2>Informations générales</h2>
                <p>
                    Les informations de contact et de facturation.
                </p>
            </div>
            <div class="col-lg-8">
                <form role="form" name="organizationForm">
                    <div ng-init="organizationFormInit(organizationForm)">
                        <div class="form-group">
                            <label for="nameLegal">Raison sociale</label>
                            <input type="text" class="form-control" ng-model="organization.nameLegal" placeholder="Raison sociale de votre entreprise" name="nameLegal" id="nameLegal"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" ng-model="organization.description" placeholder="Description de l'activité de l'entreprise" name="description" id="description"/>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-6" for="identifierLegal">RCS</label>
                                <label class="col-sm-6" for="identifierCity">&nbsp;</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="identifierLegal" ng-model="organization.identifierLegal" placeholder="Votre numéro RCS" id="identifierLegal" name="identifierLegal" ng-minlength="1" required/>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="identifierCity" ng-model="organization.identifierCity" placeholder="Ville d'inscription au RCS" id="identifierCity" name="identifierCity"/>
                                </div>
                            </div>
                        </div>
                        <div ng-show="organizationForm.identifierLegal.$invalid">
                            Veuillez entrer un RCS valide.
                        </div>
                        <div class="form-group">
                            <label for="address">Adresse</label>
                            <textarea class="form-control" ng-model="organization.address" placeholder="N° et rue" name="address" id="address"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="organization.postCode" placeholder="Code postal" name="postCode" id="postCode"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="organization.city" placeholder="Ville" name="city" id="city"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="organization.country" placeholder="Pays" name="country" id="country"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <table class="table table-condensed table-bordered">
                                <thead class="color-stream-inverse">
                                    <tr>
                                        <th>GLN</th>
                                        <th>Nom</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="gln in glns track by $index">
                                        <td>{{ gln.gln }}</td>
                                        <td>{{ gln.nameLegal }}</td>
                                        <td>
                                            <i ng-click="deleteGln(gln, $index)" class="fa fa-2x fa-trash ng-isolate-scope pull-right">
                                            </i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="table table-condensed table-bordered">
                                <thead class="color-stream-inverse">
                                    <tr>
                                        <th>GLN en attente de validation</th>
                                        <th>Utilisateur</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="gln in organization.pendingclaimGLNs track by $index">
                                        <td>{{ gln.value }}</td><td>{{ gln.user.username }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div class="input-group" ng-repeat="gln in organization.claimGLNs track by $index">
                                <input type="text" class="form-control" ng-model="gln.gln" placeholder="ex : 3663215000011" ng-minlength="1" required/>
                                <span class="input-group-btn">
                                    <div class="btn btn-default" ng-click="removeGLNClaim($index)">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                </span>
                            </div>
                            <br>
                            <div>
                                <div class="btn btn-default" ng-click="addGLNClaim()">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-right">
                                <div button-save type="submit" ng-click="updateOrganization()" form="organizationForm"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <br/> <br/> <br/> <br/>

        <section class="row">
            <div class="col-lg-4">
                <h2>Membres</h2>
                <p>
                    Les membres de cette organisation.
                </p>
            </div>
            <div class="col-lg-8">
                <table class="table table-condensed table-bordered">
                    <thead class="color-stream-inverse">
                        <tr>
                            <th>Nom utilisateur</th>
                            <th>Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users track by $index">
                            <td>
                                <img ng-src="https://secure.gravatar.com/avatar/{{ user.username | gravatar }}?s=20&d=mm" height="20" width="20"/>
                                <a ng-href="/#/user/{{ user.id }}/profile">
                                    <span ng-if="user.firstname">
                                        {{ user.firstname }} {{ user.lastname }}
                                    </span>
                                    <span ng-if="!user.firstname">
                                        {{ user.username }}
                                    </span>
                                </a>
                            </td>
                            <td>
                                <span ng-repeat-start="permission in user.permission" class="label label-default">{{ permission }}</span>&emsp;
                                <span ng-repeat-end></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a class="true-link" ng-click="addUser()">
                                    <i class="fa fa-plus"></i>
                                    Ajouter un utilisateur
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <br/> <br/> <br/> <br/>

        <section class="row" ng-show="brands.length">
            <div class="col-md-4">
                <h2>Marques</h2>
                <p>
                    La liste des marques gérées par cette organisation.
                </p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div ng-repeat="brand in brands">
                        <div role-sticker relation="brand" class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </section>
        <br/> <br/> <br/> <br/>

        <section class="row" ng-show="productSegments.length">
            <div class="col-md-4">
                <h2>Segments</h2>
                <p>
                    La liste des segments gérés par cette organisation.
                </p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <a ng-href="/#/organization/{{ organization.id }}/admin/home">Voir les {{ productSegments.length }} segments</a>
                </div>
            </div>
        </section>
        <br/> <br/> <br/> <br/>
    </div>
</div>
