<div template-product>
<div ng-controller="DashboardMakerProductShowMediaController">

<h3>Site internet</h3>
<div class="form-group">
    <label for="url" class="col-sm-3 control-label">URL </label>
    <div class="col-sm-9">
        <input type="text" name="url" class="form-control" ng-model="product.url" placeholder="" alk-focus/>
        <div input-block-help field="productForm.url">
            Adresse URL pointant vers une fiche produit plus détaillée.
        </div>
    </div>
</div>

<h3>Photos</h3>
<div class="form-group">
    <label for="advices" class="col-sm-3 control-label">Pack shot</label>
    <div class="col-sm-9 text-center" ng-click="uploadNewPictures('packshot', false)" style="cursor:pointer;">
        <div class="well">
            <i class="fa fa-picture-o"></i> Déposer ici votre image
        </div>
    </div>
</div>
<!-- <div class="form-group">
    <label for="advices" class="col-sm-2 control-label">Faces</label>
    <div class="col-sm-10 text-center" ng-click="uploadNewPictures('face')" style="cursor:pointer;">
        <div class="well">
            <i class="fa fa-picture-o"></i> Déposer ici vos images
        </div>
    </div>
</div> -->

<!-- <h3>Médias</h3>
<div class="form-group">
    <label for="advices" class="col-sm-2 control-label">Vue 3D</label>
    <div class="col-sm-10 text-center">
        <div class="well">
            <i class="fa fa-picture-o"></i> Déposer ici votre fichier
        </div>
    </div>
</div>
<div class="form-group">
    <label for="advices" class="col-sm-2 control-label">Vidéo</label>
    <div class="col-sm-10 text-center">
        <div class="well">
            <i class="fa fa-picture-o"></i> Déposer ici votre fichier
        </div>
    </div>
</div> -->

</div>
</div>