<div template-product>
<div ng-controller="DashboardMakerProductShowMediaController">


<h3>Site internet</h3>
<div class="form-group">
    <label for="url" class="col-sm-2 control-label">URL </label>
    <div class="col-sm-10">
        <input type="text" name="url" id="url" class="form-control" ng-model="product.url" placeholder="" alk-focus/>
        <div input-block-help field="productForm.url">
            Adresse URL pointant vers une fiche produit plus détaillée.
        </div>
    </div>
</div>
<br/>
<br/>
<br/>


<div class="pull-right">
    <div ng-if="!downloadInProgress"
         class="btn btn-primary"
         ng-click="downloadAllPictures()"
         analytics-on="click" analytics-event="Product Profile Media Download All">
        <i class="fa fa-cloud-download"></i> Tout télécharger
    </div>
    <div ng-if="downloadInProgress" class="btn btn-primary">
        <i class="fa fa-spinner fa-spin"></i> Téléchargement
    </div>
    <div class="btn btn-primary" ng-click="uploadNewPictures()">
        <i class="fa fa-plus"></i> Ajouter un visuel
    </div>
</div>
<h3>Visuels</h3>
<div class="form-group">
    <div class="col-sm-12">
        <div class="row">
            <div ng-if="!pictures.length" class="col-sm-12 alert alert-warning text-center">
                <i class="fa fa-warning"></i> Vous n'avez pas encore ajouté de photo.
            </div>
            <div ng-repeat="picture in pictures" class="col-sm-4 picture text-center">
                <div class="col-sm-12 img-container">
                    <a ng-href="{{ picture.uniformResourceIdentifier }}" target="_blank">
                        <img ng-src="{{ picture.uniformResourceIdentifier }}" class="img-responsive img-thumbnail">
                    </a>
                </div>
                <div class="col-sm-12 text-center">
                    <div class="col-sm-12">
                        {{ picture.contentTypeName() }},
                        {{ picture.productFaceName() }}
                        <br/>
                        {{ picture.angleVerticalName() }}
                        {{ picture.angleHorizontalName() }}
                        <br/>
                        Ajouté le {{ picture.updatedAt | date:'dd/MM/yyyy' }}
                        <br/>
                        <!-- Valide du {{ picture.fileEffectiveStartDateTime | date:'dd/MM/yyyy' }} au {{ picture.fileEffectiveEndDateTime | date:'dd/MM/yyyy' }} -->
                    </div>
                    <div class="col-sm-12">
                        <span ng-click="selectAsPackshot(picture)" class="btn btn-primary text-center">Définir comme image principale</span>
                        <span alk-confirm-action confirm-action="deletePicture" item="picture" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </div>
                    <div ng-show="isDemo" class="col-sm-12">
                        <div>
                            Validation Technique : <i class="fa fa-check text-success"></i>
                        </div>
                        <div>
                            Validation Artistique :  <i ng-if="isPhotographer" class="fa fa-check text-success"></i><i ng-if="!isPhotographer" class="fa fa-times text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <h3>Accédez ci-dessous aux spécifications des images de nos enseignes partenaires :</h3>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="(shopId, available) in availables" class="col-sm-2 partner-shop">
                <a ng-href="http://media.alkemics.com/corporate/stream/specification/picture/{{ shopId }}/specification.zip" target="_blank"
                   ng-class="{'disabled': !available}"
                   analytics-on="click" analytics-event="Product Profile Media Get Spec">
                    <img entity-image entity-id="{{ shopId }}" entity-type="Shop"/>
                </a>
            </div>
        </div>
    </div>
</div>

</div>
</div>
