<div template-product>
<div ng-controller="DashboardMakerProductShowMediaController">


<h3>Site internet</h3>
<div class="form-group">
    <label for="url" class="col-sm-2 control-label">URL </label>
    <div class="col-sm-10">
        <input type="text" name="url" id="url" class="form-control" ng-model="product.url" placeholder="" alk-focus/>
        <div input-block-help field="productForm.url">
            Adresse URL pointant vers une fiche produit plus détaillée.
        </div>
    </div>
</div>
<br/>
<br/>
<br/>


<div class="pull-right">
    <div class="btn btn-success" ng-click="uploadNewPictures()">
        <i class="fa fa-plus"></i> Ajouter un visuel
    </div>
</div>
<h3>Visuels</h3>
<div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
        <div class="row">
            <div ng-if="!pictures.length" class="col-sm-12 alert alert-warning text-center">
                <i class="fa fa-warning"></i> Vous n'avez pas encore ajouté de photo.
            </div>
            <div ng-repeat="picture in pictures" class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <img ng-src="{{ picture.uniformResourceIdentifier }}" class="img-responsive img-thumbnail">
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-12">
                            {{ picture.contentTypeName() }},
                            {{ picture.productFaceName() }}
                            <br/>
                            {{ picture.angleVerticalName() }}
                            {{ picture.angleHorizontalName() }}
                            <br/>
                            Ajouté le {{ picture.updatedAt | date:'dd/MM/yyyy' }}
                            <br/>
                            Valide du {{ picture.fileEffectiveStartDateTime | date:'dd/MM/yyyy' }} au {{ picture.fileEffectiveEndDateTime | date:'dd/MM/yyyy' }}
                        </div>
                        <div class="col-sm-4">
                            <a ng-href="{{ picture.uniformResourceIdentifier }}" target="_blank" class="btn btn-success btn-block">
                                <i class="fa fa-eye"></i> Voir l'original
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <div ng-click="selectAsPackshot(picture)" class="btn btn-warning btn-block">
                                <i class="fa fa-picture-o"></i> Définir comme packshot
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div alk-confirm-action confirm-action="deletePicture" item="picture" class="btn btn-danger btn-block">
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                Accédez ci-dessous aux spécifications de nos enseignes partenaires:
            </div>
        </div>
        <div class="row">
            <div ng-repeat="(shopId, available) in availables" class="col-sm-2 partner-shop">
                <a ng-href="http://media.alkemics.com/corporate/stream/specification/picture/{{ shopId }}/specification.zip" target="_blank" ng-class="{'disabled': !available}">
                    <img entity-image entity-id="{{ shopId }}" entity-type="Shop"/>
                </a>
            </div>
        </div>
    </div>
</div>

</div>
</div>