<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid admin admin-page">
    <div class="container">
        <div class="row">
        	<h1>
        		Administration
        		<small>Organisation</small>
        	</h1>
        </div>
        <div class="row">
            <div class="col-sm-12 box-tile">
                <div class="col-sm-12">
                    <h2>
                        {{ organization.nameLegal }}

                        <div class="pull-right">
                            <a class="btn btn-default" ng-href="#/organization/{{ organizationId }}/profile">
                                <i class="fa fa-edit"></i> Modifier
                            </a>
                        </div>
                    </h2>

                </div>
                <div class="col-sm-12">
                    <br/>
                    <p>{{ organization.description }}</p>
                    <h4>RCS</h4>
                    <p>{{  organization.identifierLegal }}</p>
                    <h4>Adresse: </h4>
                    <p>
                         {{  organization.address }},
                         {{  organization.postCode }}
                         {{  organization.identifierCity }}
                    </p>
                </div>
                <div class="col-sm-12 text-center">
                    <div class="col-sm-4">
                        <a class="btn btn-default" ng-click="addUser()" role="button">
                            <i class="fa fa-plus"></i> Ajouter un utilisateur
                        </a>
                    </div>
<!--                     <div class="col-sm-4">
                        <a class="btn btn-default" ng-click="addSegment()" role="button">
                            <i class="fa fa-plus"></i> Ajouter un segment
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-default" ng-href="/#/organization/{{organizationId}}/admin/users" role="button">
                            <i class="fa fa-user"></i> Gestion des segments
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        <br>
        <div class="row" ng-show="productSegments.length">
            <div class="col-sm-12 box-tile">
                <h2>Segments</h2>
                <p>
                    La liste des segments gérés par cette organisation.
                </p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div ng-repeat="segment in productSegments">
                        <div class="col-md-12 box-tile">
                            <h3>{{ segment.name }}</h3>
                            <div ng-repeat="query in segment.query track by $index">
                                <p ng-if="query.filter_glns.length">GLN :
                                    <div ng-repeat="gln in query.filter_glns track by $index">
                                        {{ gln }}
                                    </div>
                                </p>
                                <p ng-if="query.filter_brand_ids.length">Marques :
                                    <div ng-repeat="brandId in query.filter_brand_ids track by $index">
                                        {{ brandid }}
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
