<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid admin admin-page admin-home">
    <div class="row row-header">
    <div class="row-full-height row-same-height">
        <div class="col-xs-12 col-sm-4 col-full-height col-top">
            <div class="col-xs-12 organization-summary box-tile">
                <div class="col-xs-12">
                    <a ng-href="#/organization/{{ organizationId }}/profile" analytics-on="click" analytics-event="MAK Admin Edit Organization">
                        <i class="mdi mdi-pencil"></i>
                    </a>
                    <h2>
                        &nbsp;{{ organization.nameLegal }}
                    </h2>
                    <div class="">
                    </div>
                </div>
                <div class="col-xs-12">
                    <p>{{ organization.description }}</p>
                    <p>
                        <strong>RCS :</strong>
                        <span>
                            {{ organization.identifierLegal || 'Non rempli' }}
                        </span>
                    </p>
                    <p>
                        <strong>GLNs :</strong>
                        <span>
                            {{ organization.ownsGLN.length || '0' }}
                        </span>
                    </p>
                    <p>
                        <strong>Adresse : </strong>
                        <span ng-hide="!organization.address && !organization.postCode && !organization.identifierCity">
                            {{  organization.address }},
                            {{  organization.postCode }}
                            {{  organization.identifierCity }}
                        </span>
                        <span ng-if="!organization.address && !organization.postCode && !organization.identifierCity">
                            Non rempli
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-full-height box-tile col-top welcome-header">
            <div class="col-xs-12">
                <h2>Bienvenue {{ currentUser.firstname }} {{ currentUser.lastname }}</h2>
            </div>
            <div class="col-xs-12">
                <p class="organization-actions">
                    <a ng-show="newProductsLoaded"
                       ng-href="#/maker/brand/all/product"
                       class="btn action new-products"
                       ng-click="$root.navigation.maker.displayNewProducts = true;"
                       analytics-on="click" analytics-event="MAK Admin NewProducts">
                        <span class="badge">{{ newProductsCount }}</span> nouvelles références
                    </a>
                    <a class="btn action"
                       ng-click="addUser()" role="button"
                       analytics-on="click" analytics-event="MAK Admin AddNewUser">
                        <i class="mdi mdi-plus"></i> Ajouter un nouvel utilisateur
                    </a>
                    <span alk-button-brand-claim=""
                          label="'Ajouter une marque à votre organisation'"
                          class="action"
                          alk-button-class="default"
                          analytics-on="click" analytics-event="MAK Admin AddBrand"></span>
                    <!-- <a class="btn btn-default" ng-href="/#/organization/{{ organizationId }}/admin/permissions/productsegment" role="button">
                        <i class="fa fa-user"></i> Voir toutes les permissions
                    </a> -->
                </p>
            </div>
        </div>
    </div>
    </div>

    <br>

    <div class="row segments-information" ng-show="segments.length">
        <div class="col-xs-8 no-padding-right">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 box-tile header no-padding-right">
                    <div class="col-xs-12">
                        <div class="search col-xs-offset-6 col-xs-6">
                            <form class="form-inline" ng-class="{'active': displaySearch}">
                                <div class="form-group">
                                    <input class="form-control"
                                           ng-model="search.$"
                                           focus-me="displaySearch"
                                           analytics-on="click" analytics-event="MAK Admin SearchProductSegment"
                                           ng-show="displaySearch">
                                </div>
                                <i class="mdi mdi-magnify" ng-click="toggleSearchDisplay()"></i>
                            </form>
                        </div>
                    </div>
                    <h2>
                        Mes gammes de produits
                    </h2>
                    <button class="btn btn-fab btn-raised btn-stream add-productsegment"
                            ng-click="createProductSegment()"
                            data-toggle="tooltip"
                            data-placement="top"
                            ng-attr-title="Créer une nouvelle gamme de produits"
                            tooltip=""
                            analytics-on="click" analytics-event="MAK Admin AddProductSegment">
                        <i class="mdi mdi-plus add"></i>
                        <i class="mdi mdi-pencil edit"></i>
                        <div class="btn-stream-inverse btn-label">Ajouter une gamme</div>
                    </button>
                </div>
            </div>
            <div class="row segments">
                <div class="row-same-height row-full-height">
                    <div class="col-xs-12 col-full-height col-top">
                        <div class="row">
                            <table scrollable-table watch="filteredSegments" class="table box-tile">
                                <thead class="segments-header">
                                    <tr>
                                        <th></th>
                                        <th class="name">Nom de la gamme</th>
                                        <th>Nombre de marques</th>
                                        <th>Nombre d'utilisateurs</th>
                                        <th>Nombre de produits</th>
                                        <th>% certifiés</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr ng-repeat="segment in filteredSegments = (segments | filter:search)"
                                       class="segment"
                                       ng-class="{'active': segment.id === selectedSegment.id }"
                                       ng-click="selectSegment(segment.id)">
                                       <td>
                                            <i class="mdi mdi-pencil"
                                               ng-click="editProductSegment(segment.id)"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               ng-attr-title="Editer la gamme {{ segment.name }}"
                                               tooltip=""
                                               analytics-on="click" analytics-event="MAK Admin EditProductSegment"></i>
                                       </td>
                                       <td class="name">{{ segment.name }}</td>
                                       <td>{{ segment.query.0.filter_brand_ids.length }}</td>
                                       <td>{{ segment.usersCount }}</td>
                                       <td>{{ segment.statistics.total }}</td>
                                       <td>{{ segment.statistics.certifiedsPercent }}%</td>
                                    </tr>
                                    <tr ng-hide="filteredSegments.length" class="box-tile">
                                        <td colspan="6" class="text-center">
                                            <h3>Aucune gamme trouvée</h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div ng-show="segmentDetailsLoading || selectedSegment" class="col-xs-4 segment-summary no-padding-left col-full-height col-top">
            <div ng-show="segmentDetailsLoading" class="col-xs-12 box-tile text-center">
                <i class="fa fa-spin fa-spinner fa-3x"></i>
            </div>
            <div ng-show="!segmentDetailsLoading">
                <div class="col-xs-12 box-tile header">
                    <div class="row">
                        <div ng-if="selectedSegment.id !== productSegmentRoot.id" class="col-xs-12">
                            <div class="pull-right">
                                <i class="mdi mdi-account-plus"
                                   ng-click="addUserToProductSegment()"
                                   analytics-on="click" analytics-event="MAK Admin AddUserToProductSegment"></i>
                                <i alk-confirm-action
                                   confirm-message="rmComfirmMsg"
                                   confirm-action="deleteProductSegment"
                                   item="picture"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   ng-attr-title="Supprimer la gamme {{ selectedSegment.name }}"
                                   class="mdi mdi-delete ng-isolate-scope pull-right"
                                   analytics-on="click" analytics-event="MAK Admin RemoveProductSegment"></i>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h3>{{ selectedSegment.name}}</h3>
                            <p>
                                <span ng-if="selectedSegment.statistics.total">{{ selectedSegment.statistics.total }} produits -</span>
                                <span>Modifié le {{ selectedSegment.updatedAt | date:'dd.MM.yyyy' }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 stats certifieds">
                    <div class="figure">
                        {{ selectedSegment.statistics.certifiedsPercent }}%
                    </div>
                    <div class="text">
                        {{ selectedSegment.statistics.certifieds }} certifiés
                    </div>
                </div>
                <div class="col-xs-6 stats not-certifieds">
                    <div class="figure">
                        {{ selectedSegment.statistics.notCertifiedsPercent }}%
                    </div>
                    <div class="text">
                        {{ selectedSegment.statistics.notCertifieds }} non certifiés
                    </div>
                </div>
                <div class="col-xs-12 permissions-wrapper">
                    <h3>Les permissions</h3>
                    <p>{{ selectedSegment.usersCount }} utilisateurs</p>
                    <a ng-if="selectedSegment.id !== productSegmentRoot.id"
                       class="permissions"
                       ng-href="/#/organization/{{ organizationId }}/admin/permissions/productsegment?segment_id={{ selectedSegment.id }}"
                       role="button"
                       analytics-on="click" analytics-event="MAK Admin SeeUsers">
                       Voir les permissions
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
