<div ng-include="'/src/maker/home/header.html'"></div>
<div class="container-fluid admin admin-page admin-home">
    <div class="row row-full-height row-same-height">
        <div class="col-xs-12 col-sm-5 col-full-height">
            <div class="col-xs-12 box-tile">
                <div class="col-xs-12">
                    <h2>
                        {{ organization.nameLegal }}
                        <a class="btn btn-default pull-right" ng-href="#/organization/{{ organizationId }}/profile">
                            <i class="fa fa-edit"></i> Modifier
                        </a>
                    </h2>
                    <div class="">
                    </div>
                </div>
                <div class="col-xs-12">
                    <p>{{ organization.description }}</p>
                    <h4>RCS</h4>
                    <p>{{ organization.identifierLegal }}</p>
                    <h4>Adresse : </h4>
                    <p>
                         {{  organization.address }},
                         {{  organization.postCode }}
                         {{  organization.identifierCity }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-full-height box-tile col-top">
            <div class="col-xs-12">
                <h3>Bienvenue {{ currentUser.firstname }} {{ currentUser.lastname }}</h3>
            </div>
            <div class="col-xs-12">
                <p class="new-products">
                    <span ng-show="newProductsLoaded">
                        Vous avez &nbsp;
                        <a class="btn btn-default" ng-href="#/maker/brand/all/product" ng-click="$root.navigation.maker.displayNewProducts = true;">
                            {{ newProductsCount }} nouveaux produits
                        </a>
                        &nbsp;&nbsp;en attente d'attribution
                    </span>
                </p>
            </div>
            <div class="col-xs-12">
                <p>
                    Vous pouvez &nbsp;
                    <a class="btn btn-default" ng-click="addUser()" role="button">
                        <i class="fa fa-user-plus"></i> Ajouter un nouvel utilisateur
                    </a>
                    &nbsp;&nbsp;
                    <span alk-button-brand-claim="" label="'Ajouter une marque à votre organisation'" alk-button-class="btn-default"></span>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row segments-information" ng-show="productSegments.length">
        <div class="col-xs-6">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 box-tile header">
                    <h2>
                        Mes gammes de produits
                        <span class="pull-right">
                            <i  ng-show="!displaySearch" class="fa fa-search" ng-click="displaySearch = !displaySearch"></i>
                            <div ng-show="displaySearch" class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search" ng-click="displaySearch = !displaySearch"></i>
                                </span>
                                <input class="form-control" ng-model="search.$"/>
                            </div>
                        </span>
                    </h2>
                    <div>
                        <div class="btn btn-default" ng-click="addSegment()">
                            <i class="fa fa-plus"> Ajouter une gamme</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row segments">
                <div class="row-same-height row-full-height">
                    <div class="col-xs-12 col-full-height col-top">
                        <div class="row">
                            <div ng-repeat="segment in filteredSegments = (productSegments | filter:search)"
                                 class="col-xs-12 box-tile segment"
                                 ng-class="{'active': segment.id === selectedSegment.id }">
                                <div class="segment-summary" ng-click="selectSegment(segment.id)">
                                    <h3>{{ segment.name }}</h3>
                                    <div ng-repeat="query in segment.query track by $index">
                                        <p>
                                            {{ query.filter_glns.length || 0}} GLN - {{ query.filter_brand_ids.length || 0 }} Marques
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div ng-hide="filteredSegments.length" class="box-tile">
                                <h3>Aucune gamme trouvée</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div ng-show="selectedSegment" class="col-xs-6">
            <div ng-show="segmentDetailsLoading" class="col-xs-12 box-tile text-center">
                <i class="fa fa-spin fa-spinner fa-3x"></i>
            </div>
            <div ng-show="!segmentDetailsLoading">
                <div class="col-xs-12 box-tile header">
                    <div class="row">
                        <div ng-if="selectedSegment.id !== productSegmentRoot.id" class="col-xs-12">
                            <div class="pull-right">
                                <i class="fa fa-2x fa-user-plus"></i>
                                <!-- <i class="fa fa-2x fa-trash"></i> -->
                                <i class="fa fa-2x fa-edit"
                                   ng-click="editProductSegment(selectedSegment.id)"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   ng-attr-title="Editer la gamme {{ selectedSegment.name }}"
                                   tooltip=""></i>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h2>{{ selectedSegment.name}}</h2>
                            <p>Édité le {{ selectedSegment.updatedAt }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 box-tile">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Contenu</h4>
                            <p>Non Certifiés : {{ selectedSegment.stats.notCertifieds }}</p>
                            <p>Certifiés : {{ selectedSegment.stats.certifieds }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 box-tile">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Informations</h4>
                            <p>ID: {{ selectedSegment.shortId }}</p>
                            <p>Créé le {{ selectedSegment.createdAt }}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="selectedSegment.id !== productSegmentRoot.id" class="col-xs-12 box-tile">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Permisions</h4>
                            <div class="col-sm-4">
                                <a class="btn btn-default" ng-href="/#/organization/{{ organizationId }}/admin/users?segment_id={{ selectedSegment.id }}" role="button">
                                    <i class="fa fa-user"></i> Voir toutes les permissions
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
