<div ng-include="'/src/retailer/home/header.html'"></div>

<div class="container product-in-shop">
    <h1>Produits</h1>
    <br/>
    <div ng-if="segment">
        <h3>Total</h3>
        <div class="row text-center">
            <div class="col-sm-3">
                <h3>
                    {{ stats.total }}
                    <br/>
                    <small>dans le catalogue</small>
                </h3>
            </div>
            <div class="col-sm-1"><h3>=</h3></div>
            <div class="col-sm-2">
                <h3 class="color-red">
                    {{ stats.missing }}
                    <br/>
                    <small>non attribués</small>
                </h3>
            </div>
            <div class="col-sm-1"><h3>+</h3></div>
            <div class="col-sm-2">
                <h3 class="color-yellow">
                    {{ stats.attributed }}
                    <br/>
                    <small>en cours de remplissage</small>
                </h3>
            </div>
            <div class="col-sm-1"><h3>+</h3></div>
            <div class="col-sm-2">
                <h3 class="color-green">
                    {{ stats.certified }}
                    <br/>
                    <small>certifiés</small>
                </h3>
           </div>
        </div>
        <div>
            * Calcul effectué sur le segment {{ segment.name }} {{ segment.id }}
        </div>
    </div>
    <br/>
    <br/>
    <br/>


    <h3>Détails des produits</h3>
    <br/>

    <div class="well">
        <div class="row">
            <div class="col-sm-2">
                <label for="shortIdOut">Votre référence</label>
            </div>
            <div class="col-sm-2">
                <label for="reference">EAN</label>
            </div>
            <div class="col-sm-2">
                <label for="certified">Statut</label>
            </div>
            <div class="col-sm-3">
                <label for="productInShopSegment">Fournisseur ou catégorie</label>
            </div>
            <div class="col-sm-2">
                <label for="name">Libellé</label>
            </div>
            <div class="col-sm-1 text-center">
                <a class="true-link" ng-click="clearFilters()">
                    <i class="fa fa-times"></i>
                    Reset
                </a>
            </div>
        </div>
        <div class="row">
            <form class="form-inline" role="form">
                <div class="col-sm-2">
                    <input style="width: 100%;" type="text" class="form-control" placeholder="ex : 483674" id="shortIdOut"
                           ng-model="request.productInShop.shortIdOut"
                           ng-change="refresh()"/>
                </div>
                <div class="col-sm-2">
                    <input style="width: 100%;" type="text" class="form-control" placeholder="ex : 3779000283272" id="reference"
                           ng-model="request.productReference.reference"
                           ng-change="refresh()"/>
                </div>
                <div class="col-sm-2">
                    <span alk-model-product-certified-select
                          placeholder="Tous" id="certified"
                          ng-model="request.product.certified"
                          ng-change="refresh()">
                    </span>
                </div>
                <div class="col-sm-3">
                    <div alk-autocomplete-my
                         alk-autocomplete-type="ProductInShopSegment"
                         alk-autocomplete-multiple="false"
                         alk-autocomplete-restrict="restrict"
                         placeholder="Fournisseur ou catégorie"
                         ng-model="request.productInShopSegment"
                         id="productInShopSegment">
                    </div>
                </div>
                <div class="col-sm-2">
                    <input style="width: 100%;" type="text" class="form-control" placeholder="Nom du produit"
                           ng-model="request.productInShop.name"
                           ng-change="refresh()"/>
                </div>
                <div class="col-sm-1 text-right">
                    <span class="btn btn-success btn-block" ng-click="refresh()"><i class="fa fa-search"></i></span>
                </div>
            </form>
        </div>
    </div>


    <br/> <br/>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8 text-right">
            <span class="btn btn-success" ng-click="prev()">
                <i class="fa fa-arrow-left"></i>
            </span>
            {{ request.offset }} - {{ request.offset + request.limit }}
            <span class="btn btn-success" ng-click="next()">
                <i class="fa fa-arrow-right"></i>
            </span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead class="color-stream-inverse">
                    <tr>
                        <th class="text-center">Référence</th>
                        <th class="text-center">EAN</th>
                        <th class="text-center">Statut</th>
                        <th class="text-center">Image</th>
                        <th>Nom</th>
                        <th class="text-center">Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="productInShop in productInShops">
                        <td class="text-center">{{ productInShop.shortIdOut }}</td>
                        <td class="text-center">
                            <span ng-repeat="pr in productInShop.isIdentifiedBy">
                                <span class="label label-default">{{ pr.reference }}</span> <br/>
                            </span>
                        </td>
                        <td class="text-center">
                            <span class="label" ng-class="certifiedClass(productInShop)">
                                {{ certifiedName(productInShop) }}
                            </span>
                        </td>
                        <td class="text-center">
                            <img entity-image entity="productInShop" height="60" width="60">
                        </td>
                        <td>
                            {{ productInShop.name }}
                            <!--<a class="pointer-link" ng-click="show(productInShop)">{{ productInShop.name }}</a>-->
                        </td>
                        <td class="text-center">
                            <a class="btn btn-warning" ng-if="!isAttributed(productInShop)" ng-click="attribute(productInShop)">
                                <i class="fa fa-envelope"></i> Attribuer
                            </a>
                            <a class="btn btn-primary pish-preview" ng-click="show(productInShop)" ng-if="isCertified(productInShop)">
                                <i class="fa fa-eye"></i> Aperçu
                            </a>
                            <a class="btn btn-warning" ng-click="chase(productInShop)" ng-if="isCertified(productInShop)">
                                <i class="fa fa-envelope"></i> Relancer
                            </a>
                        </td>
                        <td class="text-center"><input type="checkbox" ng-model="productInShop.selected" ng-if="!isAttributed(productInShop)"></td>
                    </tr>
                    <tr ng-if="productInShops.length === 0;">
                        <td colspan="7" class="text-center">Aucun produit</td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-8 text-right">
            <span class="btn btn-success" ng-click="prev()">
                <i class="fa fa-arrow-left"></i>
            </span>
            {{ request.offset }} - {{ request.offset + request.limit }}
            <span class="btn btn-success" ng-click="next()">
                <i class="fa fa-arrow-right"></i>
            </span>
        </div>
    </div>
</div>
