<div class="row">
    <div class="user-permissions col-xs-12">
      <div class="row">
        <div class="trash col-xs-1">
            <i alk-confirm-action
                 confirm-message="rmComfirmMsg"
                 confirm-action="removeFromSegment"
                 item="picture"
                 class="mdi mdi-delete"
                 analytics-on="click" analytics-event="MAK Admin RemoveUserFromSegment">
            </i>
        </div>
        <div class="user col-xs-7">
          {{ productsegment.name }}
        </div>
        <div class="col-xs-2 text-center">
            <div class="indication">
              Droits conférés
            </div>
        </div>
        <div class="permissions col-xs-2">
            <i class="mdi mdi-eye"
               ng-class="{ 'active' : permissions[ProductSegment.PERMISSION_PRODUCT_SHOW] == true }"
               ng-click="update(ProductSegment.PERMISSION_PRODUCT_SHOW)"></i>
            <i class="mdi mdi-pencil"
               ng-class="{ 'active' : permissions[ProductSegment.PERMISSION_PRODUCT_UPDATE] == true }"
               ng-click="update(ProductSegment.PERMISSION_PRODUCT_UPDATE)"></i>
            <i class="mdi mdi-check"
               ng-class="{ 'active' : permissions[ProductSegment.PERMISSION_PRODUCT_CERTIFY] == true }"
               ng-click="update(ProductSegment.PERMISSION_PRODUCT_CERTIFY)"></i>
        </div>
      </div>
    </div>
</div>
