<div ng-if="isInactive == false">
     <!-- <div alk-confirm-action confirm-message="toto?" confirm-action="deletePicture" item="picture" class="btn btn-danger btn-block"> -->
    <div class="user-permissions col-xs-12">
        <div class="trash col-xs-1">
            <div alk-confirm-action
                 confirm-message="rmComfirmMsg"
                 confirm-action="removeFromSegment"
                 item="picture"
                 class="fa fa-2x fa-trash">
            </div>
        </div>
        <div class="user col-xs-9">
            <div class="identity">
                <span class="name">
                    {{ user.firstname }} {{ user.lastname || 'Utilisateur'}}
                </span>
                <span class="job" ng-show="user.jobTitle" >
                    - {{ user.jobTitle }}
               </span>
            </div>
            <div class="mail">
                <i class="fa fa-envelope"> {{ user.username }}</i>
            </div>
        </div>
        <div class="permissions col-xs-2">
            <i class="fa fa-2x fa-eye"
               ng-class="{ 'active' : permissions[ProductSegment.PERMISSION_PRODUCT_SHOW] == true }"
               ng-click="update(ProductSegment.PERMISSION_PRODUCT_SHOW)"></i>
            <i class="fa fa-2x fa-edit" 
               ng-class="{ 'active' : permissions[ProductSegment.PERMISSION_PRODUCT_UPDATE] == true }"
               ng-click="update(ProductSegment.PERMISSION_PRODUCT_UPDATE)"></i>
            <i class="fa fa-2x fa-check" 
               ng-class="{ 'active' : permissions[ProductSegment.PERMISSION_PRODUCT_CERTIFY] == true }"
               ng-click="update(ProductSegment.PERMISSION_PRODUCT_CERTIFY)"></i>
        </div>
    </div>
</div>