<div class="row">
    <div class="user-permissions col-xs-12">
      <div class="row">
        <div class="trash col-xs-1">
            <i alk-confirm-action
                 confirm-message="rmComfirmMsg"
                 confirm-action="removeFromSegment"
                 item="picture"
                 class="mdi mdi-delete"
                 analytics-on="click" analytics-event="MAK Admin RemoveUserFromSegment">
            </i>
        </div>
        <div class="user col-xs-7">
            <div class="identity">
                <span class="name">
                    {{ user.firstname }} {{ user.lastname || 'Utilisateur' }}
                </span>
                <span class="job" ng-show="user.jobTitle" >
                    - {{ user.jobTitle }}
               </span>
            </div>
            <div class="mail">
                <a ng-href="mailto:{{ user.username }}" target="_blank">{{ user.username }}</a>
            </div>
        </div>
        <div class="col-xs-2 text-center">
            <div class="indication">
              Droits conférés
            </div>
        </div>
        <div ng-if="user.isAdmin() === true" class="permissions col-xs-2">
          <span class="label label-success">Administrateur</span>
        </div>
        <div ng-if="user.isAdmin() === false" class="permissions col-xs-2">

            <i class="mdi mdi-eye active"
               data-toggle="tooltip"
               data-placement="top"
               ng-attr-title="Voir les produits"
               tooltip=""></i>
            <i class="mdi mdi-pencil"
               ng-class="{ 'active' : permissions[ProductSegment.PERMISSION_PRODUCT_UPDATE] == true }"
               ng-click="update(ProductSegment.PERMISSION_PRODUCT_UPDATE)"
               data-toggle="tooltip"
               data-placement="top"
               ng-attr-title="Modifier les produits"
               tooltip=""></i>
            <i class="mdi mdi-check"
               ng-class="{ 'active' : permissions[ProductSegment.PERMISSION_PRODUCT_CERTIFY] == true }"
               ng-click="update(ProductSegment.PERMISSION_PRODUCT_CERTIFY)"
               data-toggle="tooltip"
               data-placement="top"
               ng-attr-title="Certifier les produits"
               tooltip=""></i>
        </div>
      </div>
    </div>
</div>
