<div ng-include="'/src/maker/home/header.html'"></div>

<style>
    input.ng-dirty.ng-valid ,
    textarea.ng-dirty.ng-valid ,
    select.ng-dirty.ng-valid {
        border:1px solid green;
    }
    input.ng-dirty.ng-invalid ,
    textarea.ng-dirty.ng-invalid ,
    select.ng-dirty.ng-invalid {
        border:1px solid gold;
    }
</style>

<section class="container">
    <h2>
        {{ brand.name }}
        <small>Marque commerciale</small>
        <!-- <button class="btn btn-success pull-right" ng-click="openClaimModal()">Ajouter un produit à la marque</button> -->
    </h2>

    <br/>
    <br/>
    <form class="form-horizontal" role="form" name="brandForm">
        <div class="row" ng-init="formInit(brandForm)">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nom</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="brand.name" placeholder="Dénomination marketing de votre marque" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="moto" class="col-sm-2 control-label">Slogan</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="moto" ng-model="brand.moto" placeholder="Votre slogan"/>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="publishes" class="col-sm-2 control-label">Site internet</label>
                    <div class="col-sm-10">
                        <div ng-repeat="website in brand.publishes">
                            <input type="url" class="form-control" ng-model="website.url" placeholder="Adresse du site"/>
                        </div>
                        <input type="url" class="form-control" ng-model="" placeholder="Adresse du site">
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" ng-model="brand.description" placeholder="Description de votre marque" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="history" class="col-sm-2 control-label">Histoire</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="history" ng-model="brand.history" placeholder="Histoire de votre marque" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Caractéristiques</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isDiscountHard" ng-model="brand.isDiscountHard"/>
                            <i class="fa fa-dollar"></i>
                            <i class="fa fa-dollar"></i> Marque hard discount
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isDiscount" ng-model="brand.isDiscount"/> <i class="fa fa-dollar"></i> Marque discount
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isShopBrand" ng-model="brand.isShopBrand"/> Marque de distributeur
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isIndependant" ng-model="brand.isIndependant"/> Marque nationale
                        </label>
                        <br/>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isOrganic" ng-model="brand.isOrganic"/> Marque bio
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isGreen" ng-model="brand.isGreen"/> <i class="fa fa-globe"></i> Marque éco-responsable
                        </label>
                        <br/>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isGourmet" ng-model="brand.isGourmet"/> <i class="fa fa-cutlery"></i> Marque gourmet
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isLight" ng-model="brand.isLight"/> Marque light
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isWorldFood" ng-model="brand.isWorldFood"/> Marque plats du monde
                        </label>
                        <br/>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isBaby" ng-model="brand.isBaby"/> Marque bébé
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isKid" ng-model="brand.isKid"/> Marque enfant
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isPet" ng-model="brand.isPet"/> Marque petfood
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-if="brand.subBrands.length">
                    <label class="col-sm-2 control-label">Sous-marques</label>
                    <div class="col-lg-10">
                        <a ng-href="/#/maker/{{ subBrand.id}}/show" ng-repeat="subBrand in brand.subBrands">
                            <img ng-src="{{ subBrand.picture.logo }}" fallback-src="https://stream.alkemics.com/images/5078aa32.missing.png" width="64px" style="margin-right: 10px;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <label for="logo" class="control-label">Logo</label>
                <br/>
                <br/>
                <div>
                    <img ng-src="https://smedia.alkemics.com/brand/{{ brand.id }}/picture/logo/original.png?cachebuster={{ cachebuster }}" fallback-src="https://stream.alkemics.com/images/5078aa32.missing.png" style="width: 100%; padding-bottom: 20px;"/>
                </div>
                <div class="well" ng-click="uploadNewPictures('logo', false)" style="cursor:pointer;">
                    <i class="fa fa-picture-o" name="logo"></i> Déposer ici votre logo
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-10">
                <div button-save class="pull-right" ng-click="save()" form="brandForm"></div>
            </div>
        </div>
    </form>
</section>

