<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MakerHeaderController" >
    <div class="container-fluid">
        <div class="navbar-header col-md-2 text-center">
            <a class="text-center" href="/#/retailer/activity">
                <img class="logo" src="/images/logo-inverse.png"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/#/retailer/activity">Activité</a></li>
                <li><a href="/#/retailer/productinshop">Produits</a></li>
                <li><a href="/#/retailer/productinshopsegment">Fournisseurs</a></li>
                <li><a class="pointer-link" ng-click="subscribe('Voici mon problème : ')" >Support</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/#/user/me/profile" style="height: 16px; overflow: visible;">
                        <span style="margin-right: 5px;"> {{ user.username }} </span>
                        <img ng-src="https://secure.gravatar.com/avatar/{{ user.username | gravatar }}?s=20&amp;d=mm" height="20" width="20"/>
                    </a>
                </li>
                <li>
                    <a ng-click="logout()" href="/#/logout">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
