<form role="form">
    <h4><i class="fa fa-filter"></i> Filtrer par...</h4>
    <div class="form-group">
        <label>Marque commerciale :</label>
        <div ui-tree="options" data-drag-enabled="false" class="brand-tree">
            <ol ui-tree-nodes ng-model="brands">
                <li ng-repeat="brand in brands | filter:root:true | orderBy:'name':false" ui-tree-node ng-include="'/src/maker/product/list/node.html'"></li>
            </ol>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <label>Dénomination légale</label>
        <input type="text" class="form-control" ng-model="request.product.nameLegal"/>
    </div>
    <br/>
    <div class="form-group">
        <label>EAN</label>
        <input type="text" class="form-control" ng-model="request.product.isIdentifiedBy.reference"/>
    </div>
    <br/>
    <div class="form-group">
        <label>Afficher les produits :</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="certified" ng-model="request.product.certifieds[5]"/>
                demandés par le distribueur
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="certified" ng-model="request.product.certifieds[1]"/>
                que j'ai acceptés de remplir
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="certified" ng-model="request.product.certifieds[2]"/>
                que j'ai certifiés
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="certified" ng-model="request.product.certifieds[6]"/>
                que j'ai archivés
            </label>
        </div>
    </div>
    <br/>
</form>
<div class="actions-container" ng-if="display.type === 'list'">
    <div class="actions">
        <h3 class="title">
            <i class="fa fa-edit"></i> Actions
        </h3>
        <div class="form-group">
            <div class="btn btn-success btn-block" ng-click="certificate()">
                <i class="fa fa-certificate"></i> Certifier
            </div>
            <!-- <div class="btn btn-success" ng-click="archive()">
                <i class="fa fa-archive"></i> Archiver
            </div> -->
        </div>
    </div>
</div>
