<form role="form" class="col-xs-12">
    <h3>Je recherche</h3>
    <div ng-if="isAdmin" class="form-group btn btn-block new-products" ng-class="{'highlight': displayNewProducts, 'inactive': !newProductsLoaded}" ng-click="toggleNewProducts()">
        Nouveaux produits
        <span ng-if="newProductsLoaded" class="badge">{{ newProductsCount }}</span>
        <span ng-if="!newProductsLoaded" class="badge">
            <i class="fa fa-spin fa-spinner"></i>
        </span>
    </div>
    <div class="form-group">
        <label>EAN</label>
        <input type="text" class="form-control" ng-model="request.product.isIdentifiedBy.reference"/>
    </div>
    <div class="form-group">
        <label>Libellé</label>
        <input type="text" class="form-control" ng-model="request.product.nameSmooth"/>
    </div>
    <br/>
    <div class="form-group">
        <label>Afficher les produits :</label>
        <!-- <div class="checkbox">
            <label>
                <input type="checkbox" name="certified" ng-model="request.product.certifieds[productModel.CERTIFICATION_STATUS_ATTRIBUTED.id]"/>
                demandés par le distribueur
            </label>
        </div> -->
        <div class="checkbox">
            <label>
                <input type="checkbox" name="certified" ng-model="request.product.certifieds[productModel.CERTIFICATION_STATUS_ACCEPTED.id]"/>
                que j'ai acceptés de remplir
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="certified" ng-model="request.product.certifieds[productModel.CERTIFICATION_STATUS_CERTIFIED.id]"/>
                que j'ai certifiés
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="certified" ng-model="request.product.certifieds[productModel.CERTIFICATION_STATUS_DISCONTINUED.id]"/>
                que j'ai archivés
            </label>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <label>Marque commerciale :</label>
        <div ui-tree="options" data-drag-enabled="false" class="brand-tree">
            <ol ui-tree-nodes ng-model="brands">
                <li ng-repeat="brand in brands | filter:root:true | orderBy:'name':false" ui-tree-node ng-include="'/src/maker/product/list/node.html'"></li>
            </ol>
        </div>
    </div>
    <br/>
</form>
