<div class="modal-header">
    <div class="row">
        <h3 class="col-xs-12" ng-if="!verify.cgu">
            Veuillez préciser des informations pour: {{ organization.nameLegal }}
        </h3>
        <center>
            <h3 class="col-xs-12" ng-if="verify.cgu">
                Evolutions des CGU
            </h3>            
        </center>
    </div>
</div>
<div class="modal-body">
    <div class="row" ng-if="verify.cgu">
        <div class="col-sm-12">
            <div class="input-group" ng-if="cgu.version">
               Découvrez Alkemics Live Product Page, la fiche produit connectée en temps réel à vos distributeurs.<br/>
               A chaque certification vos modifications sur Alkemics sont automatiquement publiées sur les sites de drives. Cette fiche produit est disponible dès aujourd’hui sur AuchanDrive et bientôt sur dautres sites e-commerce.
               <br><br>
                <center>
                    <img width="450" src="https://files.slack.com/files-pri/T02M8DPSC-F052TQDBH/fhdescription2.png">
                </center>
                <br><br>
                Pour utiliser cette fonctionnalité et continuer à certifier vos fiches, nous vous invitons à accepter les nouvelles conditions générales d’utilisation pour votre entreprise.
                <a target="__blank" href="{{ cgu.link }}">Conditions générales d'utilisation</a>
                <br><br>
                <span class="btn btn-link" ng-click="cancel()"><i class="fa fa-times"></i> Plus tard</span>
                <span class="btn btn-success pull-right" ng-click="sendCGUAccept()"><i class="fa fa-check "></i> Accepter</span>
            </div>
            <div ng-if="!cgu.version">
                <center>
                    Chargement des CGU en cours...<br><br>
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </center>
                <span class="btn btn-link pull-right" ng-click="cancel()"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="row" ng-if="verify.rcs && !verify.cgu">
        <div class="col-sm-10 col-md-offset-1">
            <div class="input-group">
                <input ng-model="organization.identifierLegal" type="text" class="form-control" placeholder="Registre du Commerce et des Sociétés (RCS)" />
                <div class="input-group-addon btn" ng-click="toogleHelper('rcs')"> <i class="fa fa-question-circle"></i></div>
            </div>
            <i ng-if="helper.rcs">
                <br>
                Le Registre de commerce des sociétés dit RCS, est une base de données des personnes physiques ou morales dont l’activité ou la structure est commerciale. <a target="__blank" href="https://www.infogreffe.fr/societes/informations-et-dossiers-entreprises/dossiers-thematiques/creation-entreprise/dossier-immatriculation-au-rcs.html">(Plus d'informations)</a>
            </i>
        </div>
    </div>
    <br/>
    <div class="row" ng-if="verify.gln">
        <div class="col-sm-10 col-md-offset-1">
            <div class="input-group">
                <input ng-model="organization.claimGLN[0].gln" type="text" class="form-control" placeholder="Global Location Number (GLN)" />
                <div class="input-group-addon btn" ng-click="toogleHelper('gln')"> <i class="fa fa-question-circle"></i></div>
            </div>
            <i ng-if="helper.gln">
                <br>
                Le GLN (Global Location Number) identifie l'adresse d'une société ou d'un lieu physique/fonctionnel, typiquement un siège administratif, une filiale, un département comptable, un quai de déchargement, ... Les GLN sont surtout utilisés dans les messages EDI et GDSN pour identifier de manière unique les fournisseurs, centres de distribution, ... <a target="__blank" href="http://www.publications.gs1.fr/ressources/telecharger/3041/">(Plus d'informations)</a>
            </i>
        </div>
    </div>
    <div ng-if="errors.ok === false" class="alert alert-success">
        Vos informations ont bien été enregistrés
    </div>
</div>
<div class="modal-footer"  ng-if="!verify.cgu">
    <div class="text-right">
        <span class="btn btn-success" ng-click="sendInformation()"><i class="fa fa-check"></i> Enregistrer</span>
        <span class="btn btn-link" ng-click="cancel()"><i class="fa fa-times"></i> Passer cette étape</span>
    </div>
</div>
