$picture-container-height: 16em;

.picture {
    padding-bottom: $padding-base-vertical;

    .img-container {
        height: $picture-container-height;
        position: relative;
        vertical-align: middle;

        a {
            height: $picture-container-height;
            width: 100%;

            img {
                max-height: $picture-container-height;
                max-width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                vertical-align: middle;
            }
        }

    }
}

.partner-shop {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    img {
        max-height: 40px;
        width: 100%;
    }
    .disabled {
        cursor: not-allowed;
        img {
            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
            /* Firefox 10+, Firefox on Android */
            filter: gray;
            /* IE6-9 */
            -webkit-filter: grayscale(100%);
            /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        }
    }
}
