<div class="row">
    <div class="col-sm-12">
        <br/>
        <a ng-href="/#/maker/brand/{{ product.isBrandedBy.id }}/product?page={{ productListPage }}">&lt; Retour</a>
        <br/>
        <br/>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
            <div class="ratio" ng-style="{'background-image': 'url(' + product.urlPictureOriginal + ')'}"  style="height: 100px;">
            </div>
        </div>
        <div class="text-center">
            <h4>{{ product.namePublicLong || product.nameLegal }}</h4>
            <span class="badge color-stream">{{ product.isIdentifiedBy[0].reference }}</span>
            <br/> <br/> <br/>
        </div>
    </div>
    <div>
        <ul class="nav nav-stacked" role="tablist">
            <div nav-product link="data" legend="Données" product="productReference_reference" locked="false"></div>
            <!-- <div nav-product link="merchandising" legend="Merchandising" product="productReference_reference" locked="true"></div>
            <div nav-product link="search" legend="Search" product="productReference_reference" locked="true" class="last"></div> -->
            <!--<div nav-product link="segment" legend="Segments" product="productReference_reference" locked="false" color="#d6e9c6" class="last"></div>-->
        </ul>
    </div>
    <div class="actions-container">
        <div class="actions">
            <!--
            <div>
                Conformité directive 1169 :
                <div class="progress">
                    <div class="text-center" style="height: 0px;">
                        {{ completeness | number:0 }} %
                    </div>
                    <div class="progress-bar" ng-class="{'progress-bar-warning': !product.status, 'progress-bar-success': product.status}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ completeness }}%;">
                    </div>
                </div>
            </div>
            -->
            <div button-save button-class="col-sm-12" ng-click="submit()" form="productForm">
            </div>
            <br/>
            <br/>
            <button ng-if="product.certified !== 2"
                    class="btn certify color-stream-inverse col-sm-12"
                    ng-click="certify()"
                    analytics-on="click" analytics-event="MAK Products Button Select All">
                <i class="fa fa-certificate"></i> Certifier
            </button>
            <button ng-if="product.certified === 2"
                    class="btn certify color-stream-inverse col-sm-12"
                    ng-click="uncertify()">
                <i class="fa fa-ban"></i> Décertifier
            </button>
            <br/>
            <br/>
            <button ng-click="duplicate(product)" class="btn duplicate color-stream-inverse col-sm-12">
                <i class="fa fa-plus"></i> Dupliquer
            </button>
            <br/>
            <br/>
            <button ng-if="!product.isDiscontinued()"
                    class="btn label-default archive col-sm-12"
                    ng-click="discontinue(true)">
                <i class="fa fa-archive"></i> Archiver
            </button>
            <button ng-if="product.isDiscontinued()"
                    class="btn color-stream-inverse archive col-sm-12"
                    ng-click="discontinue(false)">
                <i class="fa fa-archive"></i> Ré-activer
            </button>
        </div>
    </div>
</div>
