<label class="col-sm-2 control-label">
	{{ label }}
</label>
<div class="col-sm-4">
	<label class="radio-inline">
	    <input type="radio" ng-model="field" name="{{ name }}" ng-value="1"/>
	    Oui
	</label>
	<label class="radio-inline">
	    <input type="radio" ng-model="field" name="{{ name }}" ng-value="0"/>
	    Non
	</label>
	<label class="radio-inline">
	    <input type="radio" ng-model="field" name="{{ name }}" ng-value="2"/>
	    Traces
	</label>
	<label class="radio-inline">
	    <input type="radio" ng-model="field" name="{{ name }}" ng-value="null"/>
	    NC
	</label>
</div>