<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-4">
                <h3>Agriculture biologique</h3>
                <div product-label product="product" legend="labels[19096]"></div> <!-- isLabelledABFr -->
                <div product-label product="product" legend="labels[19095]"></div> <!-- isLabelledABEu -->
                <div product-label product="product" legend="labels[19098]"></div> <!-- isLabelledBioEquitable -->
                <div product-label product="product" legend="labels[19099]"></div> <!-- isLabelledBioGarantie -->
                <div product-label product="product" legend="labels[19103]"></div> <!-- isLabelledBioCoherence -->
            </div>


            <div class="col-sm-4">
                <h3>Développement durable</h3>
                <div product-label product="product" legend="labels[19094]"></div> <!-- isLabelledFT -->
                <div product-label product="product" legend="labels[19097]"></div> <!-- isLabelledEko -->
                <div product-label product="product" legend="labels[19101]"></div> <!-- isLabelledDemeter -->
                <div product-label product="product" legend="labels[19102]"></div> <!-- isLabelledNatureEtProgres -->
                <div product-label product="product" legend="labels[19107]"></div> <!-- isLabelledBBC -->
                <div product-label product="product" legend="labels[19108]"></div> <!-- isLabelledCPN -->
                <div product-label product="product" legend="labels[19121]"></div> <!-- isLabelledMH -->
                <div product-label product="product" legend="labels[19110]"></div> <!-- isLabelledMSC -->
                <div product-label product="product" legend="labels[19122]"></div> <!-- isLabelledCP -->
                <div product-label product="product" legend="labels[19111]"></div> <!-- isLabelledAC -->
                <div product-label product="product" legend="labels[19112]"></div> <!-- isLabelledRF -->
            </div>

            <div class="col-sm-4">
                <h3>Provenance</h3>
                <div product-label product="product" legend="labels[19100]"></div> <!-- isLabelledMontagnes -->
                <div product-label product="product" legend="labels[18266]"></div> <!-- isLabelledAOP -->
                <div product-label product="product" legend="labels[18264]"></div> <!-- isLabelledAOC -->

                <div product-label product="product" legend="labels[19104]"></div> <!-- isLabelledOFG -->
                <div product-label product="product" legend="labels[19106]"></div> <!-- isLabelledV2BF -->
                <div product-label product="product" legend="labels[19105]"></div> <!-- isLabelledV2PF -->
                <div product-label product="product" legend="labels[18265]"></div> <!-- isLabelledIGP -->
                <div product-label product="product" legend="labels[19109]"></div> <!-- isLabelledSTG -->
                <div product-label product="product" legend="labels[18942]"></div> <!-- isLabelledLR -->
                <!--
                <div product-label product="product" legend="labels[]"></div>
                <div product-label product="product" legend="labels[]"></div>
                -->
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Régimes religieux</h3>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="product.isKasher"/>
                            Kasher
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="product.isHalal"/>
                            Halal
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>Régimes particuliers</h3>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="product.isVegetarian"/>
                            Végétarien
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="product.isVegetalian"/>
                            Végétalien
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
