
<div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
        <p>
            Les valeurs ci-dessous doivent être remplies en valeur moyenne, c'est à dire avec la valeur qui représente le mieux la quantité d’un nutriment contenu dans une denrée alimentaire donnée et qui tient compte des tolérances dues aux variations saisonnières, aux habitudes de consommation et aux autres facteurs pouvant influencer la valeur effective.
        </p>
        <h3>
            Déclaration nutritionnelle
            <small>Pour 100g de produit</small>
        </h3>
    </div>
</div>

<!-- ================================================================================================================================== -->
<!--                                                         Energie                                                                    -->
<!-- ================================================================================================================================== -->

<div class="form-group has-feedback" ng-class="check('qtyEnergy')">
    <label for="qtyEnergy" class="col-sm-2 control-label">Energie</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input name="qtyEnergy" type="text" class="form-control" ng-model="product.qtyEnergy" placeholder="ex : 100" alk-float="2" alk-focus ng-min="0" required/>
            <span class="input-group-addon">kJ / 100g</span>
        </div>
        <span ng-show="productForm.qtyEnergy.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyEnergy.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyEnergy.$focus">
        La valeur énergétique d'un aliment est la quantité d'énergie pouvant en être retirée via la digestion. Pour obtenir celle-ci, on multiplie la quantité totale d'énergie contenue dans un aliment par 85 % (les pertes durant la digestion humaine représentent 15 % de la valeur totale).
        <br/>
        La valeur énergétique est exprimée en kilojoules (kJ), mais peut aussi être <a tabindex="-1" href="http://www.fao.org/docrep/meeting/009/ae906e/ae906e17.htm" target="_blank">convertie</a> en kilocalories (kCal) :
        <span ng-show="productForm.qtyEnergy.$valid">
            100 grammes de ce produit contiennent donc <strong>{{ product.qtyEnergy | number:2 }} kJ</strong> soit <strong>{{ product.qtyEnergy / 4.19  | number:2 }} kCal</strong>.
        </span>
    </div>
</div>


<!-- ================================================================================================================================== -->
<!--                                                        Graisses                                                                    -->
<!-- ================================================================================================================================== -->

<div class="form-group has-feedback" ng-class="check('qtyLypid')">
    <label for="qtyLypid" class="col-sm-2 control-label">Graisses</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input name="qtyLypid" type="text" class="form-control" ng-model="product.qtyLypid" placeholder="ex : 28.5" alk-float="2" alk-focus ng-max="100" ng-min="0" required>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyLypid.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyLypid.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyLypid.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyLypid.$focus">
        La quantité totale de lipides (y compris phospholipides), rapportée 100 grammes de produit.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtyLypidSaturated')">
    <div class="col-sm-2"></div>
    <label for="qtyLypidSaturated" class="col-sm-2 control-label">Lipides saturatés</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyLypidSaturated" type="text" class="form-control" ng-model="product.qtyLypidSaturated" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyLypidSaturated.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyLypidSaturated.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyLypidSaturated.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyLypidSaturated.$focus">
        La quantité totale d'acides gras sans double liaison, rapportée à 100 grammes de produit.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtyLypid1UnSaturated')">
    <div class="col-sm-2"></div>
    <label for="qtyLypid1UnSaturated" class="col-sm-2 control-label">Lipides Mono-insaturés</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyLypid1UnSaturated" type="text" class="form-control" ng-model="product.qtyLypid1UnSaturated" placeholder="ex : 18" alk-focus alk-float="2" ng-max="100" ng-min="0" required>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyLypid1UnSaturated.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyLypid1UnSaturated.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyLypid1UnSaturated.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyLypid1UnSaturated.$focus">
        La quantité totale d'acides gras avec une double liaison cis, rapportée à 100 grammes de produit.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtyLypidXUnSaturated')">
    <div class="col-sm-2"></div>
    <label for="qtyLypidXUnSaturated" class="col-sm-2 control-label">Lipides Poly-insaturés</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyLypidXUnSaturated" type="text" class="form-control" ng-model="product.qtyLypidXUnSaturated" placeholder="ex : 18" alk-focus alk-float="2" ng-max="100" ng-min="0" required>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyLypidXUnSaturated.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyLypidXUnSaturated.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyLypidXUnSaturated.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyLypidXUnSaturated.$focus">
        La quantité totale d'acides gras avec deux (ou plus) doubles liaisons interrompues cis ou cis-méthylène, rapportée à 100 grammes de produit.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtyLypidTrans')">
    <div class="col-sm-2"></div>
    <label for="qtyLypidTrans" class="col-sm-2 control-label">Lipides Trans</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyLypidTrans" type="text" class="form-control" ng-model="product.qtyLypidTrans" placeholder="ex : 18" alk-focus alk-float="2" required>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyLypidTrans.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyLypidTrans.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyLypidTrans.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyLypidTrans.$focus">
        La quantité totale d'acides gras qui présentent au moins une liaison double non conjuguée (c’est-à-dire inter­rompue par au moins un groupement méthylène) entre atomes de carbone en configuration trans, rapportée à 100 grammes de produit.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtyLypidCholesterol')">
    <div class="col-sm-2"></div>
    <label for="qtyLypidCholesterol" class="col-sm-2 control-label">Cholestérol</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyLypidCholesterol" type="text" class="form-control" ng-model="product.qtyLypidCholesterol" placeholder="ex : 18" alk-focus alk-float="2"/>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyLypidCholesterol.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyLypidCholesterol.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyLypidCholesterol.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtyLypidOmega3')">
    <div class="col-sm-2"></div>
    <label for="qtyLypidOmega3" class="col-sm-2 control-label">Oméga 3</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyLypidOmega3" type="text" class="form-control" ng-model="product.qtyLypidOmega3" placeholder="ex : 18" alk-focus alk-float="2"/>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyLypidOmega3.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyLypidOmega3.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyLypidOmega3.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtyLypidOmega6')">
    <div class="col-sm-2"></div>
    <label for="qtyLypidOmega6" class="col-sm-2 control-label">Oméga 6</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyLypidOmega6" type="text" class="form-control" ng-model="product.qtyLypidOmega6" placeholder="ex : 18" alk-focus alk-float="2"/>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyLypidOmega6.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyLypidOmega6.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyLypidOmega6.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('ratioFat')">
    <div class="col-sm-2"></div>
    <label for="ratioFat" class="col-sm-2 control-label">Rapport gras</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="ratioFat" type="text" class="form-control" ng-model="product.ratioFat" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">%</span>
        </div>
        <span ng-show="productForm.ratioFat.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.ratioFat.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.ratioFat.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
</div>






<!-- ================================================================================================================================== -->
<!--                                                          Sucres                                                                    -->
<!-- ================================================================================================================================== -->

<div class="form-group has-feedback" ng-class="check('qtyGlucid')">
    <label for="qtyGlucid" class="col-sm-2 control-label">Glucides</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input name="qtyGlucid" type="text" class="form-control" ng-model="product.qtyGlucid" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyGlucid.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyGlucid.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyGlucid.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyGlucid.$focus">
        La quantité totale de tous les glucides métabolisés par l’homme, y compris les polyols, rapportée à 100 grammes de produit.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtySugar')">
    <div class="col-sm-2 text-right">dont</div>
    <label for="qtySugar" class="col-sm-2 control-label">Sucres</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtySugar" type="text" class="form-control" ng-model="product.qtySugar" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtySugar.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtySugar.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtySugar.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtySugar.$focus">
        La quantité totale de tous les monosaccharides et disaccharides présents dans une denrée alimentaire, à l’exclusion des polyols, rapportée à 100 grammes de produit.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('qtyPolyols')">
    <div class="col-sm-2 text-right">dont</div>
    <label for="qtyPolyols" class="col-sm-2 control-label">Polyols</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyPolyols" type="text" class="form-control" ng-model="product.qtyPolyols" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyPolyols.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyPolyols.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyPolyols.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyPolyols.$focus">
        La quantité totale de tous les alcools comprenant plus de deux groupes hydroxyles, rapportée à 100 grammes de produit.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('amountStarch')">
    <div class="col-sm-2 text-right">dont</div>
    <label for="amountStarch" class="col-sm-2 control-label">Amidon</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="amountStarch" type="text" class="form-control" ng-model="product.amountStarch" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required/>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.amountStarch.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.amountStarch.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.amountStarch.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
</div>


<!-- ================================================================================================================================== -->
<!--                                                          Fibres                                                                    -->
<!-- ================================================================================================================================== -->

<div class="form-group has-feedback" ng-class="check('amountFibers')">
    <label for="amountStarch" class="col-sm-2 control-label">Fibres alimentaires</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input name="amountFibers" type="text" class="form-control" ng-model="product.amountFibers" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required/>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.amountFibers.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.amountFibers.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.amountFibers.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.amountFibers.$focus">
        La quantité totale de fibres alimentaires, rapportée à 100 grammes de produit. Il s'agit des polymères glucidiques composés de trois unités monomériques ou plus, qui ne sont ni digérés ni absorbés dans l’intestin grêle humain et appartiennent à l’une des catégories suivantes:
        <ul>
            <li>polymères glucidiques comestibles, présents naturellement dans la denrée alimentaire telle qu’elle est consommée, </li>
            <li>polymères glucidiques comestibles qui ont été obtenus à partir de matières premières alimentaires brutes par des moyens physiques, enzymatiques ou chimiques et ont un effet physiologique bénéfique démontré par des données scientifiques généralement admises, </li>
            <li>polymères glucidiques comestibles synthétiques qui ont un effet physiologique bénéfique démontré par des données scientifiques généralement admises. </li>
        </ul>
    </div>
</div>




<!-- ================================================================================================================================== -->
<!--                                                          Fibres                                                                    -->
<!-- ================================================================================================================================== -->

<div class="form-group has-feedback" ng-class="check('qtyProtid')">
    <label for="qtyProtid" class="col-sm-2 control-label">Protéines</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input name="qtyProtid" type="text" class="form-control" ng-model="product.qtyProtid" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required/>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtyProtid.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtyProtid.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtyProtid.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtyProtid.$focus">
        La teneur en protéines, rapportée à 100 grammes de produit. Elle peut être calculée à l’aide de la formule: <code>protéines = azote total (Kjeldahl) &times; 6,25</code>
    </div>
</div>


<!-- ================================================================================================================================== -->
<!--                                                            Sel                                                                     -->
<!-- ================================================================================================================================== -->

<div class="form-group has-feedback" ng-class="check('qtySalt')">
    <label for="qtySalt" class="col-sm-2 control-label">Sel</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input name="qtySalt" type="text" class="form-control" ng-model="product.qtySalt" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required/>
            <span class="input-group-addon">g / 100g</span>
        </div>
        <span ng-show="productForm.qtySalt.$error.float" class="help-block">La valeur entrée doit être un nombre décimal.</span>
        <span ng-show="productForm.qtySalt.$error.max" class="help-block">La valeur entrée ne doit pas être supérieure à 100.</span>
        <span ng-show="productForm.qtySalt.$error.min" class="help-block">La valeur entrée ne doit pas être inférieure à 0.</span>
    </div>
    <div class="col-sm-4" ng-show="productForm.qtySalt.$focus">
        La teneur en équivalent en sel, rapportée à 100 grammes de produit. Elle peut être calculée à l’aide de la formule: <code>sel = sodium &times; 2,5</code>.
    </div>
</div>




<div class="form-group">
    <label for="qtyWater" class="col-sm-2 control-label">Eau</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="qtyWater" type="text" class="form-control" ng-model="product.qtyWater" placeholder="ex : 100" alk-focus alk-float="2" ng-max="100" ng-min="0" required/>
            <span class="input-group-addon">g / 100g</span>
        </div>
    </div>
</div>



<!-- ================================================================================================================================== -->
<!--                                                      Traitements                                                                   -->
<!-- ================================================================================================================================== -->


<div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
        <h3>Traitements spécifiques</h3>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="product.isReducedSalt"/> teneur en sel réduite
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="product.isReducedSugar"/> teneur en sucres réduite réduite
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="product.isReducedFat"/>  teneur en graisses réduite
        </label>
    </div>
</div>

<!-- ================================================================================================================================== -->
<!--                                                        Vitamines                                                                   -->
<!-- ================================================================================================================================== -->

<div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
        <h3>Vitamines</h3>
    </div>
</div>
<div class="form-group">
    <label for="amountVitA" class="col-sm-2 control-label">Vitamine A</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitA" type="text" class="form-control" ng-model="product.amountVitA" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitA" type="text" class="form-control" ng-model="product.hasExtraVitA" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitARetinol" class="col-sm-2 control-label">Vitamine A Rétinol</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitARetinol" type="text" class="form-control" ng-model="product.amountVitARetinol" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitARetinol" type="text" class="form-control" ng-model="product.hasExtraVitARetinol" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitB1" class="col-sm-2 control-label">Vitamine B1</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitB1" type="text" class="form-control" ng-model="product.amountVitB1" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitB1" type="text" class="form-control" ng-model="product.hasExtraVitB1" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitB2" class="col-sm-2 control-label">Vitamine B2</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitB2" type="text" class="form-control" ng-model="product.amountVitB2" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitB2" type="text" class="form-control" ng-model="product.hasExtraVitB2" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitB3" class="col-sm-2 control-label">Vitamine B3</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitB3" type="text" class="form-control" ng-model="product.amountVitB3" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitB3" type="text" class="form-control" ng-model="product.hasExtraVitB3" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitB5" class="col-sm-2 control-label">Vitamine B5</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitB5" type="text" class="form-control" ng-model="product.amountVitB5" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitB5" type="text" class="form-control" ng-model="product.hasExtraVitB5" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitB6" class="col-sm-2 control-label">Vitamine B6</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitB6" type="text" class="form-control" ng-model="product.amountVitB6" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitB6" type="text" class="form-control" ng-model="product.hasExtraVitB6" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitB8" class="col-sm-2 control-label">Vitamine B8</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitB8" type="text" class="form-control" ng-model="product.amountVitB8" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitB8" type="text" class="form-control" ng-model="product.hasExtraVitB8" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitB9" class="col-sm-2 control-label">Vitamine B9</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitB9" type="text" class="form-control" ng-model="product.amountVitB9" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitB9" type="text" class="form-control" ng-model="product.hasExtraVitB9" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitB12" class="col-sm-2 control-label">Vitamine B12</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitB12" type="text" class="form-control" ng-model="product.amountVitB12" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitB12" type="text" class="form-control" ng-model="product.hasExtraVitB12" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitC" class="col-sm-2 control-label">Vitamine C</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitC" type="text" class="form-control" ng-model="product.amountVitC" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitC" type="text" class="form-control" ng-model="product.hasExtraVitC" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitD" class="col-sm-2 control-label">Vitamine D</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitD" type="text" class="form-control" ng-model="product.amountVitD" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitD" type="text" class="form-control" ng-model="product.hasExtraVitD" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitE" class="col-sm-2 control-label">Vitamine E</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitE" type="text" class="form-control" ng-model="product.amountVitE" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitE" type="text" class="form-control" ng-model="product.hasExtraVitE" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVitK" class="col-sm-2 control-label">Vitamine K</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVitK" type="text" class="form-control" ng-model="product.amountVitK" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVitK" type="text" class="form-control" ng-model="product.hasExtraVitK" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>



<!-- ================================================================================================================================== -->
<!--                                                     Minéraux et métaux                                                             -->
<!-- ================================================================================================================================== -->

<div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <h3>Minéraux et métaux</h3>
    </div>
</div>
<div class="form-group">
    <label for="amountCa" class="col-sm-2 control-label">Calcium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountCa" type="text" class="form-control" ng-model="product.amountCa" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraCa" type="text" class="form-control" ng-model="product.hasExtraCa" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountFe" class="col-sm-2 control-label">Fer</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountFe" type="text" class="form-control" ng-model="product.amountFe" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraFe" type="text" class="form-control" ng-model="product.hasExtraFe" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountMg" class="col-sm-2 control-label">Magnésium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountMg" type="text" class="form-control" ng-model="product.amountMg" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraMg" type="text" class="form-control" ng-model="product.hasExtraMg" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountNa" class="col-sm-2 control-label">Sodium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountNa" type="text" class="form-control" ng-model="product.amountNa" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraNa" type="text" class="form-control" ng-model="product.hasExtraNa" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountP" class="col-sm-2 control-label">Phosphore</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountP" type="text" class="form-control" ng-model="product.amountP" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraP" type="text" class="form-control" ng-model="product.hasExtraP" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountK" class="col-sm-2 control-label">Potassium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountK" type="text" class="form-control" ng-model="product.amountK" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraK" type="text" class="form-control" ng-model="product.hasExtraK" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountS" class="col-sm-2 control-label">Souffre</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountS" type="text" class="form-control" ng-model="product.amountS" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraS" type="text" class="form-control" ng-model="product.hasExtraS" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountAl" class="col-sm-2 control-label">Aluminium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountAl" type="text" class="form-control" ng-model="product.amountAl" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraAl" type="text" class="form-control" ng-model="product.hasExtraAl" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountAs" class="col-sm-2 control-label">Arsenic</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountAs" type="text" class="form-control" ng-model="product.amountAs" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraAs" type="text" class="form-control" ng-model="product.hasExtraAs" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountB" class="col-sm-2 control-label">Bore</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountB" type="text" class="form-control" ng-model="product.amountB" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraB" type="text" class="form-control" ng-model="product.hasExtraB" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountCl" class="col-sm-2 control-label">Chlore</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountCl" type="text" class="form-control" ng-model="product.amountCl" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraCl" type="text" class="form-control" ng-model="product.hasExtraCl" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountCr" class="col-sm-2 control-label">Chrome</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountCr" type="text" class="form-control" ng-model="product.amountCr" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraCr" type="text" class="form-control" ng-model="product.hasExtraCr" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountCo" class="col-sm-2 control-label">Cobalt</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountCo" type="text" class="form-control" ng-model="product.amountCo" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraCo" type="text" class="form-control" ng-model="product.hasExtraCo" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountCu" class="col-sm-2 control-label">Cuivre</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountCu" type="text" class="form-control" ng-model="product.amountCu" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraCu" type="text" class="form-control" ng-model="product.hasExtraCu" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountF" class="col-sm-2 control-label">Fluor</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountF" type="text" class="form-control" ng-model="product.amountF" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraF" type="text" class="form-control" ng-model="product.hasExtraF" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountI" class="col-sm-2 control-label">Iode</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountI" type="text" class="form-control" ng-model="product.amountI" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraI" type="text" class="form-control" ng-model="product.hasExtraI" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountMn" class="col-sm-2 control-label">Magnésium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountMn" type="text" class="form-control" ng-model="product.amountMn" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraMn" type="text" class="form-control" ng-model="product.hasExtraMn" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountMo" class="col-sm-2 control-label">Molybdène</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountMo" type="text" class="form-control" ng-model="product.amountMo" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraMo" type="text" class="form-control" ng-model="product.hasExtraMo" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountNi" class="col-sm-2 control-label">Nickel</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountNi" type="text" class="form-control" ng-model="product.amountNi" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraNi" type="text" class="form-control" ng-model="product.hasExtraNi" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountPb" class="col-sm-2 control-label">Plomb</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountPb" type="text" class="form-control" ng-model="product.amountPb" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraPb" type="text" class="form-control" ng-model="product.hasExtraPb" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountSi" class="col-sm-2 control-label">Silicium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountSi" type="text" class="form-control" ng-model="product.amountSi" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraSi" type="text" class="form-control" ng-model="product.hasExtraSi" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountSe" class="col-sm-2 control-label">Sélénium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountSe" type="text" class="form-control" ng-model="product.amountSe" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraSe" type="text" class="form-control" ng-model="product.hasExtraSe" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountVa" class="col-sm-2 control-label">Vanadium</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountVa" type="text" class="form-control" ng-model="product.amountVa" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraVa" type="text" class="form-control" ng-model="product.hasExtraVa" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="amountZn" class="col-sm-2 control-label">Zinc</label>
    <div class="col-sm-5">
        <div class="input-group">
            <input name="amountZn" type="text" class="form-control" ng-model="product.amountZn" placeholder="ex : 100" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
    <div class="col-sm-1 text-right">ajouté :</div>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="hasExtraZn" type="text" class="form-control" ng-model="product.hasExtraZn" placeholder="ex : 1.3" alk-focus alk-float="2"/>
            <span class="input-group-addon">mg / 100g</span>
        </div>
    </div>
</div>