<style>
    .table > tbody {
        margin-bottom: 20px;
    }
    .table > tbody > tr > td{
        border-top: 0px;
    }
    .table > tbody > tr {
        border-top: 0px;
        border-bottom: 0px;
        border-spacing: 0px;
    }
    .pnq-name {
        text-align: right;
    }
    .separator {
         margin-right: 30px;
    }
</style>

<p>
    Les valeurs ci-dessous doivent être remplies en valeur moyenne, c'est à dire avec la valeur qui représente le mieux la quantité d’un nutriment contenu dans une denrée alimentaire donnée et qui tient compte des tolérances dues aux variations saisonnières, aux habitudes de consommation et aux autres facteurs pouvant influencer la valeur effective.
</p>

<div class="pull-right">
    <span class="btn btn-success"><i class="fa fa-plus"></i> Créer une quantité de référence</span>
</div>
<h3>Déclaration nutritionnelle</h3>

<table class="table">
    <thead>
        <tr>
            <th class="col-lg-2 text-right">Taille de référence</th>
            <th ng-repeat="productStandardQuantity in product.isPartitionedBy">{{ productStandardQuantity.name }}</th>
            <th class="col-lg-1"></th>
        </tr>
    </thead>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19056]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19057]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19058]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19059]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19060]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19061]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19062]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19063]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19064]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19065]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19066]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19067]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19068]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19069]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19070]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19071]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19072]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19073]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19074]"></tbody>

    <tbody>
        <tr colspan="{{ 2 + product.isPartitionedBy.length }}">
            <td><h3>Vitamines</h3></td>
        </tr>
    </tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18978]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18739]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18740]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18741]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18744]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18983]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18743]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18742]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18984]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18985]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18982]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18979]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18980]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18981]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18986]"></tbody>

    <tbody>
        <tr colspan="{{ 2 + product.isPartitionedBy.length }}">
            <td><h3>Minéraux et métaux</h3></td>
        </tr>
    </tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19075]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19076]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19077]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18989]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18988]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18998]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19078]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18994]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18992]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18996]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19000]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18991]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18999]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19079]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18990]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19080]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18987]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19081]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19082]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19083]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18997]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[19084]"></tbody>
    <tbody product-field psqs="product.isPartitionedBy" pnq="pnqs[18993]"></tbody>
</table>

<!-- ================================================================================================================================== -->
<!--                                                      Traitements                                                                   -->
<!-- ================================================================================================================================== -->

<h3>Traitements spécifiques</h3>
<div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="product.isReducedSalt"/> teneur en sel réduite
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="product.isReducedSugar"/> teneur en sucres réduite réduite
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="product.isReducedFat"/>  teneur en graisses réduite
        </label>
    </div>
</div>