<!-- ================================================================================================================================== -->
<!--                                                Packaging                                                              -->
<!-- ================================================================================================================================== -->

<h3>Emballage</h3>
<div class="form-group has-feedback" ng-class="check('packaging')">
    <label for="packaging" class="col-sm-2 control-label">Packaging</label>
    <div class="col-sm-10">
        <input ng-model="product.packaging" name="packaging" class="form-control" type="text" placeholder="La description du packaging du produit." required alk-focus>
        <div input-block-help field="productForm.packaging">
            An alphanumeric size factor the brand owner wishes to communicate to the consumer.
            <br/>
            Contient le contenu net tel que exprimé sur l'emballage : "24 x 33 cl". La quantité totale de produit (792 cl) continue d'être échangée dans la donnée netContent.
        </div>
        <div input-block-example field="productForm.packaging">
            ex : 4x100g
        </div>
        <div input-block-gdsn field="productForm.packaging">
            Correspond dans la GDSN a la balise <code>descriptiveSize</code>.
        </div>
    </div>
</div>


<div class="form-group has-feedback" ng-class="check('isPack')">
    <label for="isPack" class="col-sm-6 control-label">Ce produit est-il un lot de plusieurs {{ product.packagingName || 'produits' }}(s) ?</label>
    <div class="col-sm-6">
        <label class="radio-inline">
            <input ng-model="product.isPack" name="isPack" type="radio" ng-value="true" > oui
        </label>
        <label class="radio-inline">
            <input ng-model="product.isPack" name="isPack" type="radio" ng-value="false" > non
        </label>
    </div>
</div>
<fieldset ng-show="product.isPack === true">
    <div class="form-group has-feedback">
        <label for="madeOf" class="col-sm-6 control-label">Un lot de quel produit ?</label>
        <div class="col-sm-6">
            <div ng-model="product.madeOf" name="madeOf" type="text" ui-select2="select2productOptions" style="width: 100%;"></div>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="check('factorPA')">
        <label for="factorPA" class="col-sm-6 control-label">En combien d'exemplaires ?</label>
        <div class="col-sm-6">
            <input ng-model="product.factorPA" name="factorPA" type="text" class="form-control" placeholder="ex : 2" ng-min="0" alk-integer required>
            <span ng-show="productForm.factorPA.$error.integer" class="help-block">Cette quantité doit être un nombre entier.</span>
            <span ng-show="productForm.factorPA.$error.min" class="help-block">Cette quantité doit être plus grande que 0.</span>
        </div>
    </div>
</fieldset>


<div class="form-group has-feedback" ng-class="check('packagingName')">
    <label for="packagingName" class="col-sm-6 control-label">Comment s'appelle l'emballage de ce produit ?</label>
    <div class="col-sm-6">
        <input ng-model="product.packagingName" name="packagingName" type="text" class="form-control" placeholder="ex : conserve">
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('isSplitable')">
    <label for="isSplitable" class="col-sm-6 control-label">Ce {{ product.packagingName || 'produit' }} contient-il plusieurs {{ product.unitFridge || 'subdivision' }}(s) ?</label>
    <div class="col-sm-6">
        <label class="radio-inline">
            <input ng-model="product.isSplitable" name="isSplitable" type="radio" ng-value="true" > oui
        </label>
        <label class="radio-inline">
            <input ng-model="product.isSplitable" name="isSplitable" type="radio" ng-value="false"> non
        </label>
    </div>
</div>
<fieldset ng-show="product.isSplitable === true">
    <div class="form-group has-feedback" ng-class="check('factorFUPA')">
        <label for="factorPA" class="col-sm-6 control-label">Combien de {{ product.unitFridge || 'subdivision' }}(s) ?</label>
        <div class="col-sm-6">
            <input ng-model="product.factorFUPA" name="factorFUPA" type="text" class="form-control" placeholder="ex : 2" alk-integer ng-min="0">
            <span ng-show="productForm.factorFUPA.$error.integer" class="help-block">Cette quantité doit être un nombre entier.</span>
            <span ng-show="productForm.factorFUPA.$error.min" class="help-block">Cette quantité doit être plus grande que 0.</span>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="check('unitFridge')">
        <label for="unitFridge" class="col-sm-6 control-label">Comment s'appelle une subdivision ?</label>
        <div class="col-sm-6">
            <input ng-model="product.unitFridge" name="unitFridge" type="text" class="form-control" placeholder="ex : barquette">
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="check('factorSIFU')">
        <label for="factorSIFU" class="col-sm-6 control-label">Combien mesure une {{ product.unitFridge || 'subdivision' }}(s) ?</label>
        <div class="col-sm-4">
            <input ng-model="product.factorSIFU" name="factorSIFU" type="text" class="form-control" placeholder="ex : 200" alk-float/>
            <span ng-show="productForm.factorSIFU.$error.float" class="help-block">Cette quantité doit être un nombre décimal.</span>
            <span ng-show="productForm.factorSIFU.$error.min" class="help-block">Cette quantité doit être plus grande que 0.</span>
        </div>
        <div class="col-sm-2">
            <input ng-model="product.isMeasuredBy" name="isMeasuredBy" type="text" ui-select2="select2commonunitOptions" style="width: 100%" placeholder="ex : g">
        </div>
    </div>
</fieldset>
<fieldset ng-show="product.isSplitable === false">
    <div class="form-group has-feedback" ng-class="check('factorSIFU')">
        <label for="factorSIFU" class="col-sm-6 control-label">Combien mesure ce {{ product.packagingName || 'produit' }} ?</label>
        <div class="col-sm-4">
            <input ng-model="product.factorSIFU" name="factorSIFU" type="text" class="form-control" placeholder="ex : 200" alk-float/>
            <span ng-show="productForm.factorSIFU.$error.float" class="help-block">Cette quantité doit être un nombre décimal.</span>
            <span ng-show="productForm.factorSIFU.$error.min" class="help-block">Cette quantité doit être plus grande que 0.</span>
        </div>
        <div class="col-sm-2">
            <input ng-model="product.isMeasuredBy" name="isMeasuredBy" type="text" ui-select2="select2commonunitOptions" style="width: 100%" placeholder="ex : g"/>
        </div>
    </div>
</fieldset>


<!-- ================================================================================================================================== -->
<!--                                                        Quantité nette                                                              -->
<!-- ================================================================================================================================== -->

<h3>Quantités</h3>
<div class="form-group has-feedback" ng-class="check('quantityNormalized')">
    <label for="quantityNormalized" class="col-sm-2 control-label">Quantité nette</label>
    <div class="col-sm-4">
        <input ng-model="product.quantityNormalized" name="quantityNormalized" type="text" class="form-control" placeholder="ex : 200" ng-min="0" alk-float alk-focus required/>
        <span ng-show="productForm.quantityNormalized.$error.required" class="help-block">La quantité nette du produit est obligatoire.</span>
        <span ng-show="productForm.quantityNormalized.$error.float" class="help-block">La quantité nette du produit doit être un nombre décimal.</span>
        <span ng-show="productForm.quantityNormalized.$error.min" class="help-block">Cette quantité doit être plus grande que 0.</span>
    </div>
    <div class="col-sm-2">
        <input type="text" ng-model="product.isMeasuredBy" type="text" select ui-select2="select2commonunitOptions" style="width: 100%" placeholder="ex : g"/>
    </div>
    <div input-block-help field="productForm.quantityNormalized" class="col-sm-offset-2 col-sm-10">
        <strong id="art23">Quantité nette :</strong>
        La quantité nette d'une denrée alimentaire est exprimée, en utilisant, selon le cas, le litre, le centilitre, le millilitre ou bien le kilogramme ou le gramme:
        <ul>
            <li>en unités de volume pour les produits liquides; </li>
            <li>en unités de masse pour les autres produits. </li>
        </ul>
    </div>
    <div input-block-help field="productForm.quantityNormalized" class="col-sm-offset-2 col-sm-10">
        The amount of the trade item contained by a package, usually as claimed on the label. For  example, Water 750ml net content = "750 ML" ; 20 count pack of diapers, net content = "20 PC.". In case of multi-pack, indicates the net content of the total trade item. For fixed
        alue trade items use the value claimed on the package, to avoid variable fill rate issue that  arises with some trade item which are sold by volume or weight, and whose actual content  may  vary  slightly  from  batch  to  batch.  In  case  of  variable  quantity trade items, indicates the average quantity.
        <br/>
        Doit  correspondre à la quantité nette telle que déclarée sur l'emballage de la denrée alimentaire. La quantité nette doit être échangée dans une des unités de mesure suivante :le litre, le centilitre, le millilitre, le kilogramme, le gramme. Le contenu net de certaines denrées alimentaires (ex : œufs) peut également être exprimé en pièce, code GS1 : PC.
    </div>
    <div input-block-help field="productForm.quantityNormalized">
        Correspond dans la GDSN a la balise <code>netContent</code>.
    </div>
</div>
<div class="form-group has-feedback" ng-class="check('drainedWeight')">
    <label for="drainedWeight" class="col-sm-2 control-label">Poids net égoutté</label>
    <div class="col-sm-4">
        <input ng-model="product.drainedWeight" name="drainedWeight" type="text" class="form-control" placeholder="ex : 200" ng-min="0" alk-float alk-focus/>
        <span ng-show="productForm.drainedWeight.$error.float" class="help-block">La quantité nette du produit doit être un nombre décimal.</span>
        <span ng-show="productForm.drainedWeight.$error.min" class="help-block">Cette quantité doit être plus grande que 0.</span>
    </div>
    <div class="col-sm-2">
    <!--
        <input type="text" ng-model="product.isMeasuredBy" type="text" select ui-select2="select2commonunitOptions" style="width: 100%" placeholder="ex : g"/>
        -->
    </div>
    <div input-block-help field="productForm.drainedWeight" class="col-sm-offset-2 col-sm-10">
        The weight of the trade item when drained of its liquid. For example 225 "GR", Jar of pickles in vinegar. Applies to defined bricks of GCI Global trade item Classification Mainly food trade item. Has to be associated with a valid UoM.
        <br/>
        La quantité nette doit être échangée dans une des unités de mesure suivante : le kilogramme, le gramme. La quantité nette décrite dans la fiche produit doit correspondre exactement à celle présente sur l'emballage du produit.
    </div>
    <div input-block-help field="productForm.drainedWeight">
        Correspond dans la GDSN a la balise <code>drainedWeight</code>.
    </div>
</div>



<!--
concept_id
concept
unit_si_id
unit_si
concept_unit_id
concept_unit
brand_id
brand
-->