.products {
    .ratio {
        position: relative;
        max-height: 100%;
        height: auto;
        max-width: 100%;
        width: auto;
        border: 1px solid #eeeeee;
    }
}

.sidebar {
    .new-products {
        margin: 2*$padding-base-vertical 0;
    }

    .btn {
        border: 1px solid white;

        &.highlight, &:hover {
            @extend .color-stream;
        }

        .badge {
            background-color: $alk-red;
        }
    }

    .ratio {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        /* % of width, defines aspect ratio*/
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border: 1px solid #eeeeee;
    }
}

// Set this class on a label
.inco-field {
    &:after {
        background-color: $alk-orange-darker;
        color: white;
        content: "INCO";
        font-size: 0.8em;
        margin-left: 0.5em;
        padding: 0.5em;
    }
}
