<div class="modal-header">
    <div class="row">
        <h3 class="col-xs-12">
            <span ng-if="errors.unknown === false">Gérer une marque existante</span>
            <span ng-if="errors.unknown">Créer une nouvelle marque</span>
        </h3>
    </div>
</div>
<div class="modal-body">
    <form role="form" name="claimForm">
        <div class="form-group" ng-show="errors.unknown === false">
            <div class="form-group">
                <label for="isBrandedBy">Rechercher une ou plusieurs marques :</label>
                <div alk-autocomplete
                     alk-autocomplete-type="Brand"
                     alk-autocomplete-multiple="true"
                     placeholder="Chercher une marque"
                     ng-model="request.selectedBrand"
                     id="_runsOnProduct">
                </div>
                <div class="checkbox" ng-show="user.isAdmin()">
                    <label>
                       <input type="checkbox" ng-model="createSegment"/>
                      <span ng-pluralize count="request.selectedBrand.length"
                                    when="{'0': 'Définir cette marque comme une nouvelle gamme de produits',
                                          '1': 'Définir cette marque comme une nouvelle gamme de produits',
                                           'other': 'Définir ces marques comme de nouvelles gammes de produits'}">
                      </span>

                  </label>
                </div>
            </div>
        </div>
        <div ng-if="errors.unknown">
            <div class="form-group">
                <label for="nameLegal">Dénomination légale de la marque</label>
                <input type="text" class="form-control" name="nameLegal" ng-model="request.createdBrand" placeholder="ex: Ma marque" required/>
            </div>
        </div>
        <div class="form-group text-right">
            <span ng-if="errors.ok">
                <span class="btn btn-primary" ng-if="errors.unknown === false" ng-click="sendRequestBrand()"><i class="mdi mdi-plus"></i> Demander l'accès à cette marque</span>
                <span class="btn btn-primary" ng-if="errors.unknown === true" ng-click="sendRequestNewBrand()"><i class="mdi mdi-plus"></i> Créer cette marque</span>
            </span>
        </div>
    </form>
    <div ng-if="errors.ok === false" class="alert alert-success">
        Votre demande a bien été enregistrée.
    </div>
</div>
<div class="modal-footer">
    <div class="text-right">
        <span class="btn btn-default" ng-if="errors.unknown === true" ng-click="brandNotInList()">Rechercher parmi les marques existantes</span>
        <span class="btn btn-default" ng-if="errors.unknown === false" ng-click="brandNotInList()">Ma marque n'est pas dans la liste</span>
        <span class="btn btn-primary" ng-if="errors.ok === false" ng-click="cancel()"><i class="fa fa-check"></i> OK</span>
        <span class="btn btn-link" ng-click="cancel()"><i class="fa fa-times"></i> Annuler</span>
    </div>
</div>
